# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [3]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [4]:
# Your code here:

salaries = pd.read_csv('../data/Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [13]:
# Your code here:

salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [10]:
# Your code here:

salaries.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [11]:
# Your code here:

salaries.groupby('Salary or Hourly')['Salary or Hourly'].count()

Salary or Hourly
Hourly     8174
Salary    25528
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [18]:
# Your code here:

salaries.groupby('Department')['Name'].count()

Department
ADMIN HEARNG              38
ANIMAL CONTRL             75
AVIATION                1856
BOARD OF ELECTION        111
BOARD OF ETHICS            8
BUDGET & MGMT             44
BUILDINGS                258
BUSINESS AFFAIRS         167
CITY CLERK                88
CITY COUNCIL             362
COPA                     123
CULTURAL AFFAIRS          74
DAIS                    1033
DISABILITIES              28
FAMILY & SUPPORT         656
FINANCE                  544
FIRE                    4627
HEALTH                   467
HOUSING                   66
HOUSING & ECON DEV       154
HUMAN RELATIONS           17
HUMAN RESOURCES           75
INSPECTOR GEN             95
LAW                      398
LICENSE APPL COMM          1
MAYOR'S OFFICE           104
OEMC                    1737
POLICE                 13848
POLICE BOARD               2
PROCUREMENT               84
PUBLIC LIBRARY          1088
PUBLIC SAFETY ADMIN      244
STREETS & SAN           2175
TRANSPORTN              1113
TREASURER                 28
WATER MGMNT             1914
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [46]:
# Your code here:

from scipy import stats

stat, pval = stats.ttest_1samp(salaries['Hourly Rate'], 30, nan_policy = 'omit')

# salaries['Hourly Rate'].mean()

# P-value < 0.05, therefore we can reject null hypothesis that the mean hourly wage is USD30/h.

pval

3.8254758476651327e-202

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [79]:
# Your code here:

# I select POLICE and POLICE BOARD to account for all Police forces.

police = salaries.loc[(salaries['Department'] == 'POLICE')| (salaries['Department'] == 'POLICE BOARD')]

# police['Annual Salary'].mean()

stat, pval = stats.ttest_1samp(police['Annual Salary'], 86000, nan_policy = 'omit')

# The p-value/2 is extremely small, therefore we can reject null hypothesis that the mean of 
# this year's salaries is less or equal to USD 86000.

print(stat, pval/2)

88834.25632865615

Using the `crosstab` function, find the department that has the most hourly workers.

In [63]:
# Your code here:

# The Streets and Sanitation Department has the most hourly workers.

deps = pd.crosstab(salaries['Department'], salaries['Salary or Hourly'])

deps['Hourly'].idxmax()

'STREETS & SAN'

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [78]:
# Your code here:

streets_san = salaries.loc[salaries['Department'] == 'STREETS & SAN']

# streets_san['Hourly Rate'].mean()

stat, pval = stats.ttest_1samp(streets_san['Hourly Rate'], 35, nan_policy = 'omit')

# Based on t-test results we can reject the null hypothesis that the hourly rate in 
# this department is less than or equal to USD 35/h.

print(stat, pval/2)

4.000138803968886 3.2902372218851916e-05

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [85]:
# Your code here:

# scipy.stats.sem
# Compute standard error of the mean.
# Calculate the standard error of the mean (or standard error of measurement) of the 
# values in the input array.


# 95% confidence interval for the mean hourly wage of all hourly workers.

dff = len(salaries)-1

sample_mean = salaries['Hourly Rate'].mean()
sample_std = stats.sem(salaries['Hourly Rate'], nan_policy = 'omit')

confint = t.interval(0.95, df = dff, loc = sample_mean, scale = sample_std)

print(f'95% confidence interval is {confint}')

95% confidence interval is (34.298427706539755, 34.87447173070028)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [87]:
# Your code here:

dff = len(police)-1

sample_mean = police['Annual Salary'].mean()
sample_std = stats.sem(police['Annual Salary'], nan_policy = 'omit')

confint = t.interval(0.95, df = dff, loc = sample_mean, scale = sample_std)

print(f'95% confidence interval is {confint}')

95% confidence interval is (88534.27444016836, 89134.23821714394)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [16]:
# Your code here:

# prop_hourly = 0.242538

# salaries.groupby('Salary or Hourly')['Salary or Hourly'].count()/len(salaries)

Salary or Hourly
Hourly    0.242538
Salary    0.757462
Name: Salary or Hourly, dtype: float64

In [15]:
from statsmodels.stats.proportion import proportions_ztest

# TO FINISH

count = np.where( salaries[salaries['Salary or Hourly'] == 'Hourly', 1, 0) 
nobs = np.where(salaries[salaries['Salary or Hourly'] == 'Hourly'],  )

# stat, pval = 
# proportions_ztest(count, nobs, 0.25)

TypeError: can't multiply sequence by non-int of type 'float'