# Before you start :
   - These exercises are related to the Pivot table and correlation lessons.
   - Keep in mind that you need to use some of the functions you learned in the previous lessons.
   - Elaborate your codes and outputs as much as you can.
   - Try your best to answer the questions and complete the tasks and most importantly enjoy the process!!!
  
#### Import all the necessary libraries here:

In [1]:
import pandas as pd
import numpy as np

# Challenge 1

#### Read the `employees` dataset from Ironhack's database:
* db: `employees`
* table: `employees`

Save your data in a variable called `employees`.

In [2]:
employee = pd.read_csv('employee.csv')

#### What's the mean `Salary` by `Department`?
**Tip**: There are 2 ways to do it: with or without pivot tables. Do it both ways.

In [3]:
employee.pivot_table(columns=["Department"])

Department         HR     IT  Sales
Salary      45.000000  48.75   55.0
Years        4.666667   4.50    2.5

In [4]:
info = pd.DataFrame(employee)
info.mean()

Years      4.111111
Salary    48.888889
dtype: float64

#### Now, group the data by more than one column. Use Pandas pivot table function to select the mean `Salary` by `Department` and `Title`.

In [5]:
employee.pivot_table(index=["Department"], columns=["Title"])

           Salary                   Years
Title          VP analyst associate    VP analyst associate
Department
HR           70.0    32.5       NaN   8.0     3.0       NaN
IT           70.0    32.5      60.0   8.0     1.5       7.0
Sales         NaN     NaN      55.0   NaN     NaN       2.5

#### Display the number of `Years` of work experience and the `Salary` for each `Title`. Add `Years` as a column in your pivot table.
**Hint**: Use Pandas documentation to explore the [pivot table](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html) function.

In [6]:
employee.pivot_table(index=['Department', 'Title'],  values=['Salary','Years'], aggfunc='mean')

                      Salary  Years
Department Title
HR         VP           70.0    8.0
           analyst      32.5    3.0
IT         VP           70.0    8.0
           analyst      32.5    1.5
           associate    60.0    7.0
Sales      associate    55.0    2.5

#### Find the mean `Salary` and number of employees in each `Department` and for each job `Title`.

In [7]:
employee2 = employee.pivot_table(index = ["Department"], columns = ["Title"], values = ["Salary"], aggfunc = np.mean)
employee2

           Salary
Title          VP analyst associate
Department
HR           70.0    32.5       NaN
IT           70.0    32.5      60.0
Sales         NaN     NaN      55.0

#### For each `Department` and each job `Title`, find the `Salary` median, minimum, maximum and standard deviation. Comment your results.

In [8]:
employee.pivot_table(values=['Salary'], index=['Department', 'Title'], aggfunc='describe')

                     Salary
                        25%   50%    75% count   max  mean   min       std
Department Title
HR         VP         70.00  70.0  70.00   1.0  70.0  70.0  70.0       NaN
           analyst    31.25  32.5  33.75   2.0  35.0  32.5  30.0  3.535534
IT         VP         70.00  70.0  70.00   1.0  70.0  70.0  70.0       NaN
           analyst    31.25  32.5  33.75   2.0  35.0  32.5  30.0  3.535534
           associate  60.00  60.0  60.00   1.0  60.0  60.0  60.0       NaN
Sales      associate  55.00  55.0  55.00   2.0  55.0  55.0  55.0  0.000000

In [9]:
"""
Salaries between the 25th and 75th percentile average around the same
"""

'\nSalaries between the 25th and 75th percentile average around the same\n'

#### Based on your comments, fill the missing values with an appropriate value.

#### The stake holders want to know, for each `Department`, the number of employees and how much money is spent on salaries. Could you provide that information?

In [10]:
employee.pivot_table(values=['Salary', 'Title'], index='Department', aggfunc={'Title': lambda x: len(x), 'Salary':'sum'})

            Salary  Title
Department
HR             135      3
IT             195      4
Sales          110      2

#### For each `Department` and `Title`, find the the total years of work experience and the mean `Salary`.

In [11]:
employee.groupby(['Department'], sort=False)['Salary'].max()

Department
IT       70
HR       70
Sales    55
Name: Salary, dtype: int64

## Bonus Challenge 1

#### Compute the mean `Salary` after removing the maximum `Salary` for each `Department`. Create the appropriate pivot table.
**Hint**: Write a custom function.

In [12]:
# your code here

# Challenge 2

#### Read the `fitbit` dataset from Ironhack's database:
* db: `fitbit`
* table: `fitbit`

Save your data in a variable called `fitbit`.

In [13]:
# your code here

#### Explore you dataset in terms of data types and descriptive statistics.
**Hint**: Use Pandas functions from previous lectures.

In [14]:
# your code here

#### You suspect that there must be a linear relationship between the `Minutes Very Active` and the `Steps`. Compute the correlation between these variables.

In [15]:
# your code here

#### Use matplotlib to visually plot `Minutes Very active` vs `Steps`. We'll work with matplotlib next week. As a first introduction, uncomment and complete the following code. You need to replace the # symbol for the correct function arguments.

In [16]:
import matplotlib.pyplot as plt;

In [17]:
"""
plt.scatter(#, #)
plt.title(#)
plt.xlabel(#)
plt.ylabel(#)
plt.show()
"""

'\nplt.scatter(#, #)\nplt.title(#)\nplt.xlabel(#)\nplt.ylabel(#)\nplt.show()\n'

#### What can you say about `Minutes Very Active` and `Steps`? Write a comment below.

In [18]:
"""
your commments here
"""

'\nyour commments here\n'

#### We also suspect that there must be a linear relationship between the `Minutes Sedentary` and the `Steps`. Compute the correlation between these variables.

In [19]:
# your code here

#### Use matplotlib to visually plot `Minutes Sedentary` vs `Steps`. Based on the results of the computed correlation and the plot, what can you say about these 2 variables?

In [20]:
# your code here

In [21]:
"""
your commments here
"""

'\nyour commments here\n'

#### We also suspect that there must be a linear relationship between the `MinutesOfSleep` and the `Steps`. Compute the correlation between these variables.

In [22]:
# your code here

#### Use matplotlib to visually plot `MinutesOfSleep` vs `Steps`. Based on the results of the computed correlation and the plot, what can you say about these 2 variables?

In [23]:
# your code here

In [24]:
"""
your commments here
"""

'\nyour commments here\n'

#### Select a subset of your dataset with the columns below and compute the correlation matrix. Save the results in the variable `cor_fit`.

In [25]:
columns = ['Calorie burned', 'Steps', 'Floors', 'Minutes Sedentary', 'Minutes Very Active', 'MinutesOfSleep']

In [26]:
# your code here

#### Based on the result of the correlation matrix, which of the features are highly correlated with variable `Steps`?
**Hint**: sort the correlations of `Steps` vs the rest of the features in descending order. You can use Pandas `sort_values`.

In [27]:
# your code here

# Challenge 3

#### Read the `time_grades` dataset from Ironhack's database:
* db: `time_grades`
* table: `time_grades`

Save your data in a variable called `time_grades`.

In [28]:
# your code here

#### Show visually the frequency distribution of the `time_grades` dataset.

In [29]:
# your code here

#### Is there a correlation between `Study time` and `Grade`? Use both Pearson and Spearman correlations and comment your results.

In [30]:
# your code here

In [31]:
"""
your commments here
"""

'\nyour commments here\n'

#### Use matplotlib to visually plot `Study time` vs `Grade`. Based on the results of the computed correlation and the plot, what can you say about these 2 variables?

In [32]:
# your code here

In [33]:
"""
your commments here
"""

'\nyour commments here\n'

#### Could you explain the difference between Pearson and Spearman correlations?

In [34]:
"""
your commments here
"""

'\nyour commments here\n'