# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

# Challenge - Passing a Lambda Expression to a Function

In the next excercise you will create a function that returns a lambda expression. Create a function called `modify_list`. The function takes two arguments, a list and a lambda expression. The function iterates through the list and applies the lambda expression to every element in the list.

In [115]:
def modify_list(lst, lmbda):
    """
    Input: list and lambda expression
    Output: the transformed list
    """
    lmbda = lambda x: x*2
    return [lmbda(l) for l in lst]

modify_list([1,2,3],lmbda)

[2, 4, 6]

#### Now we will define a lambda expression that will transform the elements of the list. 

In the cell below, create a lambda expression that converts Celsius to Kelvin. Recall that 0°C + 273.15 = 273.15K

In [112]:
conversion_Kelvin = lambda c: (c+273.15)

conversion_Kelvin(30)

303.15

Finally, convert the list of temperatures below from Celsius to Kelvin.

In [23]:
temps = [12, 23, 38, -55, 24]

resultat = [conversion_Kelvin(i) for i in temps]

print(resultat)

[285.15, 296.15, 311.15, 218.14999999999998, 297.15]

#### In this part, we will define a function that returns a lambda expression

In the cell below, write a lambda expression that takes two numbers and returns 1 if one is divisible by the other and zero otherwise. Call the lambda expression `mod`.

In [62]:
mod = lambda x,y:1 if x % y == 0 else 0

mod(5,2)

0

#### Now create a function that returns mod. The function only takes one argument - the first number in the `mod` lambda function. 

Note: the lambda function above took two arguments, the lambda function in the return statement only takes one argument but also uses the argument passed to the function.

In [78]:
def divisor(b):
    """
    Input: a number
    Output: a function that returns 1 if the number is 
    divisible by another number (to be passed later) and zero otherwise.
    """
    return lambda x:1 if x % b == 0 else "non divisible"

Finally, pass the number 5 to `divisor`. Now the function will check whether a number is divisble by 5. Assign this function to `divisible5`

In [79]:
divisible5 = divisor(5)

Test your function with the following test cases:

In [80]:
divisible5(10)

1

In [81]:
divisible5(8)

'non divisible'

# Bonus Challenge - Using Lambda Expressions in List Comprehensions

In the following challenge, we will combine two lists using a lambda expression in a list comprehension. 

To do this, we will need to introduce the `zip` function. The `zip` function returns an iterator of tuples.

In [56]:
# Here is an example of passing one list to the zip function. 
# Since the zip function returns an iterator, we need to evaluate the iterator by using a list comprehension.

l = [1,2,3,4,5]
[x for x in zip(l)]

[(1,), (2,), (3,), (4,), (5,)]

Using the `zip` function, let's iterate through two lists and add the elements by position.

In [85]:
list1 = ['Green', 'cheese', 'English', 'tomato']
list2 = ['eggs', 'cheese', 'cucumber', 'tomato']

combin = lambda l1,l2: l1 + " " + l2
[combin(l1,l2) for l1,l2 in zip(list1,list2)]

['Green eggs', 'cheese cheese', 'English cucumber', 'tomato tomato']

# Bonus Challenge - Using Lambda Expressions as Arguments

#### In this challenge, we will zip together two lists and sort by the resulting tuple.

In the cell below, take the two lists provided, zip them together and sort by the first letter of the second element of each tuple. Do this using a lambda function.

In [100]:
list1 = ['Engineering', 'Computer Science', 'Political Science', 'Mathematics']
list2 = ['Lab', 'Homework', 'Essay', 'Module']



liste_à_trier = [t for t in zip(list1,list2)]
print(liste_à_trier)

sort_list_combin = lambda x: x[1][0]

sorted(liste_à_trier, key=sort_list_combin)

[('Engineering', 'Lab'), ('Computer Science', 'Homework'), ('Political Science', 'Essay'), ('Mathematics', 'Module')]

[('Political Science', 'Essay'),
 ('Computer Science', 'Homework'),
 ('Engineering', 'Lab'),
 ('Mathematics', 'Module')]

# Bonus Challenge - Sort a Dictionary by Values

Given the dictionary below, sort it by values rather than by keys. Use a lambda function to specify the values as a sorting key.

In [148]:
d = {'Honda': 1997, 'Toyota': 1995, 'Audi': 2001, 'BMW': 2005}

sorted(d.items(), key=lambda v: v[1])

[('Toyota', 1995), ('Honda', 1997), ('Audi', 2001), ('BMW', 2005)]

In [156]:
import numpy as np

array = [[1,2,3],
         [4,5,6],
         [7,8,9]]

np.shape(array)

print(square.shape)

NameError: name 'square' is not defined

In [155]:
def make_cycle(square):
    n = square.shape[0]
    return [square[0, j] for j in range(n)] + \
           [square[i, n - 1] for i in range(1, n)] + \
           [square[n - 1, j] for j in range(n - 1)[::-1]] + \
           [square[i, 0] for i in range(1, n - 1)[::-1]]

def make_snail(data):
    return [v for i in range(data.shape[0] // 2 + 1) for v in make_cycle(data[i:data.shape[0] - i, i:data.shape[0] - i])]

idée : on définit d'abord une fonction make_cycle qui prend en argument une matrice carrée,
et retourne les valeurs qui sont sur son "périphérique extérieur", parcourues dans le sens des aiguilles d'une montre

ensuite, on définit une fonction make_snail qui prend en argument la matrice de départ, 
et on fait les poupées russes : j'applique make_cycle sur la matrice de base, 
puis sur la même matrice à laquelle j'ai extirpé les valeurs extérieures, 
puis sur la matrice encore à l'intérieur et ainsi de suite

je rajoute les valeurs dans une liste à la volée en faisant une list comprehension