# Challenge 1 - Tic Tac Toe

In this lab you will perform deep learning analysis on a dataset of playing [Tic Tac Toe](https://en.wikipedia.org/wiki/Tic-tac-toe).

There are 9 grids in Tic Tac Toe that are coded as the following picture shows:

![Tic Tac Toe Grids](tttboard.jpg)

In the first 9 columns of the dataset you can find which marks (`x` or `o`) exist in the grids. If there is no mark in a certain grid, it is labeled as `b`. The last column is `class` which tells you whether Player X (who always moves first in Tic Tac Toe) wins in this configuration. Note that when `class` has the value `False`, it means either Player O wins the game or it ends up as a draw.

Follow the steps suggested below to conduct a neural network analysis using Tensorflow and Keras. You will build a deep learning model to predict whether Player X wins the game or not.

## Step 1: Data Engineering

This dataset is almost in the ready-to-use state so you do not need to worry about missing values and so on. Still, some simple data engineering is needed.

1. Read `tic-tac-toe.csv` into a dataframe.
1. Inspect the dataset. Determine if the dataset is reliable by eyeballing the data.
1. Convert the categorical values to numeric in all columns.
1. Separate the inputs and output.
1. Normalize the input data.

In [1]:
# your code here
import pandas as pd

In [38]:
data = pd.read_csv('./tic-tac-toe.csv')
data.head()
# data.shape
# data.columns

  TL TM TR ML MM MR BL BM BR  class
0  x  x  x  x  o  o  x  o  o   True
1  x  x  x  x  o  o  o  x  o   True
2  x  x  x  x  o  o  o  o  x   True
3  x  x  x  x  o  o  o  b  b   True
4  x  x  x  x  o  o  b  o  b   True

In [69]:
data['class'].value_counts()

True     626
False    332
Name: class, dtype: int64

In [49]:
## This does not keep the right order..... So not all x's are 1 so to say. Different per column...

# data_num = data.copy()

# columns = ['TL', 'TM', 'TR', 'ML', 'MM', 'MR', 'BL', 'BM', 'BR']

# for column in columns:
#     factor = pd.factorize(data[column])
#     data_num[column] = factor[0]
    
# data_num['TL'].value_counts()

# data.head()
# data.dtypes
# data_num.head()
# data_num.dtypes

cleanup = {"x": 0, "o": 1, "b": 2}
data.replace(cleanup, inplace=True)
data.head()
data['class']

TL       int64
TM       int64
TR       int64
ML       int64
MM       int64
MR       int64
BL       int64
BM       int64
BR       int64
class     bool
dtype: object

In [55]:
data_input = data.drop(['class'], axis=1)
data_output = data['class']
data_input.head()

   TL  TM  TR  ML  MM  MR  BL  BM  BR
0   0   0   0   0   1   1   0   1   1
1   0   0   0   0   1   1   1   0   1
2   0   0   0   0   1   1   1   1   0
3   0   0   0   0   1   1   1   2   2
4   0   0   0   0   1   1   2   1   2

In [53]:
normalized_data_input = (data_input-data_input.mean())/data_input.std()
normalized_data_input

,TL,TM,TR,ML,MM,MR,BL,BM,BR
0,-1.002699,-1.084387,-1.002699,-1.084387,0.419857,0.167231,-1.002699,0.167231,0.286678
1,-1.002699,-1.084387,-1.002699,-1.084387,0.419857,0.167231,0.286678,-1.084387,0.286678
2,-1.002699,-1.084387,-1.002699,-1.084387,0.419857,0.167231,0.286678,0.167231,-1.002699
3,-1.002699,-1.084387,-1.002699,-1.084387,0.419857,0.167231,0.286678,1.418849,1.576054
4,-1.002699,-1.084387,-1.002699,-1.084387,0.419857,0.167231,1.576054,0.167231,1.576054
...,...,...,...,...,...,...,...,...,...
953,0.286678,-1.084387,-1.002699,-1.084387,0.419857,0.167231,0.286678,-1.084387,-1.002699
954,0.286678,-1.084387,0.286678,-1.084387,-0.929886,0.167231,-1.002699,0.167231,-1.002699
955,0.286678,-1.084387,0.286678,-1.084387,0.419857,-1.084387,-1.002699,0.167231,-1.002699
956,0.286678,-1.084387,0.286678,0.167231,-0.929886,-1.084387,-1.002699,0.167231,-1.002699
957,0.286678,0.167231,-1.002699,-1.084387,-0.929886,0.167231,0.286678,-1.084387,-1.002699

## Step 2: Build Neural Network

To build the neural network, you can refer to your own codes you wrote while following the [Deep Learning with Python, TensorFlow, and Keras tutorial](https://www.youtube.com/watch?v=wQ8BIBpya2k) in the lesson. It's pretty similar to what you will be doing in this lab.

1. Split the training and test data.
1. Create a `Sequential` model.
1. Add several layers to your model. Make sure you use ReLU as the activation function for the middle layers. Use Softmax for the output layer because each output has a single lable and all the label probabilities add up to 1.
1. Compile the model using `adam` as the optimizer and `sparse_categorical_crossentropy` as the loss function. For metrics, use `accuracy` for now.
1. Fit the training data.
1. Evaluate your neural network model with the test data.
1. Save your model as `tic-tac-toe.model`.

In [71]:
import tensorflow as tf
tf.__version__

from sklearn.model_selection import train_test_split

In [80]:
# your code here

X_train, X_test, y_train, y_test = train_test_split(data_input, data_output, test_size=0.2, random_state=42)

X_train = tf.keras.utils.normalize(X_train, axis=1)
X_test = tf.keras.utils.normalize(X_test, axis=1)

model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Flatten())
model.add(tf.keras.layers.Dense(100, activation=tf.nn.relu))
model.add(tf.keras.layers.Dense(100, activation=tf.nn.relu))
model.add(tf.keras.layers.Dense(2, activation=tf.nn.softmax))

model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

model.fit(X_train, y_train, epochs=5)

Epoch 1/5
WARNING:tensorflow:Layer flatten_9 is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

24/24 [==============================] - 0s 3ms/step - loss: 0.6428 - accuracy: 0.6514
Epoch 2/5
24/24 [==============================] - 0s 4ms/step - loss: 0.6125 - accuracy: 0.6554
Epoch 3/5
24/24 [==============================] - 0s 3ms/step - loss: 0.5929 - accuracy: 0.6945
Epoch 4/5
24/24 [==============================] - 0s 3ms/step - loss: 0.5737 - accuracy: 0.7258
Epoch 5/5
24/24 [==============================] - 0s 4ms/step - loss: 0.5448 - accuracy: 0.7389

In [81]:
val_loss, val_acc = model.evaluate(X_test, y_test)
print(val_loss, val_acc)

6/6 [==============================] - 0s 3ms/step - loss: 0.5632 - accuracy: 0.7344
0.5632031559944153 0.734375

In [82]:
model.save('tic-tac-toe.model')

WARNING:tensorflow:From /Users/vpavandijk/opt/anaconda3/lib/python3.7/site-packages/tensorflow/python/ops/resource_variable_ops.py:1817: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.
INFO:tensorflow:Assets written to: tic-tac-toe.model/assets

## Step 3: Make Predictions

Now load your saved model and use it to make predictions on a few random rows in the test dataset. Check if the predictions are correct.

In [83]:
# your code here
model_loaded = tf.keras.models.load_model('tic-tac-toe.model')

In [97]:
# X_test.iloc[0]
prediction = model_loaded.predict(X_test.iloc[5:8])
print(prediction)
print(y_test[5:8])

[[0.13123375 0.86876625]
 [0.40469742 0.5953026 ]
 [0.5631076  0.43689242]]
261    True
215    True
334    True
Name: class, dtype: bool

## Step 4: Improve Your Model

Did your model achieve low loss (<0.1) and high accuracy (>0.95)? If not, try to improve your model.

But how? There are so many things you can play with in Tensorflow and in the next challenge you'll learn about these things. But in this challenge, let's just do a few things to see if they will help.

* Add more layers to your model. If the data are complex you need more layers. But don't use more layers than you need. If adding more layers does not improve the model performance you don't need additional layers.
* Adjust the learning rate when you compile the model. This means you will create a custom `tf.keras.optimizers.Adam` instance where you specify the learning rate you want. Then pass the instance to `model.compile` as the optimizer.
    * `tf.keras.optimizers.Adam` [reference](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Adam).
    * Don't worry if you don't understand what the learning rate does. You'll learn about it in the next challenge.
* Adjust the number of epochs when you fit the training data to the model. Your model performance continues to improve as you train more epochs. But eventually it will reach the ceiling and the performance will stay the same.

In [107]:
# your code here
model2 = tf.keras.models.Sequential()
model2.add(tf.keras.layers.Flatten())
model2.add(tf.keras.layers.Dense(100, activation=tf.nn.relu))
model2.add(tf.keras.layers.Dense(200, activation=tf.nn.relu))
model2.add(tf.keras.layers.Dense(200, activation=tf.nn.relu))
model2.add(tf.keras.layers.Dense(100, activation=tf.nn.relu))
model2.add(tf.keras.layers.Dense(50, activation=tf.nn.relu))
model2.add(tf.keras.layers.Dense(25, activation=tf.nn.relu))
model2.add(tf.keras.layers.Dense(2, activation=tf.nn.softmax))

model2.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

model2.fit(X_train, y_train, epochs=10)

val_loss2, val_acc2 = model2.evaluate(X_test, y_test)
print(val_loss2, val_acc2)

Epoch 1/10
WARNING:tensorflow:Layer flatten_19 is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

24/24 [==============================] - 0s 4ms/step - loss: 0.6531 - accuracy: 0.6475
Epoch 2/10
24/24 [==============================] - 0s 4ms/step - loss: 0.6050 - accuracy: 0.6749
Epoch 3/10
24/24 [==============================] - 0s 5ms/step - loss: 0.6144 - accuracy: 0.6867
Epoch 4/10
24/24 [==============================] - 0s 5ms/step - loss: 0.4976 - accuracy: 0.7807
Epoch 5/10
24/24 [==============================] - 0s 6ms/step - loss: 0.3621 - accuracy: 0.8486
Epoch 6/10
24/24 [==============================] - 0s 5ms/step - loss: 0.2894 - accuracy: 0.8838
Epoch 7/10
24/24 [==============================] - 0s 5ms/step - loss: 0.1805 - accuracy: 0.9347
Epoch 8/10
24/24 [==============================] - 0s 6ms/step - loss: 0.1210 - accuracy: 0.9569
Epoch 9/10
24/24 [==============================] - 0s 6ms/step - loss: 0.0761 - accuracy: 0.9739
Epoch 10/10
24/24 [==============================] - 0s 6ms/step - loss: 0.0224 - accuracy: 0.9987
6/6 [==============================] - 0s 2ms/step - loss: 0.0786 - accuracy: 0.9688
0.07858141511678696 0.96875

**Which approach(es) did you find helpful to improve your model performance?**

In [ ]:
# your answer here

# what most helped in the end was changing the number of neurons to a curve (100-200-200-100-50-25-2)