# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [2]:
# import libraries
import pandas as pd

#### Import data set.

Import data set `Pokemon` from Ironhack's database. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [3]:
# import data set from Ironhack's database
pokemon = pd.read_csv('/Users/vpavandijk/LEARNING/Ironhack/copy of google drive class AMS0520/Copy of Pokemon.csv')

#### Print first 10 rows of `pokemon`.

In [4]:
# your code here
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [5]:
# your code here
Type_1 = set(pokemon['Type 1'])
Type_2 = set(pokemon['Type 2'])
Types_complete = Type_1.union(Type_2)
print(Types_complete)

{'Steel', nan, 'Dragon', 'Dark', 'Water', 'Electric', 'Flying', 'Grass', 'Fighting', 'Fire', 'Psychic', 'Fairy', 'Bug', 'Ghost', 'Poison', 'Ground', 'Rock', 'Ice', 'Normal'}

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [10]:
# your code here
non_mega = pokemon["Name"].str.replace(".*(?=Mega)", "")
non_mega.head()
# pokemon['Name'] = non_mega 
# pokemon.head(10)




# pokenames = []
# for name  in pokemon['Name']:
#     if '* Mega *' in name:
#         pokenames.append(name)
# print(pokenames)

# test transformed data
# pokemon.head(10)

0        Bulbasaur
1          Ivysaur
2         Venusaur
3    Mega Venusaur
4       Charmander
Name: Name, dtype: object

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [5]:
# your code here
AD_ratio = pokemon['Attack']/pokemon['Defense']
pokemon.insert(8, 'AD_ratio', AD_ratio) 
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,AD_ratio,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,1.000000,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,0.984127,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,0.987952,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,0.813008,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,1.209302,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,1.103448,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,1.076923,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,1.171171,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,1.333333,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,0.738462,50,64,43,1,False

#### Identify the pokemon with the highest `A/D Ratio`.

In [7]:
# your code here
pokemon_A_D_ratio_high = pokemon['AD_ratio'].max
print(pokemon_A_D_ratio_high)

<bound method Series.max of 0      1.000000
1      0.984127
2      0.987952
3      0.813008
4      1.209302
         ...
795    0.666667
796    1.454545
797    1.833333
798    2.666667
799    0.916667
Name: AD_ratio, Length: 800, dtype: float64>

#### Identify the pokemon with the lowest A/D Ratio.

In [ ]:
# your code here

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [ ]:
# your code here

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [ ]:
# your code here

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [ ]:
# your code here

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [ ]:
# your code here