# Cleaning Data Project
Base de datos de 'Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1' obtenida de https://oscarbaruffa.com/messy/

In [1]:
import pandas as pd
import numpy as np
import re
from datetime import datetime

In [2]:
original_data = pd.read_csv('Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.csv')
original_data.head()

,Timestamp,How old are you?,What industry do you work in?,Job title,"If your job title needs additional context, please clarify here:","What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)","How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.",Please indicate the currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",What country do you work in?,"If you're in the U.S., what state do you work in?",What city do you work in?,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?,What is your race? (Choose all that apply.)
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

In [3]:
data = original_data.copy()

In [4]:
data.head()

,Timestamp,How old are you?,What industry do you work in?,Job title,"If your job title needs additional context, please clarify here:","What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)","How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.",Please indicate the currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",What country do you work in?,"If you're in the U.S., what state do you work in?",What city do you work in?,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?,What is your race? (Choose all that apply.)
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27771 entries, 0 to 27770
Data columns (total 18 columns):
 #   Column                                                                                                                                                                                                                                Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                --------------  -----
 0   Timestamp                                                                                                                                                                                                                             27771 non-null  object
 1   How old are you?                                                                                                                                                                                                                      27771 non-null  object
 2   What industry do you work in?                                                                                                                                                                                                         27701 non-null  object
 3   Job title                                                                                                                                                                                                                             27771 non-null  object
 4   If your job title needs additional context, please clarify here:                                                                                                                                                                      7186 non-null   object
 5   What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)  27771 non-null  object
 6   How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.                                        20583 non-null  float64
 7   Please indicate the currency                                                                                                                                                                                                          27771 non-null  object
 8   If "Other," please indicate the currency here:                                                                                                                                                                                        187 non-null    object
 9   If your income needs additional context, please provide it here:                                                                                                                                                                      3020 non-null   object
 10  What country do you work in?                                                                                                                                                                                                          27771 non-null  object
 11  If you're in the U.S., what state do you work in?                                                                                                                                                                                     22835 non-null  object
 12  What city do you work in?                                                                                                                                                                                                             27696 non-null  object
 13  How many years of professional work experience do you have overall?                                                                                                                                                                   27771 non-null  object
 14  How many years of professional work experience do you have in your field?                                                                                                                                                             27771 non-null  object
 15  What is your highest level of education completed?                                                                                                                                                                                    27562 non-null  object
 16  What is your gender?                                                                                                                                                                                                                  27606 non-null  object
 17  What is your race? (Choose all that apply.)                                                                                                                                                                                           27607 non-null  object
dtypes: float64(1), object(17)
memory usage: 3.8+ MB

In [6]:
columnas = data.columns.to_list
columnas

<bound method IndexOpsMixin.tolist of Index(['Timestamp', 'How old are you?', 'What industry do you work in?',
       'Job title',
       'If your job title needs additional context, please clarify here:',
       'What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)',
       'How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.',
       'Please indicate the currency',
       'If "Other," please indicate the currency here: ',
       'If your income needs additional context, please provide it here:',
       'What country do you work in?',
       'If you're in the U.S., what state do you work in?',
       'What city do you work in?',
       'How many years of professional work experience do you have overall?',
       'How many years of professional work experience do you have in your field?',
       'What is your highest level of education completed?',
       'What is your gender?', 'What is your race? (Choose all that apply.)'],
      dtype='object')>

In [7]:
new_columns = ['timestamp', 'age_range', 'industry', 'job_title', 'job_title_details', 
                'anual_salary', 'addtl_compensation', 'currency', 'other_currency', 'income_addtl_detail', 
                'country', 'us_state', 'city', 'years_experience_total', 'years_experience_field', 'education_level', 'gender', 'race'
                ]

In [8]:
data.columns = new_columns

In [9]:
data.head()

,timestamp,age_range,industry,job_title,job_title_details,anual_salary,addtl_compensation,currency,other_currency,income_addtl_detail,country,us_state,city,years_experience_total,years_experience_field,education_level,gender,race
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27771 entries, 0 to 27770
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   timestamp               27771 non-null  object
 1   age_range               27771 non-null  object
 2   industry                27701 non-null  object
 3   job_title               27771 non-null  object
 4   job_title_details       7186 non-null   object
 5   anual_salary            27771 non-null  object
 6   addtl_compensation      20583 non-null  float64
 7   currency                27771 non-null  object
 8   other_currency          187 non-null    object
 9   income_addtl_detail     3020 non-null   object
 10  country                 27771 non-null  object
 11  us_state                22835 non-null  object
 12  city                    27696 non-null  object
 13  years_experience_total  27771 non-null  object
 14  years_experience_field  27771 non-null  object
 15  education_level         27562 non-null  object
 16  gender                  27606 non-null  object
 17  race                    27607 non-null  object
dtypes: float64(1), object(17)
memory usage: 3.8+ MB

In [11]:
cols_to_remove_nulls = ['job_title_details', 'income_addtl_detail']

In [12]:
data.drop(cols_to_remove_nulls, axis=1, inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27771 entries, 0 to 27770
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   timestamp               27771 non-null  object
 1   age_range               27771 non-null  object
 2   industry                27701 non-null  object
 3   job_title               27771 non-null  object
 4   anual_salary            27771 non-null  object
 5   addtl_compensation      20583 non-null  float64
 6   currency                27771 non-null  object
 7   other_currency          187 non-null    object
 8   country                 27771 non-null  object
 9   us_state                22835 non-null  object
 10  city                    27696 non-null  object
 11  years_experience_total  27771 non-null  object
 12  years_experience_field  27771 non-null  object
 13  education_level         27562 non-null  object
 14  gender                  27606 non-null  object
 15  race                    27607 non-null  object
dtypes: float64(1), object(15)
memory usage: 3.4+ MB

In [13]:
data['other_currency'].unique()
(data.currency.value_counts() / data.currency.count()).sort_values(ascending=False) * 100
# Currency = Other represent the 0.52% of the observations, this will eliminate column 'other_currency', these observations will be cleaned

USD        83.378344
CAD         5.959454
GBP         5.667783
EUR         2.264953
AUD/NZD     1.789637
Other       0.525728
CHF         0.133233
SEK         0.133233
JPY         0.082820
ZAR         0.050412
HKD         0.014404
Name: currency, dtype: float64

In [14]:
data.drop('other_currency', axis=1, inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27771 entries, 0 to 27770
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   timestamp               27771 non-null  object
 1   age_range               27771 non-null  object
 2   industry                27701 non-null  object
 3   job_title               27771 non-null  object
 4   anual_salary            27771 non-null  object
 5   addtl_compensation      20583 non-null  float64
 6   currency                27771 non-null  object
 7   country                 27771 non-null  object
 8   us_state                22835 non-null  object
 9   city                    27696 non-null  object
 10  years_experience_total  27771 non-null  object
 11  years_experience_field  27771 non-null  object
 12  education_level         27562 non-null  object
 13  gender                  27606 non-null  object
 14  race                    27607 non-null  object
dtypes: float64(1), object(14)
memory usage: 3.2+ MB

In [15]:
data.industry.fillna('Not specified', inplace=True)

In [16]:
(data.addtl_compensation.value_counts() / data.addtl_compensation.count()).sort_values(ascending=False) * 100

0.0        38.250012
5000.0      5.358791
10000.0     4.625176
2000.0      3.740951
1000.0      3.255113
             ...
35880.0     0.004858
36600.0     0.004858
11150.0     0.004858
44720.0     0.004858
20800.0     0.004858
Name: addtl_compensation, Length: 841, dtype: float64

In [17]:
data.addtl_compensation.value_counts()

0.0        7873
5000.0     1103
10000.0     952
2000.0      770
1000.0      670
           ...
12400.0       1
5275.0        1
67000.0       1
36500.0       1
20800.0       1
Name: addtl_compensation, Length: 841, dtype: int64

In [18]:
data.addtl_compensation.fillna(0, inplace=True)

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27771 entries, 0 to 27770
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   timestamp               27771 non-null  object
 1   age_range               27771 non-null  object
 2   industry                27771 non-null  object
 3   job_title               27771 non-null  object
 4   anual_salary            27771 non-null  object
 5   addtl_compensation      27771 non-null  float64
 6   currency                27771 non-null  object
 7   country                 27771 non-null  object
 8   us_state                22835 non-null  object
 9   city                    27696 non-null  object
 10  years_experience_total  27771 non-null  object
 11  years_experience_field  27771 non-null  object
 12  education_level         27562 non-null  object
 13  gender                  27606 non-null  object
 14  race                    27607 non-null  object
dtypes: float64(1), object(14)
memory usage: 3.2+ MB

In [20]:
print(data.education_level.value_counts() / data.education_level.count())
data.education_level.value_counts()

College degree                        0.485052
Master's degree                       0.319135
Some college                          0.073725
PhD                                   0.051484
Professional degree (MD, JD, etc.)    0.047783
High School                           0.022821
Name: education_level, dtype: float64

College degree                        13369
Master's degree                        8796
Some college                           2032
PhD                                    1419
Professional degree (MD, JD, etc.)     1317
High School                             629
Name: education_level, dtype: int64

In [21]:
data.education_level.fillna('Not specified', inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27771 entries, 0 to 27770
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   timestamp               27771 non-null  object
 1   age_range               27771 non-null  object
 2   industry                27771 non-null  object
 3   job_title               27771 non-null  object
 4   anual_salary            27771 non-null  object
 5   addtl_compensation      27771 non-null  float64
 6   currency                27771 non-null  object
 7   country                 27771 non-null  object
 8   us_state                22835 non-null  object
 9   city                    27696 non-null  object
 10  years_experience_total  27771 non-null  object
 11  years_experience_field  27771 non-null  object
 12  education_level         27771 non-null  object
 13  gender                  27606 non-null  object
 14  race                    27607 non-null  object
dtypes: float64(1), object(14)
memory usage: 3.2+ MB

In [22]:
data.gender.fillna('Not specified', inplace=True)

In [23]:
data.race.fillna('Not specified', inplace=True)
data.city.fillna('Not specified', inplace=True)

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27771 entries, 0 to 27770
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   timestamp               27771 non-null  object
 1   age_range               27771 non-null  object
 2   industry                27771 non-null  object
 3   job_title               27771 non-null  object
 4   anual_salary            27771 non-null  object
 5   addtl_compensation      27771 non-null  float64
 6   currency                27771 non-null  object
 7   country                 27771 non-null  object
 8   us_state                22835 non-null  object
 9   city                    27771 non-null  object
 10  years_experience_total  27771 non-null  object
 11  years_experience_field  27771 non-null  object
 12  education_level         27771 non-null  object
 13  gender                  27771 non-null  object
 14  race                    27771 non-null  object
dtypes: float64(1), object(14)
memory usage: 3.2+ MB

In [25]:
data.timestamp = pd.to_datetime(data['timestamp'])

In [26]:
data['day'] = data['timestamp'].dt.day
data['month'] = data['timestamp'].dt.month
data['year'] = data['timestamp'].dt.year

In [27]:
data.year.value_counts()

2021    27597
2022      174
Name: year, dtype: int64

In [28]:
data.month.value_counts()

4     22812
5      3615
10      680
8       144
6       119
7        80
11       76
9        53
12       52
1        50
2        50
3        40
Name: month, dtype: int64

In [29]:
data.us_state.fillna('Not specified', inplace=True)

In [30]:
data.rename(columns={'anual_salary':'annual_salary'}, inplace=True)

In [31]:
data['annual_salary_clean'] = data['annual_salary'].apply(lambda x: float(re.sub(r'[$,]','',x)))

In [32]:
columnas = data.columns.to_list
columnas

<bound method IndexOpsMixin.tolist of Index(['timestamp', 'age_range', 'industry', 'job_title', 'annual_salary',
       'addtl_compensation', 'currency', 'country', 'us_state', 'city',
       'years_experience_total', 'years_experience_field', 'education_level',
       'gender', 'race', 'day', 'month', 'year', 'annual_salary_clean'],
      dtype='object')>

In [33]:
new_columns = ['timestamp', 'age_range', 'industry', 'job_title', 'annual_salary', 'annual_salary_clean',
       'addtl_compensation', 'currency', 'country', 'us_state', 'city',
       'years_experience_total', 'years_experience_field', 'education_level',
       'gender', 'race', 'day', 'month', 'year']

In [34]:
data = data[new_columns]
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27771 entries, 0 to 27770
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   timestamp               27771 non-null  datetime64[ns]
 1   age_range               27771 non-null  object
 2   industry                27771 non-null  object
 3   job_title               27771 non-null  object
 4   annual_salary           27771 non-null  object
 5   annual_salary_clean     27771 non-null  float64
 6   addtl_compensation      27771 non-null  float64
 7   currency                27771 non-null  object
 8   country                 27771 non-null  object
 9   us_state                27771 non-null  object
 10  city                    27771 non-null  object
 11  years_experience_total  27771 non-null  object
 12  years_experience_field  27771 non-null  object
 13  education_level         27771 non-null  object
 14  gender                  27771 non-null  object
 15  race                    27771 non-null  object
 16  day                     27771 non-null  int64
 17  month                   27771 non-null  int64
 18  year                    27771 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(13)
memory usage: 4.0+ MB

In [35]:
data.age_range.unique()

array(['25-34', '45-54', '35-44', '18-24', '65 or over', '55-64',
       'under 18'], dtype=object)

In [36]:
def encode_age_range(element: str) -> int:
    """
    Receives the value of an age range and 
    returns an integer to classify it accondingly

    Return
        Int
    """

    if element == 'under 18':
        return 0
    elif element == '18-24':
        return 1
    elif element == '25-34':
        return 2
    elif element == '35-44':
        return 3
    elif element == '45-54':
        return 4
    elif element == '55-64':
        return 5
    elif element == '65 or over':
        return 6
    else:
        return 1000

In [37]:
data['age_range_encoded'] = data['age_range'].apply(encode_age_range)

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27771 entries, 0 to 27770
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   timestamp               27771 non-null  datetime64[ns]
 1   age_range               27771 non-null  object
 2   industry                27771 non-null  object
 3   job_title               27771 non-null  object
 4   annual_salary           27771 non-null  object
 5   annual_salary_clean     27771 non-null  float64
 6   addtl_compensation      27771 non-null  float64
 7   currency                27771 non-null  object
 8   country                 27771 non-null  object
 9   us_state                27771 non-null  object
 10  city                    27771 non-null  object
 11  years_experience_total  27771 non-null  object
 12  years_experience_field  27771 non-null  object
 13  education_level         27771 non-null  object
 14  gender                  27771 non-null  object
 15  race                    27771 non-null  object
 16  day                     27771 non-null  int64
 17  month                   27771 non-null  int64
 18  year                    27771 non-null  int64
 19  age_range_encoded       27771 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(4), object(13)
memory usage: 4.2+ MB

In [39]:
columnas = data.columns.to_list
columnas

<bound method IndexOpsMixin.tolist of Index(['timestamp', 'age_range', 'industry', 'job_title', 'annual_salary',
       'annual_salary_clean', 'addtl_compensation', 'currency', 'country',
       'us_state', 'city', 'years_experience_total', 'years_experience_field',
       'education_level', 'gender', 'race', 'day', 'month', 'year',
       'age_range_encoded'],
      dtype='object')>

In [40]:
new_columns = ['timestamp', 'age_range', 'age_range_encoded', 'industry', 'job_title', 'annual_salary',
       'annual_salary_clean', 'addtl_compensation', 'currency', 'country',
       'us_state', 'city', 'years_experience_total', 'years_experience_field',
       'education_level', 'gender', 'race', 'day', 'month', 'year'
       ]

In [41]:
data = data[new_columns]
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27771 entries, 0 to 27770
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   timestamp               27771 non-null  datetime64[ns]
 1   age_range               27771 non-null  object
 2   age_range_encoded       27771 non-null  int64
 3   industry                27771 non-null  object
 4   job_title               27771 non-null  object
 5   annual_salary           27771 non-null  object
 6   annual_salary_clean     27771 non-null  float64
 7   addtl_compensation      27771 non-null  float64
 8   currency                27771 non-null  object
 9   country                 27771 non-null  object
 10  us_state                27771 non-null  object
 11  city                    27771 non-null  object
 12  years_experience_total  27771 non-null  object
 13  years_experience_field  27771 non-null  object
 14  education_level         27771 non-null  object
 15  gender                  27771 non-null  object
 16  race                    27771 non-null  object
 17  day                     27771 non-null  int64
 18  month                   27771 non-null  int64
 19  year                    27771 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(4), object(13)
memory usage: 4.2+ MB

In [42]:
data.gender.value_counts()

Woman                            21199
Man                               5383
Non-binary                         739
Other or prefer not to answer      284
Not specified                      165
Prefer not to answer                 1
Name: gender, dtype: int64

In [43]:
data[data['gender'] == 'Prefer not to answer']

,timestamp,age_range,age_range_encoded,industry,job_title,annual_salary,annual_salary_clean,addtl_compensation,currency,country,us_state,city,years_experience_total,years_experience_field,education_level,gender,race,day,month,year
6477,2021-04-27 13:52:15,35-44,3,Agriculture or Forestry,Plant Breeder,"88,000",88000.0,10.0,USD,USA,Nebraska,Eastern,1 year or less,5-7 years,PhD,Prefer not to answer,Another option not listed here or prefer not t...,27,4,2021

In [44]:
data.loc[6477, 'gender'] = 'Other or prefer not to answer'

In [45]:
data.loc[data['gender'] == 'Not specified', 'gender'] = 'Other or prefer not to answer'

In [46]:
data.gender.value_counts()

Woman                            21199
Man                               5383
Non-binary                         739
Other or prefer not to answer      450
Name: gender, dtype: int64

In [47]:
data.years_experience_total.unique()

array(['5-7 years', '8 - 10 years', '2 - 4 years', '21 - 30 years',
       '11 - 20 years', '1 year or less', '41 years or more',
       '31 - 40 years'], dtype=object)

In [48]:
def encode_years_experience_total(element: str) -> int:
    """
    Receives the value of the years of experience and 
    returns an integer to classify it accondingly

    Return
        Int
    """

    if element == '1 year or less':
        return 0
    elif element == '2 - 4 years':
        return 1
    elif element == '5-7 years':
        return 2
    elif element == '8 - 10 years':
        return 3
    elif element == '11 - 20 years':
        return 4
    elif element == '21 - 30 years':
        return 5
    elif element == '31 - 40 years':
        return 6
    elif element == '41 years or more':
        return 7
    else:
        return 1000

In [49]:
data['years_experience_total_encoded'] = data['years_experience_total'].apply(encode_years_experience_total)

In [50]:
data.years_experience_total_encoded.value_counts()

4    9560
3    5332
2    4831
5    3605
1    2964
6     861
0     499
7     119
Name: years_experience_total_encoded, dtype: int64

In [51]:
columnas = data.columns.to_list
columnas

<bound method IndexOpsMixin.tolist of Index(['timestamp', 'age_range', 'age_range_encoded', 'industry', 'job_title',
       'annual_salary', 'annual_salary_clean', 'addtl_compensation',
       'currency', 'country', 'us_state', 'city', 'years_experience_total',
       'years_experience_field', 'education_level', 'gender', 'race', 'day',
       'month', 'year', 'years_experience_total_encoded'],
      dtype='object')>

In [52]:
new_columns = ['timestamp', 'age_range', 'age_range_encoded', 'industry', 'job_title',
       'annual_salary', 'annual_salary_clean', 'addtl_compensation',
       'currency', 'country', 'us_state', 'city', 'years_experience_total', 'years_experience_total_encoded',
       'years_experience_field', 'education_level', 'gender', 'race', 'day',
       'month', 'year']
data = data[new_columns]
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27771 entries, 0 to 27770
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   timestamp                       27771 non-null  datetime64[ns]
 1   age_range                       27771 non-null  object
 2   age_range_encoded               27771 non-null  int64
 3   industry                        27771 non-null  object
 4   job_title                       27771 non-null  object
 5   annual_salary                   27771 non-null  object
 6   annual_salary_clean             27771 non-null  float64
 7   addtl_compensation              27771 non-null  float64
 8   currency                        27771 non-null  object
 9   country                         27771 non-null  object
 10  us_state                        27771 non-null  object
 11  city                            27771 non-null  object
 12  years_experience_total          27771 non-null  object
 13  years_experience_total_encoded  27771 non-null  int64
 14  years_experience_field          27771 non-null  object
 15  education_level                 27771 non-null  object
 16  gender                          27771 non-null  object
 17  race                            27771 non-null  object
 18  day                             27771 non-null  int64
 19  month                           27771 non-null  int64
 20  year                            27771 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(5), object(13)
memory usage: 4.4+ MB

In [53]:
data.years_experience_field.unique()

array(['5-7 years', '2 - 4 years', '21 - 30 years', '11 - 20 years',
       '1 year or less', '8 - 10 years', '31 - 40 years',
       '41 years or more'], dtype=object)

In [54]:
def encode_years_experience_field(element: str) -> int:
    """
    Receives the value of the years of experience in the current field and 
    returns an integer to classify it accondingly

    Return
        Int
    """

    if element == '1 year or less':
        return 0
    elif element == '2 - 4 years':
        return 1
    elif element == '5-7 years':
        return 2
    elif element == '8 - 10 years':
        return 3
    elif element == '11 - 20 years':
        return 4
    elif element == '21 - 30 years':
        return 5
    elif element == '31 - 40 years':
        return 6
    elif element == '41 years or more':
        return 7
    else:
        return 1000

In [55]:
data['years_experience_field_encoded'] = data['years_experience_field'].apply(encode_years_experience_field)

In [56]:
data.years_experience_field_encoded.value_counts()

4    6499
2    6470
1    6165
3    4933
5    1861
0    1428
6     377
7      38
Name: years_experience_field_encoded, dtype: int64

In [57]:
columnas = data.columns.to_list
columnas

<bound method IndexOpsMixin.tolist of Index(['timestamp', 'age_range', 'age_range_encoded', 'industry', 'job_title',
       'annual_salary', 'annual_salary_clean', 'addtl_compensation',
       'currency', 'country', 'us_state', 'city', 'years_experience_total',
       'years_experience_total_encoded', 'years_experience_field',
       'education_level', 'gender', 'race', 'day', 'month', 'year',
       'years_experience_field_encoded'],
      dtype='object')>

In [58]:
new_columns = ['timestamp', 'age_range', 'age_range_encoded', 'industry', 'job_title',
       'annual_salary', 'annual_salary_clean', 'addtl_compensation',
       'currency', 'country', 'us_state', 'city', 'years_experience_total',
       'years_experience_total_encoded', 'years_experience_field', 'years_experience_field_encoded',
       'education_level', 'gender', 'race', 'day', 'month', 'year'
       ]
data = data[new_columns]
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27771 entries, 0 to 27770
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   timestamp                       27771 non-null  datetime64[ns]
 1   age_range                       27771 non-null  object
 2   age_range_encoded               27771 non-null  int64
 3   industry                        27771 non-null  object
 4   job_title                       27771 non-null  object
 5   annual_salary                   27771 non-null  object
 6   annual_salary_clean             27771 non-null  float64
 7   addtl_compensation              27771 non-null  float64
 8   currency                        27771 non-null  object
 9   country                         27771 non-null  object
 10  us_state                        27771 non-null  object
 11  city                            27771 non-null  object
 12  years_experience_total          27771 non-null  object
 13  years_experience_total_encoded  27771 non-null  int64
 14  years_experience_field          27771 non-null  object
 15  years_experience_field_encoded  27771 non-null  int64
 16  education_level                 27771 non-null  object
 17  gender                          27771 non-null  object
 18  race                            27771 non-null  object
 19  day                             27771 non-null  int64
 20  month                           27771 non-null  int64
 21  year                            27771 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(6), object(13)
memory usage: 4.7+ MB

In [59]:
data.loc[data['race'] == 'Not specified', 'race'] = 'Another option not listed here or prefer not to answer'

In [60]:
x = 10
print(((data.race.value_counts() / data.race.count()) * 100).head(x))
print(((data.race.value_counts() / data.race.count()) * 100).head(x).sum())

White                                                     82.939037
Asian or Asian American                                    4.933204
Another option not listed here or prefer not to answer     2.801484
Black or African American                                  2.376580
Hispanic, Latino, or Spanish origin                        2.110115
Hispanic, Latino, or Spanish origin, White                 1.375536
Asian or Asian American, White                             1.231500
Black or African American, White                           0.442908
Middle Eastern or Northern African, White                  0.291671
Middle Eastern or Northern African                         0.244860
Name: race, dtype: float64
98.74689424219511

In [61]:
race_to_keep = ['White', 'Asian or Asian American', 'Black or African American', 'Hispanic, Latino, or Spanish origin', 'Another option not listed here or prefer not to answer' ]

In [62]:
data['race'].where(data['race'].isin(race_to_keep), other='Other', inplace=True)

In [79]:
data.industry.value_counts().head(20)

Computing or Tech                       4641
Education (Higher Education)            2448
Nonprofits                              2402
Government and Public Administration    1878
Health care                             1873
Accounting, Banking & Finance           1783
Engineering or Manufacturing            1679
Marketing, Advertising & PR             1117
Law                                     1092
Business or Consulting                   845
Education (Primary/Secondary)            829
Media & Digital                          767
Insurance                                527
Retail                                   498
Recruitment or HR                        452
Property or Construction                 381
Art & Design                             353
Utilities & Telecommunications           352
Transport or Logistics                   303
Sales                                    284
Name: industry, dtype: int64

In [84]:
industry_to_keep = ['Computing or Tech', 'Education (Higher Education)', 'Nonprofits', 'Government and Public Administration', 'Health care', 
'Accounting, Banking & Finance', 'Engineering or Manufacturing', 'Marketing, Advertising & PR', 'Law', 'Business or Consulting', 'Education (Primary/Secondary)', 
'Media & Digital', 'Insurance', 'Retail', 'Recruitment or HR', 'Property or Construction', 'Art & Design', 'Utilities & Telecommunications', 'Transport or Logistics', 'Sales']

In [86]:
data['industry'].where(data['industry'].isin(industry_to_keep), other='Other', inplace=True)

27771