## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [72]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [18]:
import random
lst = [i for i in range (0,101)]
#print(lst)
sample_list_1 = random.sample(lst, 80)
print(sample_list_1)

[63, 43, 40, 21, 32, 85, 80, 68, 89, 65, 13, 91, 99, 55, 33, 41, 57, 75, 61, 94, 2, 95, 1, 11, 62, 93, 72, 8, 15, 79, 36, 87, 3, 96, 86, 59, 100, 4, 48, 9, 10, 98, 22, 16, 64, 23, 66, 24, 5, 76, 30, 82, 26, 54, 44, 34, 81, 83, 50, 18, 25, 38, 88, 46, 39, 92, 67, 70, 28, 6, 97, 7, 69, 78, 51, 42, 14, 12, 37, 53]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [19]:
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [38]:
import random
sample_list_2 = []
for i in range (80):
    sample_list_2.append(random.randint(0,101))
    
print(sample_list_2)

[83, 94, 33, 100, 61, 49, 90, 36, 7, 50, 91, 54, 48, 101, 89, 1, 87, 40, 55, 74, 15, 58, 98, 90, 11, 60, 20, 90, 20, 9, 35, 66, 69, 89, 30, 27, 36, 80, 94, 54, 89, 88, 98, 36, 68, 101, 44, 38, 53, 51, 14, 60, 29, 83, 40, 65, 44, 7, 73, 32, 18, 90, 88, 39, 68, 58, 97, 6, 10, 1, 95, 50, 94, 26, 23, 23, 32, 3, 43, 100]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [40]:
set2 = set(sample_list_2)
print(len(set2))
#does not count duplicates towards the final count

54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [39]:
#print(set1)
#print(set2)
set3 = set1 - set2
print(set3)

{3, 5, 6, 7, 8, 12, 14, 15, 16, 24, 28, 34, 37, 38, 46, 53, 54, 59, 62, 63, 65, 66, 70, 72, 82, 85, 86, 87, 88, 89, 93, 94, 96, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [26]:
set4 = set2 - set1
print(set4)

{0, 35, 45, 47, 17, 49, 19, 20, 52, 84, 56, 58, 27, 60, 90}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [41]:
set5 = set1.intersection(set2)
print(set5)

{1, 3, 6, 7, 9, 10, 11, 14, 15, 18, 23, 26, 30, 32, 33, 36, 38, 39, 40, 43, 44, 48, 50, 51, 53, 54, 55, 61, 65, 66, 68, 69, 80, 83, 87, 88, 89, 91, 94, 95, 97, 98, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [42]:
print(len(set1),len(set2),len(set3),len(set4),len(set5))
len (set1) >= len (set2) and len(set2) >= len (set3) and len (set3) >= len (set4) and len (set4) <= len (set5)

80 54 35 15 43

True

#### Create an empty set called `set6`.

In [37]:
# Your code here
set6 = set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [45]:
set6.update(set3,set5)
print(set6)

{3, 5, 6, 7, 8, 12, 14, 15, 16, 24, 28, 34, 37, 38, 46, 53, 54, 59, 62, 63, 65, 66, 70, 72, 82, 85, 86, 87, 88, 89, 93, 94, 96, 98, 99}
{1, 3, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 18, 23, 24, 26, 28, 30, 32, 33, 34, 36, 37, 38, 39, 40, 43, 44, 46, 48, 50, 51, 53, 54, 55, 59, 61, 62, 63, 65, 66, 68, 69, 70, 72, 80, 82, 83, 85, 86, 87, 88, 89, 91, 93, 94, 95, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [46]:
(set1) == (set6)

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [51]:
set2.issubset(set1)
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [54]:
aggregate345 = set3.union(set4, set5)
print(aggregate345)

aggregate12 = set1.union(set2)
print(aggregate12)

aggregate345==aggregate12

{0, 1, 3, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 23, 24, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 65, 66, 68, 69, 70, 72, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99, 100}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 46, 48, 49, 50, 51, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101}

False

#### Using the `pop` method, remove the first element from `set1`.

In [56]:
#print(set1)
set1.remove(1)
print(set1)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 21, 22, 23, 24, 25, 26, 28, 30, 32, 33, 34, 36, 37, 38, 39, 40, 41, 42, 43, 44, 46, 48, 50, 51, 53, 54, 55, 57, 59, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 75, 76, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [62]:
#print(set1)

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
discarded = []

for element in list_to_remove:
    if element in set1:
        set1.discard(element)
        discarded.append(element)
        
print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 18, 22, 23, 24, 25, 26, 28, 30, 32, 33, 34, 36, 37, 38, 40, 42, 43, 44, 46, 48, 50, 53, 54, 55, 57, 62, 63, 64, 65, 66, 67, 68, 70, 72, 75, 76, 78, 80, 82, 83, 85, 86, 87, 88, 92, 93, 94, 95, 96, 97, 98, 100}