## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [38]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [39]:
sample_list_1 = random.sample(range(0,100), 80)

In [42]:
sample_list_1[:20]

[54, 12, 65, 39, 86, 52, 55, 87, 61, 34, 95, 97, 84, 18, 9, 50, 17, 23, 51, 4]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [83]:
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [46]:
sample_list_2 = []
for i in range(80):
     sample_list_2.append(random.randint(0,100))

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [53]:
set2 = set(sample_list_2)
len(set2)

48

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [49]:
set3 = set1.difference(set2)

In [52]:
len(set3)

40

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [90]:
set4 = set2.difference(set1)

In [55]:
len(set4)

8

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [56]:
set5 = set1.intersection(set2)

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [94]:
# set1 is set 1
# set2 is set 2
# these are not related to each other in anything else but size
# set3 is the elements of set1 that are NOT in set2
# set4 is the elements of set2 that are NOT part of set1
# set5 is the intersection of set1 and set2, the common elements

#### Create an empty set called `set6`.

In [60]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [62]:
set6.update(set3, set5)

#### Check if `set1` and `set6` are equal.

In [67]:
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [68]:
set1.issubset(set2)

False

In [69]:
set1.issubset(set3)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [74]:
sets_union = set3.union(set4, set5)

In [76]:
set12 = set1.union(set2)

In [77]:
set12 == sets_union

True

#### Using the `pop` method, remove the first element from `set1`.

In [78]:
# SETS ARE UNORDERED THERE IS NO FIRST ITEM AND NO INDEXING

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [36]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

In [88]:
for l in list_to_remove:
    if l in set1:
        set1.remove(l)

In [89]:
print(set1)

{2, 3, 4, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 38, 40, 42, 43, 44, 46, 50, 52, 54, 55, 56, 57, 58, 60, 63, 64, 65, 66, 68, 70, 73, 74, 75, 76, 77, 78, 80, 83, 84, 85, 86, 87, 88, 90, 92, 93, 95, 97, 98}