# Subsetting and Descriptive Stats

## Before your start:
   - Remember that you just need to do one of the challenges.
   - Keep in mind that you need to use some of the functions you learned in the previous lessons.
   - All datasets are provided in IronHack's database.
   - Elaborate your codes and outputs as much as you can.
   - Try your best to answer the questions and complete the tasks and most importantly: enjoy the process!
   
#### Import all the necessary libraries here:

In [1]:
# 2 relevant plot

import pandas as pd
import plotly.graph_objects as go
import plotly.offline as pyo
import matplotlib.pyplot as plt
%matplotlib inline

# [ONLY ONE MANDATORY] Challenge 1
#### In this challenge we will use the `Temp_States`  dataset. 

#### First import it into a dataframe called `temp`.

#### Print `temp`.

#### Explore the data types of the *temp* dataframe. What types of data do we have? Comment your result.

In [2]:
"""
your comments here
"""

'\nyour comments here\n'

#### Select the rows where state is New York.

#### What is the average temperature of cities in New York?

#### Which states and cities have a temperature above 15 degrees Celsius?

#### Now, return only the cities that have a temperature above 15 degrees Celsius.

#### Which cities have a temperature above 15 degrees Celcius and below 20 degrees Celsius?

**Hint**: First, write the condition. Then, select the rows.

#### Find the mean and standard deviation of the temperature of each state.

# [ONLY ONE MANDATORY]  Challenge 2

#### Load the `employees` dataset into a dataframe. Call the dataframe `employees`.

In [3]:
# your code here

#### Explore the data types of the `employees` dataframe. Comment your results.

In [4]:
# your code here

In [5]:
"""
your comments here
"""

'\nyour comments here\n'

#### What's the average salary in this company?

In [6]:
# your code here

#### What's the highest salary?

In [7]:
# your code here

#### What's the lowest salary?

In [8]:
# your code here

#### Who are the employees with the lowest salary?

In [9]:
# your code here

#### Find all the information about an employee called David.

In [10]:
# your code here

#### Could you return only David's salary?

In [11]:
# your code here

#### Print all the rows where job title is associate.

In [12]:
# your code here

#### Print the first 3 rows of your dataframe.
**Tip**: There are 2 ways to do it. Do it both ways.

In [13]:
# Method 1
# your code here

In [14]:
# Method 2
# your code here

#### Find the employees whose title is associate and whose salary is above 55.

In [15]:
# your code here

#### Group the employees by number of years of employment. What are the average salaries in each group?

In [16]:
# your code here

####  What is the average salary per title?

In [17]:
# your code here

####  Find the salary quartiles.

In [18]:
# your code here

#### Is the mean salary different per gender?

In [19]:
# your code here

#### Find the minimum, mean and maximum of all numeric columns for each company department.

In [20]:
# your code here

#### Bonus Question:  for each department, compute the difference between the maximum and the minimum salary.
**Hint**: try using `agg` or `apply` combined with `lambda` functions.

In [21]:
# your code here

# [ONLY ONE MANDATORY] Challenge 3
#### Open the `Orders` dataset. Name your dataset `orders`.

In [22]:
df = pd.read_csv('Orders.csv')

FileNotFoundError: [Errno 2] File Orders.csv does not exist: 'Orders.csv'

#### Explore your dataset by looking at the data types and summary statistics. Comment your results.

In [ ]:
df.describe()

In [ ]:
df.head()

In [ ]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
df.info()

In [ ]:
df.corr(method='Spea')

In [ ]:
"""
Unnamed: 0 is an index column

InvoiceDate is a string not date. Description is a string. 

Stock Code and InvoiceNo and CustomerID are ID fields not useful for data analysis.

Year Month day hour can be merged to one datetime object if needed.


"""

####  What is the average purchase price?

In [ ]:
df['UnitPrice'].mean()

#### What are the highest and lowest purchase prices?

In [ ]:
df['UnitPrice'].min()

In [ ]:
df['UnitPrice'].max()

#### Select all the customers from Spain.
**Hint**: Remember that you are not asked to find orders from Spain but customers. A customer might have more than one order associated.

In [ ]:
df[df['Country'] == 'Spain']['CustomerID'].unique()

#### How many customers do we have in Spain?

In [ ]:
df[df['Country'] == 'Spain']['CustomerID'].nunique()

#### Select all the customers who have bought more than 50 items.
**Hint**: Remember that you are not asked to find orders with more than 50 items but customers who bought more than 50 items. A customer with two orders of 30 items each should appear in the selection.

In [ ]:
df.head()

In [ ]:
df.groupby('CustomerID')['Quantity'].sum()[df.groupby('CustomerID')['Quantity'].sum()>50].sort_values(ascending=False).reset_index()

#### Select orders from Spain that include more than 50 items.

In [ ]:
df[df['Country'] == 'Spain'][df[df['Country'] == 'Spain']['Quantity']>50].head()

#### Select all free orders.

In [ ]:
df[df['amount_spent'] == 0].head()

#### Select all orders whose description starts with `lunch bag`.
**Hint**: use string functions.

In [ ]:
df[df['Description'].str.startswith('lunch bag')]

#### Select all `lunch bag` orders made in 2011.

In [ ]:
df[(df['Description'].str.startswith('lunch bag')) & (df['year'] == 2011)]

#### Show the frequency distribution of the amount spent in Spain.

In [ ]:
df[df['Country'] == 'Spain']['amount_spent'].describe()

#### Select all orders made in the month of August.

In [ ]:
df[df['month'] == 8]

#### Find the number of orders made by each country in the month of August.
**Hint**: Use value_counts().

In [ ]:
df[df['month'] ==8]['Country'].value_counts()

#### What's the  average amount of money spent by country?

In [ ]:
df.groupby('Country')['amount_spent'].mean()

#### What's the most expensive item?

In [ ]:
df[df['UnitPrice'] == df['UnitPrice'].max()]

#### What is the average amount spent per year?

In [ ]:
df.groupby('year')['amount_spent'].mean()

In [ ]:
df.head()

In [ ]:
import seaborn as sns

In [ ]:
df['InvoiceDate'] =  pd.to_datetime(df['InvoiceDate'])

In [ ]:
plt.figure(figsize=(15,6))
plt.xticks(rotation='vertical')
chrt = plt.hist(x=df['Country'], bins = df['Country'].nunique())

In [ ]:
plt.figure(figsize=(15,6))

sns.distplot(df['UnitPrice'], rug=True, kde=True)

In [ ]:
plt.figure(figsize=(12,6))
plt.xticks(rotation='vertical')
plt.ylabel('Amount spent')
sns.scatterplot(data=df.groupby('Country')['amount_spent'].mean())

In [ ]:
plt.figure(figsize=(12,6))
sns.heatmap(df.corr(), cmap='YlGnBu')

In [ ]:
plt.figure(figsize=(12,6))

sns.barplot(x=df['month'], y=df['amount_spent'])