# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [42]:
# Import reduce from functools, numpy and pandas

import pandas as pd
import numpy as np
from functools import reduce

# Challenge 1 - Mapping

#### We will use the map function to clean up words in a book.

In the following cell, we will read a text file containing the book The Prophet by Khalil Gibran.

In [43]:
# Run this code:

location = '../data/58585-0.txt'
with open(location, 'r', encoding="utf8") as f:
    prophet = f.read().split(' ')

#### Let's remove the first 568 words since they contain information about the book but are not part of the book itself. 

Do this by removing from `prophet` elements 0 through 567 of the list (you can also do this by keeping elements 568 through the last element).

In [44]:
# your code here

prophet = prophet[568:]
len(prophet)

13069

If you look through the words, you will find that many words have a reference attached to them. For example, let's look at words 1 through 10.

In [45]:
# your code here

print(prophet[0:9])

['PROPHET\n\n|Almustafa,', 'the{7}', 'chosen', 'and', 'the\nbeloved,', 'who', 'was', 'a', 'dawn']

#### The next step is to create a function that will remove references. 

We will do this by splitting the string on the `{` character and keeping only the part before this character. Write your function below.

In [46]:
def reference(x):
    '''
    Input: A string
    Output: The string with references removed
    
    Example:
    Input: 'the{7}'
    Output: 'the'
    '''
    return x.split('{')[0]

Now that we have our function, use the `map()` function to apply this function to our book, The Prophet. Return the resulting list to a new list called `prophet_reference`.

In [47]:
# your code here

prophet_reference = list(map(reference, prophet))

Another thing you may have noticed is that some words contain a line break. Let's write a function to split those words. Our function will return the string split on the character `\n`. Write your function in the cell below.

In [48]:
def line_break(x):
    '''
    Input: A string
    Output: A list of strings split on the line break (\n) character
        
    Example:
    Input: 'the\nbeloved'
    Output: ['the', 'beloved']
    '''
    return x.split('\n')

Apply the `line_break` function to the `prophet_reference` list. Name the new list `prophet_line`.

In [49]:
# your code here

prophet_line = list(map(line_break, prophet_reference))

If you look at the elements of `prophet_line`, you will see that the function returned lists and not strings. Our list is now a list of lists. Flatten the list using list comprehension. Assign this new list to `prophet_flat`.

In [50]:

print(prophet_line[0:30], "\n")

prophet_flat = [j for i in prophet_line for j in i]

print(prophet_flat[0:30])

[['PROPHET', '', '|Almustafa,'], ['the'], ['chosen'], ['and'], ['the', 'beloved,'], ['who'], ['was'], ['a'], ['dawn'], ['unto'], ['his'], ['own', 'day,'], ['had'], ['waited'], ['twelve'], ['years'], ['in'], ['the'], ['city', 'of'], ['Orphalese'], ['for'], ['his'], ['ship'], ['that'], ['was'], ['to', 'return'], ['and'], ['bear'], ['him'], ['back']]

['PROPHET', '', '|Almustafa,', 'the', 'chosen', 'and', 'the', 'beloved,', 'who', 'was', 'a', 'dawn', 'unto', 'his', 'own', 'day,', 'had', 'waited', 'twelve', 'years', 'in', 'the', 'city', 'of', 'Orphalese', 'for', 'his', 'ship', 'that', 'was']

# Challenge 2 - Filtering

When printing out a few words from the book, we see that there are words that we may not want to keep if we choose to analyze the corpus of text. Below is a list of words that we would like to get rid of. Create a function that will return false if it contains a word from the list of words specified and true otherwise.

In [51]:
def word_filter(x):
    '''
    Input: A string
    Output: True if the word is not in the specified list 
    and False if the word is in the list.
        
    Example:
    word list = ['and', 'the']
    Input: 'and'
    Output: False
    
    Input: 'John'
    Output: True
    '''
    word_list = ['and', 'the', 'a', 'an']
    if x in word_list:
        return False
    else:
        return True

In [52]:
prophet_filter = list(filter(word_filter, prophet_flat))

print(prophet_filter[0:30])

['PROPHET', '', '|Almustafa,', 'chosen', 'beloved,', 'who', 'was', 'dawn', 'unto', 'his', 'own', 'day,', 'had', 'waited', 'twelve', 'years', 'in', 'city', 'of', 'Orphalese', 'for', 'his', 'ship', 'that', 'was', 'to', 'return', 'bear', 'him', 'back']

Use the `filter()` function to filter out the words speficied in the `word_filter()` function. Store the filtered list in the variable `prophet_filter`.

# Bonus Challenge

Rewrite the `word_filter` function above to not be case sensitive.

In [53]:
def word_filter_case(x):
    word_list = ['and', 'the', 'a', 'an']
    x = x.lower()
    if x in word_list:
        return False
    else:
        return True

# Challenge 3 - Reducing

#### Now that we have significantly cleaned up our text corpus, let's use the `reduce()` function to put the words back together into one long string separated by spaces. 

We will start by writing a function that takes two strings and concatenates them together with a space between the two strings.

In [54]:
def concat_space(a, b):
    '''
    Input: Two strings
    Output: A single string separated by a space
        
    Example:
    Input: 'John', 'Smith'
    Output: 'John Smith'
    '''
    return a + " " + b

Use the function above to reduce the text corpus in the list `prophet_filter` into a single string. Assign this new string to the variable `prophet_string`.

In [55]:
# your code here

prophet_string = reduce(concat_space, prophet_filter)
prophet_string[0:300]

'PROPHET  |Almustafa, chosen beloved, who was dawn unto his own day, had waited twelve years in city of Orphalese for his ship that was to return bear him back to isle of his birth.  And in twelfth year, on seventh day of Ielool, month of reaping, he climbed hill without city walls looked seaward; he'

# Challenge 4 - Applying Functions to DataFrames

#### Our next step is to use the apply function to a dataframe and transform all cells.

To do this, we will connect to Ironhack's database and retrieve the data from the *pollution* database. Select the *beijing_pollution* table and retrieve its data.

In [56]:
# your code here

pollution = pd.read_csv('/Users/vilmastasiute/Ironhack/Pollution/pollution2.csv', sep=';')

Let's look at the data using the `head()` function.

In [57]:
pollution.head(15)

,Date,Day,DOW,Holiday,Influenza,Iws,PM10_lag0,PMc_lag0,Ir,NO2_lag0,...,all1,URTI0,URTI1,LRTI0,LRTI1,Asthma0,Asthma1,AECOPD0,AECOPD1,xxx
0,01/01/2013,1,2,1,1,NaN,NaN,NaN,NaN,NaN,...,90,295,23,153,59,8.0,3.0,1.0,3.0,1
1,02/01/2013,2,3,1,1,NaN,NaN,NaN,NaN,NaN,...,93,307,23,94,61,5.0,3.0,2.0,2.0,1
2,03/01/2013,3,4,1,1,NaN,NaN,NaN,NaN,NaN,...,91,319,19,101,63,12.0,8.0,NaN,NaN,1
3,04/01/2013,4,5,0,1,NaN,NaN,NaN,NaN,NaN,...,91,293,23,84,60,5.0,1.0,1.0,2.0,1
4,05/01/2013,5,6,0,1,NaN,NaN,NaN,NaN,NaN,...,84,275,21,86,58,4.0,1.0,NaN,2.0,1
5,06/01/2013,6,7,0,1,NaN,NaN,NaN,NaN,NaN,...,70,294,18,88,48,2.0,1.0,NaN,2.0,1
6,07/01/2013,7,1,0,1,NaN,NaN,NaN,NaN,NaN,...,79,303,24,98,47,2.0,3.0,1.0,2.0,1
7,08/01/2013,8,2,0,1,NaN,NaN,NaN,NaN,NaN,...,78,298,19,93,52,3.0,3.0,1.0,4.0,1
8,09/01/2013,9,3,0,1,NaN,NaN,NaN,NaN,NaN,...,79,255,17,114,59,3.0,1.0,NaN,1.0,1
9,10/01/2013,10,4,0,1,NaN,NaN,NaN,NaN,NaN,...,78,276,17,78,55,3.0,3.0,1.0,2.0,1
10,11/01/2013,11,5,0,1,328.41,369.47,46.25,115.65,138.65,...,81,315,23,72,54,3.0,2.0,NaN,1.0,1
11,12/01/2013,12,6,1,1,430.00,487.88,66.87,102.69,171.47,...,91,315,32,106,53,3.0,1.0,1.0,4.0,1
12,13/01/2013,13,7,1,1,508.53,577.41,81.13,133.82,153.94,...,86,310,26,131,55,NaN,NaN,1.0,3.0,1
13,14/01/2013,14,1,0,1,247.76,261.12,51.00,99.25,122.00,...,73,323,22,75,44,NaN,1.0,1.0,4.0,1
14,15/01/2013,15,2,0,1,100.41,106.56,24.67,40.00,76.44,...,77,267,22,83,48,7.0,3.0,NaN,3.0,1

The next step is to create a function that divides a cell by 24 to produce an hourly figure. Write the function below.

In [58]:
def hourly(x):
    '''
    Input: A numerical value
    Output: The value divided by 24
        
    Example:
    Input: 48
    Output: 2.0
    '''
    return x/24

Apply this function to the columns `Iws`, `Is`, and `Ir`. Store this new dataframe in the variable `pm25_hourly`.

In [59]:
# your code here

pm25_hourly = pollution[["Iws", "Is", "Ir"]].apply(hourly)
pm25_hourly.head(15)

          Iws        Is        Ir
0         NaN       NaN       NaN
1         NaN       NaN       NaN
2         NaN       NaN       NaN
3         NaN       NaN       NaN
4         NaN       NaN       NaN
5         NaN       NaN       NaN
6         NaN       NaN       NaN
7         NaN       NaN       NaN
8         NaN       NaN       NaN
9         NaN       NaN       NaN
10  13.683750       NaN  4.818750
11  17.916667  1.927083  4.278750
12  21.188750  2.786250  5.575833
13  10.323333  3.380417  4.135417
14   4.183750  2.125000  1.666667

#### Our last challenge will be to create an aggregate function and apply it to a select group of columns in our dataframe.

Write a function that returns the standard deviation of a column divided by the length of a column minus 1. Since we are using pandas, do not use the `len()` function. One alternative is to use `count()`. Also, use the numpy version of standard deviation.

In [60]:
def sample_sd(x):
    '''
    Input: A Pandas series of values
    Output: the standard deviation divided by the number of elements in the series
        
    Example:
    Input: pd.Series([1,2,3,4])
    Output: 0.3726779962
    '''
    return np.std(x)/(x.count()-1)

sample_sd(pollution["all1"])

In [61]:
sample_sd(pollution["PM10_lag0"])

0.2874661278155434

In [62]:
sample_sd(pd.Series([1,2,3,4]))

0.37267799624996495