# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
# Run this code:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [4]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [5]:
pokemon["Legendary"].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [6]:
legendary_subset = pokemon[pokemon["Legendary"] == True]
nonlegendary_subset = pokemon[pokemon["Legendary"] == False]

leg_std = legendary_subset["Total"].std()
nonleg_std = nonlegendary_subset["Total"].std()

leg_mean = legendary_subset["Total"].mean()
nonleg_mean = nonlegendary_subset["Total"].mean()
#pokemon.drop...

pokemon["Total_leg"] = pokemon["Total"]
leg_mean
nonleg_mean

417.21360544217686

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [7]:
from scipy import stats
from scipy.stats import ttest_ind

In [8]:
# Your code here:
ttest_ind(pokemon.Total[pokemon["Legendary"]==True], pokemon.Total[pokemon["Legendary"]==False], equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [9]:
# Your conclusions here:
# we reject H0 due to the low p-value

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [11]:
# Your code here:
pokemon["Type 1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [29]:
#creating a new dataframe
pokemon_water= pokemon[pokemon["Type 1"] == "Water"]
pokemon_rest = pokemon[pokemon["Type 1"] != "Water"]
print("the mean of water pokemon is ", pokemon_water["Total"].mean())
print("the std of water pokemon is ", pokemon_water["Total"].std())
print("the mean of all pokemon is ", pokemon_rest["Total"].mean())
print("the std of all pokemon is ", pokemon_rest["Total"].std())

the mean of water pokemon is  430.45535714285717
the std of water pokemon is  113.18826606431458
the mean of all pokemon is  435.85901162790697
the std of all pokemon is  121.09168230208066

In [30]:
# old code:
pokemon[pokemon["Type 1"]=="Water"].mean()
pokemon[pokemon["Type 1"]!="Water"].mean()
pokemon[pokemon["Type 1"]=="Water"].std()
pokemon[pokemon["Type 1"]!="Water"].std()

#             209.928799
Total         121.091682
HP             25.194299
Attack         33.025152
Defense        31.719933
Sp. Atk        33.292537
Sp. Def        27.739292
Speed          29.925907
Generation      1.666119
Legendary       0.284463
Total_leg     121.091682
dtype: float64

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [33]:
# Your code here:
ttest_ind(pokemon.Total[pokemon["Type 1"]=="Water"], pokemon.Total[pokemon["Type 1"]!="Water"], equal_var=True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [10]:
#We do not reject H0 --> p-value is rather high

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [35]:
from scipy.stats import ttest_rel

In [37]:
# Your code here:
ttest_rel(pokemon.Attack, pokemon.Defense)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:
#we reject H0 as p-value is high

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [38]:
pokemon.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary', 'Total_leg'],
      dtype='object')

In [48]:
# Your code here:
ttest_rel(pokemon["Sp. Atk"], pokemon["Sp. Def"])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:
#we reject H0  because the difference between the mean of the special attack and that of the special defense 
#is significant

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [67]:
# Your code here:
from scipy.stats import ttest_1samp

In [70]:
pokemon["diff"] = pokemon["Attack"] - pokemon["Defense"]
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total_leg,difference,diff
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,318,0,0
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,405,-1,-1
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,525,-1,-1
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,625,-23,-23
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,309,9,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,600,-50,-50
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,700,50,50
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,600,50,50
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,680,100,100
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,600,-10,-10

In [71]:
ttest_1samp[pokemon["diff"], 0]

TypeError: 'function' object is not subscriptable

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: