# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [31]:
# import numpy and pandas

import numpy as np
import pandas as pd
from scipy.stats import ttest_1samp
from scipy.stats import ttest_ind

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [12]:
# Your code here:

pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [29]:
# Your code here:

pokemon.groupby('Legendary')['Total'].describe()

           count        mean         std    min    25%    50%    75%    max
Legendary
False      735.0  417.213605  106.760417  180.0  324.0  425.0  498.0  700.0
True        65.0  637.384615   60.937389  580.0  580.0  600.0  680.0  780.0

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [43]:
# Your code here:

# Select non legendary pokemon
legendfalse = pokemon[pokemon['Legendary'] == False]
legendfalse
# Select legendary pokemon
legendtrue = pokemon[pokemon['Legendary'] == True]
legendtrue

# H0: there is no significant difference between the two sample means 
# H1: there is a significant difference between the two sample means

ttest_ind(legendfalse['Total'], legendtrue['Total'], equal_var=False)

Ttest_indResult(statistic=-25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:

# The p-value is below 0.05, therefore we can reject null hypothesis.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [45]:
# Your code here:

pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ghost        32
Ground       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [50]:
# Your code here:

print(pokemon[pokemon['Type 1'] == 'Water']['Total'].describe()[:3], "\n")
print(pokemon[pokemon['Type 1'] != 'Water']['Total'].describe()[:3])

count    112.000000
mean     430.455357
std      113.188266
Name: Total, dtype: float64

count    688.000000
mean     435.859012
std      121.091682
Name: Total, dtype: float64

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [52]:
# Your code here:

# H0: there is no significant difference between the two sample means (mean of Total points (Water) = mean of Total points (non Water))
# H1: there is a significant difference between the two sample means

ttest_ind(pokemon[pokemon['Type 1'] == 'Water']['Total'], pokemon[pokemon['Type 1'] != 'Water']['Total'], equal_var=True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [10]:
# Your conclusions here:

# There is not enough evidence to reject the null hypothesis that there is no significant
# difference between the mean Total points among Water and non Water pokemons.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [53]:
# Your code here:

from scipy.stats import ttest_rel

# H0: 2 related samples have identical average (expected) values
# H1: 2 related samples do not have identical average (expected) values

ttest_rel(pokemon['Attack'], pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:

# The p-value is below 0.05, therefore we can reject the null hypothesis.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [55]:
# Your code here:

# H0: 2 related samples have identical average (expected) values
# H1: 2 related samples do not have identical average (expected) values

ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:

# The p-value > 0.05, therefore there is not enough evidence to reject the null hypothesis.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [56]:
# Your code here:
    
ttest_1samp(pokemon['Attack']-pokemon['Defense'], 0)

# Indeed, the p-value and t-statistic are identical to the ones calculated by ttest_rel.

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [61]:
# Your code here:

pokemon['IsWater?'] = np.where(pokemon['Type 1'] == 'Water', 'Water', 'Other')
# pokemon

pokemon_crosstab = pd.crosstab(pokemon['Legendary'], pokemon['IsWater?'], margins = False)
pokemon_crosstab

IsWater?   Other  Water
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

# I will finish this one later if I have time.

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: