# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [12]:
# Your code here:
print(pokemon.shape)
pokemon.head()

(800, 13)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [7]:
non_legendary = pokemon[pokemon.Legendary == False]
legendary = pokemon[pokemon.Legendary == True]

In [13]:
print(legendary.shape[0])
print(non_legendary.shape[0])

65
735

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [17]:
# Your code here:
print(np.std(legendary.Total))
print(np.mean(legendary.Total))
print(np.std(non_legendary.Total))
print(np.mean(non_legendary.Total))

60.46682302213781
637.3846153846154
106.68776660321996
417.21360544217686

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [18]:
from scipy import stats
stats.ttest_ind(legendary.Total, non_legendary.Total, equal_var = False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

# Your conclusions here:
We reject the hypothetical of identital stats between the 2 groups

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [24]:
pokemon.groupby('Type 1').size().reset_index(name='counts')

      Type 1  counts
0        Bug      69
1       Dark      31
2     Dragon      32
3   Electric      44
4      Fairy      17
5   Fighting      27
6       Fire      52
7     Flying       4
8      Ghost      32
9      Grass      70
10    Ground      32
11       Ice      24
12    Normal      98
13    Poison      28
14   Psychic      57
15      Rock      44
16     Steel      27
17     Water     112

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [26]:
water_pokemon = pokemon[pokemon['Type 1'] == 'Water']
other_pokemon = pokemon[pokemon['Type 1'] != 'Water']
print(np.std(water_pokemon))
print(np.std(other_pokemon))
print(np.mean(other_pokemon))
print(np.mean(water_pokemon))

#             187.597668
Total         112.681828
HP             27.364041
Attack         28.250224
Defense        27.649541
Sp. Atk        28.900238
Sp. Def        28.333153
Speed          22.916357
Generation      1.551826
Legendary       0.185577
dtype: float64
#             209.776179
Total         121.003648
HP             25.175983
Attack         33.001142
Defense        31.696872
Sp. Atk        33.268333
Sp. Def        27.719126
Speed          29.904151
Generation      1.664908
Legendary       0.284256
dtype: float64
#             372.536337
Total         435.859012
HP             68.802326
Attack         79.790698
Defense        73.988372
Sp. Atk        72.495640
Sp. Def        72.127907
Speed          68.654070
Generation      3.399709
Legendary       0.088663
dtype: float64
#             303.089286
Total         430.455357
HP             72.062500
Attack         74.151786
Defense        72.946429
Sp. Atk        74.812500
Sp. Def        70.517857
Speed          65.964286
Generation      2.857143
Legendary       0.035714
dtype: float64

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [28]:
stats.ttest_ind(water_pokemon.Total, other_pokemon.Total, equal_var = True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [ ]:
# Your conclusions here:
We can conclude that the 2 groups have same stats

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [30]:
# Your code here:
stats.ttest_rel(pokemon.Attack,pokemon.Defense)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
There is a great difference between the 2 stats

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [40]:
# Your code here:
stats.ttest_1samp(pokemon['Sp. Def']-pokemon['Sp. Atk'],0.0)

Ttest_1sampResult(statistic=-0.853986188453353, pvalue=0.3933685997548122)

In [41]:
stats.ttest_rel(pokemon['Sp. Def'],pokemon['Sp. Atk'])

Ttest_relResult(statistic=-0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:
The two groups are close

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [42]:
stats.ttest_1samp(pokemon['Defense']-pokemon['Attack'],0.0)

Ttest_1sampResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

In [43]:
np.mean(pokemon.Defense) - np.mean(pokemon.Attack)

-5.158749999999998

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [44]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [47]:
pokemon['is_water'] = pokemon['Type 1'] == 'Water'

In [49]:
legendary_and_water = pd.crosstab(pokemon.Legendary, pokemon.is_water)
legendary_and_water

is_water   False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [52]:
chi2, p, dof, ex = stats.chi2_contingency(legendary_and_water)
p

0.08625467249550949

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here:
no because p > 0.5%