# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:
pokemon.groupby(pokemon["Legendary"]).count()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
Legendary,,,,,,,,,,,,
False,735,735,735,374,735,735,735,735,735,735,735,735
True,65,65,65,40,65,65,65,65,65,65,65,65

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [5]:
pokemon.groupby(pokemon["Legendary"]).agg({"Total":["mean","std"]}).reset_index()

  Legendary       Total
                   mean         std
0     False  417.213605  106.760417
1      True  637.384615   60.937389

In [6]:
# Your code here:

mean_legendary = pokemon["Total"].loc[pokemon["Legendary"]==1].mean()
mean_normal = pokemon["Total"].loc[pokemon["Legendary"]==0].mean()
std_legendary = pokemon["Total"].loc[pokemon["Legendary"]==1].std()
std_normal = pokemon["Total"].loc[pokemon["Legendary"]==0].std()
n_legendary = len(pokemon["Total"].loc[pokemon["Legendary"]==1])
n_normal = len(pokemon["Total"].loc[pokemon["Legendary"]==0])

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [7]:
# Your code here:
from scipy import stats

legendary = stats.norm.rvs(loc= mean_legendary, scale=std_legendary/(n_legendary**0.5), size=n_legendary)

normal = stats.norm.rvs(loc= mean_normal, scale=std_normal/(n_normal**0.5), size=n_normal)

stats.ttest_ind(legendary,normal)

Ttest_indResult(statistic=386.7576313315834, pvalue=0.0)

What do you conclude from this test? Write your conclusions below.

In [8]:
# Your conclusions here:

#The p-value is small so we reject H0 of mean1 = mean2

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [9]:
# Your code here:
pokemon.groupby(pokemon["Type 1"])[["Name"]].count()

          Name
Type 1
Bug         69
Dark        31
Dragon      32
Electric    44
Fairy       17
Fighting    27
Fire        52
Flying       4
Ghost       32
Grass       70
Ground      32
Ice         24
Normal      98
Poison      28
Psychic     57
Rock        44
Steel       27
Water      112

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [10]:
# Your code here:
pokemon["water"] = np.where(pokemon["Type 1"]=="Water",True,False)
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,water
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,False

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [11]:
# Your code here:
mean_water = pokemon["Total"].loc[pokemon["water"]==True].mean()
mean_normal = pokemon["Total"].loc[pokemon["water"]==False].mean()
std_water = pokemon["Total"].loc[pokemon["water"]==True].std()
std_normal = pokemon["Total"].loc[pokemon["water"]==False].std()
n_water = len(pokemon["Total"].loc[pokemon["water"]==True])
n_normal = len(pokemon["Total"].loc[pokemon["water"]==False])

water = stats.norm.rvs(loc= mean_water, scale=std_water/(n_water**0.5), size=n_water)

normal = stats.norm.rvs(loc= mean_normal, scale=std_normal/(n_normal**0.5), size=n_normal)

stats.ttest_ind(water,normal)

Ttest_indResult(statistic=-9.306528686247646, pvalue=1.245672766127892e-19)

Write your conclusion below.

In [12]:
# Your conclusions here:
#The p-value is small so we reject H0 of mean1 = mean2

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [13]:
# Your code here:
stats.ttest_ind(pokemon.Attack, pokemon.Defense, equal_var=True)

Ttest_indResult(statistic=3.2417640740423126, pvalue=0.0012123980547321454)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:
#The p-value is small so we reject H0 of mean1 = mean2

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [17]:
# Your code here:
pokemon = pokemon.rename(columns={"Sp. Atk":"Sp_Atk","Sp. Def":"Sp_Def"})

stats.ttest_ind(pokemon.Sp_Atk, pokemon.Sp_Def, equal_var=True)

Ttest_indResult(statistic=0.6041290031014401, pvalue=0.5458436328840358)

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:

#The p-value is high so we cannot reject H0 of mean1 = mean2

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [24]:
# Your code here:
from scipy.stats import ttest_1samp

pokemon["difference"] = pokemon["Sp_Atk"] - pokemon["Sp_Def"]

difference = pokemon["difference"]

H0 = 0
alpha = 0.05

ttest_1samp(difference, H0)

Ttest_1sampResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [ ]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [ ]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here: