## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
# Your code here
# Create a set from 0 to 100

sample_list = list(range(0,101))
print(sample_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [4]:
sample_list_1 = random.sample(sample_list,80)
print(sample_list_1)

[20, 86, 75, 31, 97, 23, 21, 42, 62, 13, 25, 73, 95, 39, 11, 65, 1, 84, 47, 93, 3, 89, 57, 68, 59, 81, 54, 58, 87, 51, 56, 12, 43, 98, 30, 32, 49, 27, 41, 22, 26, 18, 8, 72, 64, 83, 14, 91, 63, 40, 100, 71, 15, 79, 74, 29, 4, 9, 5, 50, 80, 36, 17, 60, 0, 66, 6, 96, 45, 48, 76, 55, 69, 82, 61, 33, 10, 78, 94, 90]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
# Convert set name to other set name
set1 = set(sample_list_1)

In [6]:
type(sample_list_1)

list

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [7]:
# Your code here
# create a new list of non unique values in


sample_list_2 = []

for i in range(80):
        sample_list_2.append(random.randint(0,100))
print(sample_list_2)

[26, 4, 70, 80, 91, 32, 34, 63, 18, 29, 57, 4, 20, 97, 52, 4, 79, 93, 70, 49, 36, 6, 91, 33, 5, 69, 20, 57, 87, 87, 32, 54, 4, 85, 79, 87, 90, 53, 21, 21, 13, 37, 36, 77, 75, 46, 49, 4, 53, 6, 89, 17, 94, 46, 80, 60, 100, 88, 54, 86, 22, 86, 27, 79, 44, 60, 89, 73, 0, 83, 80, 37, 44, 13, 88, 64, 26, 3, 49, 84]

In [8]:
len(sample_list_2)

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [9]:
# Your code here
set2 = set(sample_list_2)

In [10]:
len(set2)

49

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [17]:
# Elements of set1 that are not in set2
set3 = set1 - set2
print(set3)

{1, 8, 9, 10, 11, 12, 14, 15, 23, 25, 30, 31, 39, 40, 41, 42, 43, 45, 47, 48, 50, 51, 55, 56, 58, 59, 61, 62, 65, 66, 68, 71, 72, 74, 76, 78, 81, 82, 95, 96, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [16]:
# Elements of set2 that are not in set1
set4 = set2 - set1
print(set4)

{34, 37, 70, 44, 77, 46, 52, 53, 85, 88}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [19]:
# Intersection of two sets

set5 = ()
set5 = set1.intersection(set2)
print(set5)

{0, 3, 4, 5, 6, 13, 17, 18, 20, 21, 22, 26, 27, 29, 32, 33, 36, 49, 54, 57, 60, 63, 64, 69, 73, 75, 79, 80, 83, 84, 86, 87, 89, 90, 91, 93, 94, 97, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [ ]:
# Your code here

#### Create an empty set called `set6`.

In [14]:
# Create an empty set
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [21]:
# Add sets with the update methode
set6.update(set3, set5)

print(set6)

{0, 1, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 20, 21, 22, 23, 25, 26, 27, 29, 30, 31, 32, 33, 36, 39, 40, 41, 42, 43, 45, 47, 48, 49, 50, 51, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 86, 87, 89, 90, 91, 93, 94, 95, 96, 97, 98, 100}

#### Check if `set1` and `set6` are equal.

In [22]:
# Test if two sets are equal
set6 == set1

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [24]:
# Check if set 1 contains set 2
set2.issubset(set1)

False

In [26]:
#Check if set1 contains set 3
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [27]:
# Aggregate set3, set4 and set5
set345 = set3.union(set4 , set5)
print(set345)

{0, 1, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 20, 21, 22, 23, 25, 26, 27, 29, 30, 31, 32, 33, 34, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 100}

In [28]:
#Aggregate set1 and set 2
set12 = set1.union(set2)
print(set12)

{0, 1, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 20, 21, 22, 23, 25, 26, 27, 29, 30, 31, 32, 33, 34, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 100}

In [29]:
set12 == set345

True

#### Using the `pop` method, remove the first element from `set1`.

In [31]:
# Remove 1st element using pop methode
print(set1)
print(set1.pop())

{0, 1, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 20, 21, 22, 23, 25, 26, 27, 29, 30, 31, 32, 33, 36, 39, 40, 41, 42, 43, 45, 47, 48, 49, 50, 51, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 86, 87, 89, 90, 91, 93, 94, 95, 96, 97, 98, 100}
0

In [32]:
print(set1)
print(set1.pop())

{1, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 20, 21, 22, 23, 25, 26, 27, 29, 30, 31, 32, 33, 36, 39, 40, 41, 42, 43, 45, 47, 48, 49, 50, 51, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 86, 87, 89, 90, 91, 93, 94, 95, 96, 97, 98, 100}
1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [37]:
# Remove elements of a list if they are in a set

# 1. define the elements to remove
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

# 2. using a fo function
for i in list_to_remove:
    if i in set1:
        set1.pop()
print(set1)

{3, 4, 5, 6, 8, 10, 12, 13, 14, 15, 17, 18, 20, 22, 23, 25, 26, 27, 30, 32, 33, 36, 40, 42, 43, 45, 47, 48, 50, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 72, 73, 74, 75, 76, 78, 80, 82, 83, 84, 86, 87, 90, 93, 94, 95, 96, 97, 98, 100}

In [38]:
#using .difference_update

set1.difference_update(list_to_remove)
print(set1)

{3, 4, 5, 6, 8, 10, 12, 13, 14, 15, 17, 18, 20, 22, 23, 25, 26, 27, 30, 32, 33, 36, 40, 42, 43, 45, 47, 48, 50, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 72, 73, 74, 75, 76, 78, 80, 82, 83, 84, 86, 87, 90, 93, 94, 95, 96, 97, 98, 100}