## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = random.sample(range(0, 101), 80)
print(sample_list_1)
print(len(sample_list_1))

[92, 70, 57, 50, 56, 48, 72, 9, 52, 18, 5, 1, 31, 33, 34, 99, 39, 60, 80, 76, 32, 44, 51, 30, 47, 55, 66, 6, 28, 23, 10, 7, 73, 59, 75, 63, 43, 20, 74, 100, 71, 94, 25, 17, 42, 26, 81, 98, 29, 22, 53, 16, 37, 35, 38, 64, 2, 68, 27, 24, 45, 49, 88, 96, 54, 97, 77, 3, 21, 85, 41, 65, 19, 79, 95, 40, 93, 14, 61, 89]
80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = set(sample_list_1)
print(set1)
print(len(set1))

{1, 2, 3, 5, 6, 7, 9, 10, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 63, 64, 65, 66, 68, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 85, 88, 89, 92, 93, 94, 95, 96, 97, 98, 99, 100}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2 = []
for i in range(0, 80):
    number = random.choice(range(0, 101))
    sample_list_2.append(number)
print(sample_list_2)
print(len(sample_list_2))

[78, 7, 93, 66, 36, 91, 45, 39, 73, 91, 15, 2, 8, 53, 4, 80, 98, 91, 79, 37, 25, 94, 40, 93, 59, 49, 40, 33, 66, 23, 66, 35, 74, 97, 91, 14, 10, 26, 91, 18, 99, 24, 100, 32, 62, 24, 13, 81, 58, 6, 0, 37, 40, 39, 50, 79, 25, 0, 82, 18, 58, 35, 42, 30, 5, 35, 86, 41, 79, 31, 92, 58, 8, 46, 36, 99, 27, 31, 23, 84]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2 = set(sample_list_2)
print(set2)
print(len(set2))
# The lenght of the set is not 80, because the doubles are out in this set.

{0, 2, 4, 5, 6, 7, 8, 10, 13, 14, 15, 18, 23, 24, 25, 26, 27, 30, 31, 32, 33, 35, 36, 37, 39, 40, 41, 42, 45, 46, 49, 50, 53, 58, 59, 62, 66, 73, 74, 78, 79, 80, 81, 82, 84, 86, 91, 92, 93, 94, 97, 98, 99, 100}
54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
set3 = set1 - set2
print(set3)
print(len(set3))

{1, 3, 9, 16, 17, 19, 20, 21, 22, 28, 29, 34, 38, 43, 44, 47, 48, 51, 52, 54, 55, 56, 57, 60, 61, 63, 64, 65, 68, 70, 71, 72, 75, 76, 77, 85, 88, 89, 95, 96}
40

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4 = set2 - set1
print(set4)
print(len(set4))

{0, 4, 36, 8, 13, 46, 15, 78, 82, 84, 86, 58, 91, 62}
14

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5 = set1.intersection(set2)
print(set5)
print(len(set5))

{2, 5, 6, 7, 10, 14, 18, 23, 24, 25, 26, 27, 30, 31, 32, 33, 35, 37, 39, 40, 41, 42, 45, 49, 50, 53, 59, 66, 73, 74, 79, 80, 81, 92, 93, 94, 97, 98, 99, 100}
40

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here

print(len(set2) <= len(set1)) # Set2 will (almost) always have less elements than set1, but there is a chance they will have thesame lenght
print(len(set3) < len(set1)) # Set3 will always have less elements than set1
print(len(set1) == len(set3)+len(set5)) # set3 and set5 together make set 1
print(len(set2) == len(set4)+len(set5)) # set 4 and set 5 together make set 2

True
True
True
True

#### Create an empty set called `set6`.

In [10]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)
print(len(set6))

{1, 2, 3, 5, 6, 7, 9, 10, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 63, 64, 65, 66, 68, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 85, 88, 89, 92, 93, 94, 95, 96, 97, 98, 99, 100}
80

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here
print(len(set1) == len(set6))

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
# Your code here
set_total1 = set3.union(set4, set5)
set_total2 = set2.union(set1)
print(len(set_total1) == len(set_total2))

True

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
# Your code here
print(set1)
set1.pop()

{1, 2, 3, 5, 6, 7, 9, 10, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 63, 64, 65, 66, 68, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 85, 88, 89, 92, 93, 94, 95, 96, 97, 98, 99, 100}

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [17]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_list_to_remove = set(list_to_remove)
print(set1 - set_list_to_remove)

{2, 3, 5, 6, 7, 10, 14, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 37, 38, 40, 42, 43, 44, 45, 47, 48, 50, 52, 53, 54, 55, 56, 57, 60, 63, 64, 65, 66, 68, 70, 72, 73, 74, 75, 76, 77, 80, 85, 88, 92, 93, 94, 95, 96, 97, 98, 100}