## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [6]:
# Your code here
sample_list_1 = random.sample(range(101),80)
print(sample_list_1)

[59, 86, 56, 57, 22, 27, 75, 21, 48, 67, 85, 36, 84, 74, 15, 60, 90, 18, 69, 19, 28, 43, 55, 30, 76, 8, 11, 3, 45, 58, 31, 64, 50, 62, 93, 89, 72, 88, 96, 38, 91, 82, 66, 100, 40, 83, 98, 94, 20, 92, 34, 95, 61, 63, 10, 13, 79, 25, 68, 44, 4, 17, 42, 0, 9, 6, 65, 49, 12, 47, 39, 81, 32, 52, 14, 97, 7, 53, 23, 33]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [7]:
# Your code here
set1= set(sample_list_1)

print(set1)

{0, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 25, 27, 28, 30, 31, 32, 33, 34, 36, 38, 39, 40, 42, 43, 44, 45, 47, 48, 49, 50, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 72, 74, 75, 76, 79, 81, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 100}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [29]:
# Your code here
sample_list_2 = [random.choice(range(101)) for i in range(80)]


print(sample_list_2)

len(sample_list_2)

# I am not sure I understood well

[48, 33, 56, 97, 80, 25, 14, 29, 58, 57, 71, 52, 1, 76, 33, 72, 31, 37, 28, 49, 75, 90, 96, 28, 32, 37, 69, 39, 14, 68, 58, 21, 58, 11, 25, 9, 93, 11, 76, 71, 72, 67, 84, 90, 2, 4, 31, 18, 47, 58, 4, 45, 56, 6, 54, 28, 20, 72, 64, 97, 94, 53, 29, 45, 59, 84, 86, 70, 59, 95, 84, 76, 41, 100, 90, 84, 59, 10, 78, 91]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [30]:
# Your code here

set2 = set(sample_list_2)

print(len(set2))

52

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [31]:
# Your code here

set3 = set1 - set2

print(set3)

{0, 3, 7, 8, 12, 13, 15, 17, 19, 22, 23, 27, 30, 34, 36, 38, 40, 42, 43, 44, 50, 55, 60, 61, 62, 63, 65, 66, 74, 79, 81, 82, 83, 85, 88, 89, 92, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [32]:
# Your code here

set4 = set2 - set1

print(set4)

{1, 2, 37, 70, 71, 41, 78, 80, 54, 29}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [33]:
# Your code here

set5 = set1.union(set2)

print(set5)

{0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 25, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 47, 48, 49, 50, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [40]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

len(set5) >= len(set1.union(set2).union(set3).union(set4))

80
52
38
10
90

True

#### Create an empty set called `set6`.

In [54]:
# Your code here
x = [] 
set6 = set(x)

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [57]:
# Your code here

set6.update(set3,set5)

#### Check if `set1` and `set6` are equal.

In [58]:
# Your code here

print(set1==set6)

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [66]:
# Your code here

print(set1.issubset(set2))

print(set3.issubset(set1))

print(0 is not len(set3.intersection(set1)))

False
True
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [69]:
# Your code here
aggr_1 = set3.union(set4).union(set5)
aggr_2 = set1.union(set2)

print(aggr_1==aggr_2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [88]:
# Your code here

set1_list = list(set1)
set1_list.pop(0)

3

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [97]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

new_list =  [x for x in set1_list if not x in list_to_remove]

print(new_list)

[4, 6, 7, 8, 10, 12, 13, 14, 15, 17, 18, 20, 22, 23, 25, 27, 28, 30, 32, 33, 34, 36, 38, 40, 42, 43, 44, 45, 47, 48, 50, 52, 53, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 72, 74, 75, 76, 82, 83, 84, 85, 86, 88, 90, 92, 93, 94, 95, 96, 97, 98, 100]