# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [2]:
chicago = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')
chicago

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
...,...,...,...,...,...,...,...,...
33697,"ZYLINSKA, KLAUDIA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33698,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
33699,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33700,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33701,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DAIS,F,Salary,NaN,126732.0,NaN

Examine the `salaries` dataset using the `head` function below.

In [3]:
chicago.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
chicago.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
chicago['Salary or Hourly'].value_counts()

Salary    25528
Hourly     8174
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:
chicago.pivot_table(index=['Department'], values=['Name'], aggfunc=len)

                      Name
Department
ADMIN HEARNG            38
ANIMAL CONTRL           75
AVIATION              1856
BOARD OF ELECTION      111
BOARD OF ETHICS          8
BUDGET & MGMT           44
BUILDINGS              258
BUSINESS AFFAIRS       167
CITY CLERK              88
CITY COUNCIL           362
COPA                   123
CULTURAL AFFAIRS        74
DAIS                  1033
DISABILITIES            28
FAMILY & SUPPORT       656
FINANCE                544
FIRE                  4627
HEALTH                 467
HOUSING                 66
HOUSING & ECON DEV     154
HUMAN RELATIONS         17
HUMAN RESOURCES         75
INSPECTOR GEN           95
LAW                    398
LICENSE APPL COMM        1
MAYOR'S OFFICE         104
OEMC                  1737
POLICE               13848
POLICE BOARD             2
PROCUREMENT             84
PUBLIC LIBRARY        1088
PUBLIC SAFETY ADMIN    244
STREETS & SAN         2175
TRANSPORTN            1113
TREASURER               28
WATER MGMNT           1914

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
from scipy.stats import ttest_1samp
chicago_hr = chicago.dropna(subset=['Hourly Rate'], axis=0)
chicago_hr.head()

#test for a two sided hypothesis at 95% confidence level
#H0: the mean value is equal to $30/hr
#H1: the mean value is different than $30/hr
#We reject the null hypothesis

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.00
5,"AGNEW, ANTONIO E",MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,37.45
15,"AGSALUD, FERNAN S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,40.78
16,"AGSALUD JR, JUANITO S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,38.52
21,"AGUAYO, LUIS M",LABORER - APPRENTICE,WATER MGMNT,F,Hourly,40.0,NaN,34.98

In [8]:
ttest_1samp(chicago_hr['Hourly Rate'], 30)

Ttest_1sampResult(statistic=31.211500329216044, pvalue=3.825475847673794e-202)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [9]:
chicago_sal = chicago.dropna(subset=['Annual Salary'], axis=0)
chicago_sal.head()
#np.mean(chicago_sal['Annual Salary'])

#H0: this year salaries are the same as last year $86,000/year
#H1: this year salaries is greater than $86,000/year 

ttest_1samp(chicago_sal['Annual Salary'], 86000.0)

Ttest_1sampResult(statistic=23.149576589194083, pvalue=2.3765140851726716e-117)

Using the `crosstab` function, find the department that has the most hourly workers.

In [10]:
#print(chicago.Department.unique())
#chicago.pivot_table(index=['Department'], values=['Hourly Rate'], aggfunc='count')
chicago_hr = chicago_hr.rename(columns={'Hourly Rate': 'Hourly_Rate'})
chicago_hr
chicago_cross = pd.crosstab(chicago_hr.Hourly_Rate, chicago_hr.Department, margins=True, margins_name='Most_Hourly_Workers')
chicago_cross
#1846 are the most hourly workers which are in the 'Streets & Sans' department.

Department,ANIMAL CONTRL,AVIATION,BUDGET & MGMT,BUSINESS AFFAIRS,CITY COUNCIL,CULTURAL AFFAIRS,DAIS,DISABILITIES,FAMILY & SUPPORT,FINANCE,...,MAYOR'S OFFICE,OEMC,POLICE,PROCUREMENT,PUBLIC LIBRARY,PUBLIC SAFETY ADMIN,STREETS & SAN,TRANSPORTN,WATER MGMNT,Most_Hourly_Workers
Hourly_Rate,,,,,,,,,,,,,,,,,,,,,
2.65,0,0,0,0,0,0,0,0,260,0,...,0,0,0,0,0,0,0,0,0,260
8.25,0,0,0,0,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
9.74,0,0,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,2
10.0,0,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
10.5,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57.04,0,12,0,0,0,0,10,0,0,0,...,0,0,0,0,0,0,0,0,46,68
58.4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,10,0,10
61.65,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
128.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
Most_Hourly_Workers,12,1214,2,7,74,10,745,1,357,45,...,17,1077,24,2,356,48,1846,726,1558,8174

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [11]:
#test for a one-sided hypothesis at 95% confidence level
#H0: the hourly wage is less than $35/hr
#H1: the hourly wage is more than $35/hr

ttest_1samp(chicago_cross['STREETS & SAN'], 35)

#pvalue is 0.204/2 = 0.102, thus we do not reject the null hypothesis

Ttest_1sampResult(statistic=-1.2746165546262704, pvalue=0.20410639317546972)

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [24]:
from scipy.stats import t
from scipy import stats

loc = np.mean(chicago_hr['Hourly_Rate'])
print(loc)

lst_hr_rate = chicago_hr['Hourly_Rate']
scale = stats.sem(lst_hr_rate)
print(scale)

stats.t.interval(0.95, df=33702-1, loc=loc, scale=scale)

34.58644971862002
0.14694742867989574

(34.298427706539755, 34.87447173070028)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [28]:
chicago_sal.head()
loc = np.mean(chicago_sal['Annual Salary'])
lst_salary_rate = chicago_sal['Annual Salary']
scale = stats.sem(lst_salary_rate)
stats.t.interval(0.95, df=33702-1, loc=loc, scale=scale)

(88802.55814365679, 89321.03185634318)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [15]:
# Your code here: