# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [27]:
# import numpy and pandas
import numpy as np
import pandas as pd
from scipy.stats import ttest_1samp
from scipy import stats
from scipy.stats import t, sem

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [2]:
df = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
df.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
df.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
len(df['Salary or Hourly'] == 'Hourly')

33702

In [6]:
len(df['Salary or Hourly'] == 'Salary')

33702

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [7]:
df['Department'].value_counts()

POLICE                 13848
FIRE                    4627
STREETS & SAN           2175
WATER MGMNT             1914
AVIATION                1856
OEMC                    1737
TRANSPORTN              1113
PUBLIC LIBRARY          1088
DAIS                    1033
FAMILY & SUPPORT         656
FINANCE                  544
HEALTH                   467
LAW                      398
CITY COUNCIL             362
BUILDINGS                258
PUBLIC SAFETY ADMIN      244
BUSINESS AFFAIRS         167
HOUSING & ECON DEV       154
COPA                     123
BOARD OF ELECTION        111
MAYOR'S OFFICE           104
INSPECTOR GEN             95
CITY CLERK                88
PROCUREMENT               84
ANIMAL CONTRL             75
HUMAN RESOURCES           75
CULTURAL AFFAIRS          74
HOUSING                   66
BUDGET & MGMT             44
ADMIN HEARNG              38
DISABILITIES              28
TREASURER                 28
HUMAN RELATIONS           17
BOARD OF ETHICS            8
POLICE BOARD               2
LICENSE APPL COMM          1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [8]:
df[df['Salary or Hourly'] == 'Hourly'].head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.00
5,"AGNEW, ANTONIO E",MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,37.45
15,"AGSALUD, FERNAN S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,40.78
16,"AGSALUD JR, JUANITO S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,38.52
21,"AGUAYO, LUIS M",LABORER - APPRENTICE,WATER MGMNT,F,Hourly,40.0,NaN,34.98

In [9]:
# H0: Hourly wage of all hourly workers is significantly different from 30$/hr
# H1: Hourly wage of all hourly workers is not significantly different from 30$/hr

#H0: P ~=! 30$/hr
#H1: P ~= 30$/hr
#Two Tail test

In [10]:
a = 0.05
hourly = df[df['Salary or Hourly'] == 'Hourly']['Hourly Rate']

st, p = ttest_1samp(hourly, 30)

In [11]:
if p<a:
    print('H0 rejected.')
else:
    print('H0 Cannot be rejected.')
    
print('st:', st)
print('p:', p)

H0 rejected.
st: 31.211500329216044
p: 3.825475847673794e-202

In [12]:
# The salaries are significantly different(25%)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [13]:
a = 0.05
salary = df[(df['Department'] == 'POLICE') & (df['Salary or Hourly'] == 'Salary')]['Annual Salary']

In [14]:
st,p = ttest_1samp(salary, 86000)
if p/2<a:
    print('H0 rejected.')
else:
    print('H0 Cannot be rejected.')
    
print('st:', st)
print('p:', p/2)

H0 rejected.
st: 18.51748561981861
p: 6.119566952121482e-76

In [15]:
# P value is higher than 5%, we cannot reject the h0

Using the `crosstab` function, find the department that has the most hourly workers.

In [22]:
pd.crosstab(df['Department'], df['Salary or Hourly']).sort_values('Hourly', ascending = False)

Salary or Hourly     Hourly  Salary
Department
STREETS & SAN          1846     329
WATER MGMNT            1558     356
AVIATION               1214     642
OEMC                   1077     660
DAIS                    745     288
TRANSPORTN              726     387
FAMILY & SUPPORT        357     299
PUBLIC LIBRARY          356     732
CITY COUNCIL             74     288
LAW                      48     350
PUBLIC SAFETY ADMIN      48     196
FINANCE                  45     499
POLICE                   24   13824
MAYOR'S OFFICE           17      87
ANIMAL CONTRL            12      63
CULTURAL AFFAIRS         10      64
BUSINESS AFFAIRS          7     160
HOUSING & ECON DEV        3     151
PROCUREMENT               2      82
HEALTH                    2     465
BUDGET & MGMT             2      42
DISABILITIES              1      27
POLICE BOARD              0       2
TREASURER                 0      28
ADMIN HEARNG              0      38
LICENSE APPL COMM         0       1
INSPECTOR GEN             0      95
HUMAN RESOURCES           0      75
HUMAN RELATIONS           0      17
FIRE                      0    4627
COPA                      0     123
CITY CLERK                0      88
BUILDINGS                 0     258
BOARD OF ETHICS           0       8
BOARD OF ELECTION         0     111
HOUSING                   0      66

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [23]:
a = 0.05
salaries = df[(df['Salary or Hourly'] == 'Hourly') & (df['Department'] == 'STREETS & SAN')]['Hourly Rate']
st, p = ttest_1samp(salaries, 35)

if p<a:
    print('H0 rejected.')
else:
    print('H0 Cannot be rejected.')
    
print('st:', st)
print('p:', p)

H0 rejected.
st: 4.000138803968834
p: 6.580474443773579e-05

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [28]:
# Variables

a = 0.05
df = len(hourly) - 1
mean = np.mean(hourly)
sm = sem(hourly)

# Confidence interval
t.interval(1-0.05, df=df, loc=mean, scale=sm)

(34.29839539204361, 34.874504045197305)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [30]:
a = 0.95;
df = len(salary) - 1
mean = np.mean(salary)
sm = sem(salary)

# Confidence interval
t.interval(a, df=df, loc=mean, scale=sm)

(88534.1182885883, 89134.11955863392)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [20]:
# Your code here: