# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd
import os

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [2]:
# Your code here:
os.getcwd()
salaries = pd.read_csv('/Users/vpavandijk/LEARNING/Ironhack/copy of google drive class AMS0520/Copy of Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()
# salaries.shape

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
salaries.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:
salaries['Salary or Hourly'].value_counts() # first option
Salary_count = salaries['Salary or Hourly'].str.count('Salary').sum()
Hourly_count = salaries['Salary or Hourly'].str.count('Hourly').sum()
print(f'The number op salaried employees is: {Salary_count}.')
print(f'The number op hourly employees is: {Hourly_count}.')

The number op salaried employees is: 25528.
The number op hourly employees is: 8174.

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:
salaries.pivot_table(index=["Department"], values = 'Name', aggfunc=len)

                      Name
Department
ADMIN HEARNG            38
ANIMAL CONTRL           75
AVIATION              1856
BOARD OF ELECTION      111
BOARD OF ETHICS          8
BUDGET & MGMT           44
BUILDINGS              258
BUSINESS AFFAIRS       167
CITY CLERK              88
CITY COUNCIL           362
COPA                   123
CULTURAL AFFAIRS        74
DAIS                  1033
DISABILITIES            28
FAMILY & SUPPORT       656
FINANCE                544
FIRE                  4627
HEALTH                 467
HOUSING                 66
HOUSING & ECON DEV     154
HUMAN RELATIONS         17
HUMAN RESOURCES         75
INSPECTOR GEN           95
LAW                    398
LICENSE APPL COMM        1
MAYOR'S OFFICE         104
OEMC                  1737
POLICE               13848
POLICE BOARD             2
PROCUREMENT             84
PUBLIC LIBRARY        1088
PUBLIC SAFETY ADMIN    244
STREETS & SAN         2175
TRANSPORTN            1113
TREASURER               28
WATER MGMNT           1914

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
# Your code here:
# So the 0 hypothesis = The hourly wage = $30/hr
# And the alternative hypothesis = The hourly wage != $30/hr

from scipy.stats import ttest_1samp
stat, pval = ttest_1samp(salaries['Hourly Rate'].dropna(), 30)
print(f'The p-value is: {pval}.')
print(f'The statistic is: {stat}.')
# salaries['Hourly Rate'].dropna().mean()

The p-value is: 3.825475847673794e-202.
The statistic is: 31.211500329216044.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [8]:
# Your code here:

# So the 0 hypothesis = The yearly wage of a person in the police force = $86000/year
# And the alternative hypothesis = The yearly wage > $86000/year

salaries_police = salaries[salaries['Department'] == 'POLICE']

stat_pol, pval_pol = ttest_1samp(salaries_police['Annual Salary'].dropna(), 86000)

print(f'The p-value for this test is: {0.5 * pval_pol}.')

The p-value for this test is: 6.119566952121482e-76.

Using the `crosstab` function, find the department that has the most hourly workers.

In [9]:
# Your code here:

hourly_salaries = salaries[salaries['Hourly Rate'].notna()]
hourly_salaries

pd.crosstab(hourly_salaries['Department'], hourly_salaries['Hourly Rate'].count())

col_0                8174
Department
ANIMAL CONTRL          12
AVIATION             1214
BUDGET & MGMT           2
BUSINESS AFFAIRS        7
CITY COUNCIL           74
CULTURAL AFFAIRS       10
DAIS                  745
DISABILITIES            1
FAMILY & SUPPORT      357
FINANCE                45
HEALTH                  2
HOUSING & ECON DEV      3
LAW                    48
MAYOR'S OFFICE         17
OEMC                 1077
POLICE                 24
PROCUREMENT             2
PUBLIC LIBRARY        356
PUBLIC SAFETY ADMIN    48
STREETS & SAN        1846
TRANSPORTN            726
WATER MGMNT          1558

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [10]:
# Your code here:

# So the 0 hypothesis = The hourly wage of a person in the Strees&san = $35/hour
# And the alternative hypothesis = The hourly wage < $35/hour

salaries_streets = salaries[salaries['Department'] == 'STREETS & SAN']

stat_streets, pval_streets = ttest_1samp(salaries_streets['Hourly Rate'].dropna(), 35)
pval_streets

6.580474443773579e-05

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [25]:
# Your code here:
from scipy.stats import t
from scipy import stats
df = Hourly_count - 1
loc = np.mean(hourly_salaries['Hourly Rate'])
scale = stats.sem(hourly_salaries['Hourly Rate'])
print(loc)

t.interval(alpha = 0.95, df = df, loc = loc, scale = scale)

34.58644971862046

(34.29839539204361, 34.874504045197305)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [24]:
# Your code here:
salaries_police_annual = salaries_police[salaries_police['Annual Salary'].notna()]

df2 = len(salaries_police_annual['Annual Salary']) - 1
loc2 = np.mean(salaries_police_annual['Annual Salary'])
scale2 = stats.sem(salaries_police_annual['Annual Salary'])
print(loc2)

t.interval(alpha = 0.95, df = df2, loc = loc2, scale = scale2)

88834.11892361111

(88534.1182885883, 89134.11955863392)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: