# Introduction to NumPy


#### 1. Import NumPy under the name np.

In [2]:
import numpy as np

#### 2. Print your NumPy version.

In [3]:
print(np.version.version)

1.19.2

#### 3. Generate a 2x3x5 3-dimensional array with random values. Assign the array to variable *a*.
**Challenge**: there are at least three easy ways that use numpy to generate random arrays. How many ways can you find?

In [4]:
# Method 1
a = np.random.random((2,3,5))
print(a)

[[[0.48028267 0.89893766 0.63291713 0.8797135  0.06059748]
  [0.39475779 0.47860574 0.91938949 0.87602927 0.13871461]
  [0.31494099 0.29871889 0.0127489  0.91958708 0.3455925 ]]

 [[0.87072599 0.74502068 0.33335302 0.28210869 0.41052195]
  [0.0337917  0.01364091 0.12041555 0.42382693 0.03962552]
  [0.05707218 0.31808221 0.24608542 0.67850422 0.60221679]]]

In [5]:
# Method 2
import random
a_list = [random.random() for i in range(0,1)]
print(a_list)

[0.30450153369505173]

In [6]:
# Method 3

#### 4. Print *a*.

In [7]:
print(a)

[[[0.48028267 0.89893766 0.63291713 0.8797135  0.06059748]
  [0.39475779 0.47860574 0.91938949 0.87602927 0.13871461]
  [0.31494099 0.29871889 0.0127489  0.91958708 0.3455925 ]]

 [[0.87072599 0.74502068 0.33335302 0.28210869 0.41052195]
  [0.0337917  0.01364091 0.12041555 0.42382693 0.03962552]
  [0.05707218 0.31808221 0.24608542 0.67850422 0.60221679]]]

#### 5. Create a 5x2x3 3-dimensional array with all values equaling 1. Assign the array to variable *b*.

In [8]:
b = np.empty(shape=(5,2,3))

for element in b:
    b[:,] = 1

In [9]:
new = np.ones((5,2,3))
print(new)

[[[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]]

#### 6. Print *b*.

In [10]:
print(b)

[[[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]]

#### 7. Do *a* and *b* have the same size? How do you prove that in Python code?

In [11]:
print("La taille de a : ", a.size)
print("La taille de b : ", b.size)

La taille de a :  30
La taille de b :  30

#### 8. Are you able to add *a* and *b*? Why or why not?

In [12]:
# dimensions différentes

print(a + b)

ValueError: operands could not be broadcast together with shapes (2,3,5) (5,2,3)

#### 9. Transpose *b* so that it has the same structure of *a* (i.e. become a 2x3x5 array). Assign the transposed array to variable *c*.

In [13]:
# en transposant, on donne une nouvelle dimension qui peut permettre d'additionner.    B(...)) où (...)
# (1,2,0) ça correspond au fait qu'on replace les dimensions (5, 2, 3) 5 =où 0 ;  2 =où 1 ; 3 =où 2

c = np.transpose(b,(1,2,0))
print(c.shape)
print(c)

(2, 3, 5)
[[[1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]]

 [[1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]]]

#### 10. Try to add *a* and *c*. Now it should work. Assign the sum to variable *d*. But why does it work now?

In [14]:
d = (a+c)
print(d)

[[[1.48028267 1.89893766 1.63291713 1.8797135  1.06059748]
  [1.39475779 1.47860574 1.91938949 1.87602927 1.13871461]
  [1.31494099 1.29871889 1.0127489  1.91958708 1.3455925 ]]

 [[1.87072599 1.74502068 1.33335302 1.28210869 1.41052195]
  [1.0337917  1.01364091 1.12041555 1.42382693 1.03962552]
  [1.05707218 1.31808221 1.24608542 1.67850422 1.60221679]]]

#### 11. Print *a* and *d*. Notice the difference and relation of the two array in terms of the values? Explain.

In [15]:
print(a)
print(d)
# ajout de la table b à a donc ajout de +1

[[[0.48028267 0.89893766 0.63291713 0.8797135  0.06059748]
  [0.39475779 0.47860574 0.91938949 0.87602927 0.13871461]
  [0.31494099 0.29871889 0.0127489  0.91958708 0.3455925 ]]

 [[0.87072599 0.74502068 0.33335302 0.28210869 0.41052195]
  [0.0337917  0.01364091 0.12041555 0.42382693 0.03962552]
  [0.05707218 0.31808221 0.24608542 0.67850422 0.60221679]]]
[[[1.48028267 1.89893766 1.63291713 1.8797135  1.06059748]
  [1.39475779 1.47860574 1.91938949 1.87602927 1.13871461]
  [1.31494099 1.29871889 1.0127489  1.91958708 1.3455925 ]]

 [[1.87072599 1.74502068 1.33335302 1.28210869 1.41052195]
  [1.0337917  1.01364091 1.12041555 1.42382693 1.03962552]
  [1.05707218 1.31808221 1.24608542 1.67850422 1.60221679]]]

#### 12. Multiply *a* and *c*. Assign the result to *e*.

In [16]:
e = (a * c)
print(e, "e\n")
print(a, "a\n")
print(c)

[[[0.48028267 0.89893766 0.63291713 0.8797135  0.06059748]
  [0.39475779 0.47860574 0.91938949 0.87602927 0.13871461]
  [0.31494099 0.29871889 0.0127489  0.91958708 0.3455925 ]]

 [[0.87072599 0.74502068 0.33335302 0.28210869 0.41052195]
  [0.0337917  0.01364091 0.12041555 0.42382693 0.03962552]
  [0.05707218 0.31808221 0.24608542 0.67850422 0.60221679]]] e

[[[0.48028267 0.89893766 0.63291713 0.8797135  0.06059748]
  [0.39475779 0.47860574 0.91938949 0.87602927 0.13871461]
  [0.31494099 0.29871889 0.0127489  0.91958708 0.3455925 ]]

 [[0.87072599 0.74502068 0.33335302 0.28210869 0.41052195]
  [0.0337917  0.01364091 0.12041555 0.42382693 0.03962552]
  [0.05707218 0.31808221 0.24608542 0.67850422 0.60221679]]] a

[[[1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]]

 [[1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]]]

#### 13. Does *e* equal to *a*? Why or why not?

In [17]:
# les valeurs de c étant 1, donc toutes les valeurs de a * c est pareil que a

#### 14. Identify the max, min, and mean values in *d*. Assign those values to variables *d_max*, *d_min* and *d_mean*.

In [18]:
d_max = np.max(d)
d_min = np.min(d)
d_mean = np.mean(d)
print("tableau d", d, "\n")

print("max de d: ", d_max)
print("min de d: ", d_min)
print("moyenne de d: ", d_mean)

tableau d [[[1.48028267 1.89893766 1.63291713 1.8797135  1.06059748]
  [1.39475779 1.47860574 1.91938949 1.87602927 1.13871461]
  [1.31494099 1.29871889 1.0127489  1.91958708 1.3455925 ]]

 [[1.87072599 1.74502068 1.33335302 1.28210869 1.41052195]
  [1.0337917  1.01364091 1.12041555 1.42382693 1.03962552]
  [1.05707218 1.31808221 1.24608542 1.67850422 1.60221679]]]

max de d:  1.9195870803424047
min de d:  1.0127489023168548
moyenne de d:  1.4275508479409802

#### 15. Now we want to label the values in *d*. First create an empty array *f* with the same shape (i.e. 2x3x5) as *d* using `np.empty`.

In [19]:
f = np.empty(shape=(2,3,5))
print(f)

[[[1.48028267 1.89893766 1.63291713 1.8797135  1.06059748]
  [1.39475779 1.47860574 1.91938949 1.87602927 1.13871461]
  [1.31494099 1.29871889 1.0127489  1.91958708 1.3455925 ]]

 [[1.87072599 1.74502068 1.33335302 1.28210869 1.41052195]
  [1.0337917  1.01364091 1.12041555 1.42382693 1.03962552]
  [1.05707218 1.31808221 1.24608542 1.67850422 1.60221679]]]

#### 16. Populate the values in *f*. 

For each value in *d*, if it's larger than *d_min* but smaller than *d_mean*, assign 25 to the corresponding value in *f*. If a value in *d* is larger than *d_mean* but smaller than *d_max*, assign 75 to the corresponding value in *f*. If a value equals to *d_mean*, assign 50 to the corresponding value in *f*. Assign 0 to the corresponding value(s) in *f* for *d_min* in *d*. Assign 100 to the corresponding value(s) in *f* for *d_max* in *d*. In the end, f should have only the following values: 0, 25, 50, 75, and 100.

**Note**: you don't have to use Numpy in this question.

In [20]:
for first_index in range(2):
    for second_index in range(3):
        for third_index in range(5):
            if d[first_index, second_index, third_index] > d_min and d[first_index, second_index, third_index] < d_mean:
                f[first_index, second_index, third_index] = 25
            elif d[first_index, second_index, third_index] > d_mean and d[first_index, second_index, third_index] < d_max:
                f[first_index, second_index, third_index] = 75
            elif d[first_index, second_index, third_index] == d_mean:
                f[first_index, second_index, third_index] = 50
            elif d[first_index, second_index, third_index] == d_min:
                f[first_index, second_index, third_index] = 0
            elif d[first_index, second_index, third_index] == d_max:
                f[first_index, second_index, third_index] = 100
print(f)
# Boucle créée sur chaque coordonnée de la valeur d, sachant que ligne = (2) donc d[1,] d[2,] / éléments dans lignes, 3 possibles d[1,1]/d[1,2]/d[1,3] / colonnes 5 possibles donc jusqu'à d[:,5]
# le signe == c'ets dire true ou false mais juste = "c'est égal à la valeur"

[[[ 75.  75.  75.  75.  25.]
  [ 25.  75.  75.  75.  25.]
  [ 25.  25.   0. 100.  25.]]

 [[ 75.  75.  25.  25.  25.]
  [ 25.  25.  25.  25.  25.]
  [ 25.  25.  25.  75.  75.]]]

#### 17. Print *d* and *f*. Do you have your expected *f*?
For instance, if your *d* is:
```python
[[[1.85836099, 1.67064465, 1.62576044, 1.40243961, 1.88454931],
[1.75354326, 1.69403643, 1.36729252, 1.61415071, 1.12104981],
[1.72201435, 1.1862918 , 1.87078449, 1.7726778 , 1.88180042]],
[[1.44747908, 1.31673383, 1.02000951, 1.52218947, 1.97066381],
[1.79129243, 1.74983003, 1.96028037, 1.85166831, 1.65450881],
[1.18068344, 1.9587381 , 1.00656599, 1.93402165, 1.73514584]]]
```
Your *f* should be:
```python
[[[ 75.,  75.,  75.,  25.,  75.],
[ 75.,  75.,  25.,  25.,  25.],
[ 75.,  25.,  75.,  75.,  75.]],
[[ 25.,  25.,  25.,  25., 100.],
[ 75.,  75.,  75.,  75.,  75.],
[ 25.,  75.,   0.,  75.,  75.]]]
```

In [21]:
print(f)
print(d)

[[[ 75.  75.  75.  75.  25.]
  [ 25.  75.  75.  75.  25.]
  [ 25.  25.   0. 100.  25.]]

 [[ 75.  75.  25.  25.  25.]
  [ 25.  25.  25.  25.  25.]
  [ 25.  25.  25.  75.  75.]]]
[[[1.48028267 1.89893766 1.63291713 1.8797135  1.06059748]
  [1.39475779 1.47860574 1.91938949 1.87602927 1.13871461]
  [1.31494099 1.29871889 1.0127489  1.91958708 1.3455925 ]]

 [[1.87072599 1.74502068 1.33335302 1.28210869 1.41052195]
  [1.0337917  1.01364091 1.12041555 1.42382693 1.03962552]
  [1.05707218 1.31808221 1.24608542 1.67850422 1.60221679]]]

#### 18. Bonus question: instead of using numbers (i.e. 0, 25, 50, 75, and 100), use string values  ("A", "B", "C", "D", and "E") to label the array elements. For the example above, the expected result is:

```python
[[[ 'D',  'D',  'D',  'B',  'D'],
[ 'D',  'D',  'B',  'B',  'B'],
[ 'D',  'B',  'D',  'D',  'D']],
[[ 'B',  'B',  'B',  'B',  'E'],
[ 'D',  'D',  'D',  'D',  'D'],
[ 'B',  'D',   'A',  'D', 'D']]]
```
**Note**: you don't have to use Numpy in this question.

In [22]:
# your code here

In [34]:
a2 = np.array([1,2,3])
print(a2)
print(a2.shape)
print(len(a2))

#a2 est un vecteur donc si on le soustrait à un autre tableau, 
#ça se soustrait à toutes les lignes de ce tableau

[1 2 3]
(3,)
3

In [33]:
a3 = np.array([(1.5,2,3), (4,5,6)], dtype = float)
print(a3)
print(a3.shape)
print(len(a3))

[[1.5 2.  3. ]
 [4.  5.  6. ]]
(2, 3)
2

In [32]:
a4 = np.array([[(1.5,2,3), (4,5,6)], [(3,2,1), (4,5,6)]], 
 dtype = float)
print(a4)
print(a4.shape)

#longueur du tableau
print(len(a4))

[[[1.5 2.  3. ]
  [4.  5.  6. ]]

 [[3.  2.  1. ]
  [4.  5.  6. ]]]
(2, 2, 3)
2