In [2]:
import pandas as pd
import numpy as np

In [20]:
x = pd.DataFrame(np.random.rand(5,10))

In [47]:
df = pd.DataFrame({'year': [2015, 2016],
                    'month': [2, 3],
                    'day': [4, 5]})

In [49]:
pd.DataFrame.from_dict(df)

   year  month  day
0  2015      2    4
1  2016      3    5