# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [66]:
# import libraries
import numpy as np
import pandas as pd

#### Import data set.

Import data set `Pokemon` from Ironhack's database. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [67]:
# import data set from Ironhack's database
pokemon = pd.read_csv('Pokemon.csv')

#### Print first 10 rows of `pokemon`.

In [49]:
# your code here
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [55]:
# your code here
pokemon.loc[: ,"Type 1":"Type 2"]
typeslist1 = pokemon["Type 1"].tolist()
typeslist2 = pokemon["Type 2"].tolist()

print(set(typeslist1))
print(set(typeslist2))

{'Poison', 'Grass', 'Fire', 'Dragon', 'Ghost', 'Rock', 'Steel', 'Ground', 'Fairy', 'Water', 'Fighting', 'Bug', 'Electric', 'Flying', 'Ice', 'Dark', 'Normal', 'Psychic'}
{nan, 'Flying', 'Grass', 'Dragon', 'Rock', 'Fairy', 'Normal', 'Fire', 'Psychic', 'Poison', 'Steel', 'Ground', 'Water', 'Dark', 'Fighting', 'Bug', 'Electric', 'Ice', 'Ghost'}

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [68]:
# your code here
pokemon['Name'] = pokemon.Name.str.replace(".*(Mega)","Mega")

# test transformed data
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [69]:
# your code here
pokemon['A/D Ratio'] = pokemon['Attack'] / pokemon['Defense']
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302

#### Identify the pokemon with the highest `A/D Ratio`.

In [61]:
# your code here
result = pokemon.sort_values('A/D Ratio',ascending=False)
print(result)

       #                Name   Type 1   Type 2  Total   HP  Attack  Defense  \
429  386  DeoxysAttack Forme  Psychic      NaN    600   50     180       20
347  318            Carvanha    Water     Dark    305   45      90       20
19    15       Mega Beedrill      Bug   Poison    495   65     150       40
453  408            Cranidos     Rock      NaN    350   67     125       40
348  319            Sharpedo    Water     Dark    460   70     120       40
..   ...                 ...      ...      ...    ...  ...     ...      ...
616  555  DarmanitanZen Mode     Fire  Psychic    540  105      30      105
103   95                Onix     Rock   Ground    385   35      45      160
484  436             Bronzor    Steel  Psychic    300   57      24       86
139  129            Magikarp    Water      NaN    200   20      10       55
230  213             Shuckle      Bug     Rock    505   20      10      230

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  A/D Ratio
429      180       20    150           3       True   9.000000
347       65       20     65           3      False   4.500000
19        15       80    145           1      False   3.750000
453       30       30     58           4      False   3.125000
348       95       40     95           3      False   3.000000
..       ...      ...    ...         ...        ...        ...
616      140      105     55           5      False   0.285714
103       30       45     70           1      False   0.281250
484       24       86     23           4      False   0.279070
139       15       20     80           1      False   0.181818
230       10      230      5           2      False   0.043478

[800 rows x 14 columns]

#### Identify the pokemon with the lowest A/D Ratio.

In [62]:
# your code here
result = pokemon.sort_values('A/D Ratio',ascending=True)
print(result)

       #                Name   Type 1   Type 2  Total   HP  Attack  Defense  \
230  213             Shuckle      Bug     Rock    505   20      10      230
139  129            Magikarp    Water      NaN    200   20      10       55
484  436             Bronzor    Steel  Psychic    300   57      24       86
103   95                Onix     Rock   Ground    385   35      45      160
616  555  DarmanitanZen Mode     Fire  Psychic    540  105      30      105
..   ...                 ...      ...      ...    ...  ...     ...      ...
428  386  DeoxysNormal Forme  Psychic      NaN    600   50     150       50
453  408            Cranidos     Rock      NaN    350   67     125       40
19    15       Mega Beedrill      Bug   Poison    495   65     150       40
347  318            Carvanha    Water     Dark    305   45      90       20
429  386  DeoxysAttack Forme  Psychic      NaN    600   50     180       20

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  A/D Ratio
230       10      230      5           2      False   0.043478
139       15       20     80           1      False   0.181818
484       24       86     23           4      False   0.279070
103       30       45     70           1      False   0.281250
616      140      105     55           5      False   0.285714
..       ...      ...    ...         ...        ...        ...
428      150       50    150           3       True   3.000000
453       30       30     58           4      False   3.125000
19        15       80    145           1      False   3.750000
347       65       20     65           3      False   4.500000
429      180       20    150           3       True   9.000000

[800 rows x 14 columns]

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [71]:
# your code here
pokemon['Combo Type'] = pokemon['Type 1'] + ('-' + pokemon['Type 2']).fillna('')
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,Fire

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [74]:
# your code here

#eoxysAttack Forme  
#Carvanha     
#Mega Beedrill      
#Cranidos    
#Sharpedo

#from challenge before ;) 

top5 = pokemon.nlargest(5,'A/D Ratio')

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [77]:
# your code here

list_of_ntop5 = top5['Combo Type'].to_list()
print(set(list_of_ntop5))

{'Rock', 'Psychic', 'Bug-Poison', 'Water-Dark'}

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [78]:
# your code here
top5.groupby(['Combo Type']).mean()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
Combo Type,,,,,,,,,,,
Bug-Poison,15.0,495.0,65.0,150.0,40.0,15.0,80.0,145.0,1.0,False,3.750
Psychic,386.0,600.0,50.0,180.0,20.0,180.0,20.0,150.0,3.0,True,9.000
Rock,408.0,350.0,67.0,125.0,40.0,30.0,30.0,58.0,4.0,False,3.125
Water-Dark,318.5,382.5,57.5,105.0,30.0,80.0,30.0,80.0,3.0,False,3.750