# Mandatory Challenge
## Context
You work in the data analysis team of a very important company. On Monday, the company shares some good news with you: you just got hired by a major retail company! So, let's get prepared for a huge amount of work!

Then you get to work with your team and define the following tasks to perform:   
1. You need to start your analysis using data from the past.  
2. You need to define a process that takes your daily data as an input and integrates it.  

You are in charge of the second part, so you are provided with a sample file that you will have to read daily. To complete you task, you need the following aggregates:
* One aggregate per store that adds up the rest of the values.
* One aggregate per item that adds up the rest of the values.

You can import the dataset `warehouse_and_retail_sales` from Ironhack's database. 

## Your task
Therefore, your process will consist of the following steps:
1. Read the sample file that a daily process will save in your folder. 
2. Clean up the data.
3. Create the aggregates.
4. Write three tables in your local database: 
    - A table for the cleaned data.
    - A table for the aggregate per supplier.
    - A table for the aggregate per item.

## Instructions
* Read the csv you can find in Ironhack's database.
* Clean the data and create the aggregates as you consider.
* Create the tables in your local database.
* Populate them with your process.

In [68]:
import pandas as pd
ware_reta = pd.read_csv('Warehouse_and_Retail_Sales.csv')
ware_reta.head()

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
16671,2017,5,SOUTHERN GLAZERS WINE AND SPIRITS,77904,VIDA TEQUILA ANEJO\t - 750ML,LIQUOR,4.25,1.0,0.0
30209,2017,6,SOUTHERN GLAZERS WINE AND SPIRITS,77904,VIDA TEQUILA ANEJO - 750ML,LIQUOR,2.20,3.0,0.0
43858,2017,8,SOUTHERN GLAZERS WINE AND SPIRITS,77904,VIDA TEQUILA ANEJO - 750ML,LIQUOR,2.03,0.0,0.0
57256,2017,9,SOUTHERN GLAZERS WINE AND SPIRITS,77904,VIDA TEQUILA ANEJO - 750ML,LIQUOR,1.02,0.0,0.0
70867,2017,10,SOUTHERN GLAZERS WINE AND SPIRITS,77904,VIDA TEQUILA ANEJO - 750ML,LIQUOR,1.70,1.0,0.0
85365,2017,11,SOUTHERN GLAZERS WINE AND SPIRITS,77904,VIDA TEQUILA ANEJO - 750ML,LIQUOR,2.38,1.0,0.0
99879,2017,12,SOUTHERN GLAZERS WINE AND SPIRITS,77904,VIDA TEQUILA ANEJO - 750ML,LIQUOR,4.40,0.0,0.0
113319,2018,1,SOUTHERN GLAZERS WINE AND SPIRITS,77904,VIDA TEQUILA ANEJO - 750ML,LIQUOR,2.03,2.0,0.0
126408,2018,2,SOUTHERN GLAZERS WINE AND SPIRITS,77904,VIDA TEQUILA ANEJO - 750ML,LIQUOR,1.19,0.0,0.0

In [16]:
null_cols = ware_reta.isnull().sum()
null_cols[null_cols > 0]

SUPPLIER     24
ITEM TYPE     1
dtype: int64

In [19]:
null_displ = ware_reta[(ware_reta['SUPPLIER'].isnull()==True)|(ware_reta['ITEM TYPE'].isnull()==True)]
null_displ = null_displ[['YEAR', 'MONTH', 'SUPPLIER', 'ITEM CODE', 'ITEM DESCRIPTION','ITEM TYPE','RETAIL SALES', 'RETAIL TRANSFERS', 'WAREHOUSE SALES']]
null_displ.head(24)

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
19483,2017,6,NaN,1279,EMPTY WINE KEG - KEGS,DUNNAGE,0.0,0.0,-9.0
20056,2017,8,NaN,1279,EMPTY WINE KEG - KEGS,DUNNAGE,0.0,0.0,-5.0
32282,2017,6,NaN,BC,BEER CREDIT,REF,0.0,0.0,-58.0
32283,2017,6,NaN,WC,WINE CREDIT,REF,0.0,0.0,-8.0
45871,2017,8,NaN,BC,BEER CREDIT,REF,0.0,0.0,-699.0
45872,2017,8,NaN,WC,WINE CREDIT,REF,0.0,0.0,-5.0
46518,2017,9,NaN,1279,EMPTY WINE KEG - KEGS,DUNNAGE,0.0,0.0,-9.0
59259,2017,9,NaN,BC,BEER CREDIT,REF,0.0,0.0,-502.0
59260,2017,9,NaN,WC,WINE CREDIT,REF,0.0,0.0,-15.0
59920,2017,10,NaN,1279,EMPTY WINE KEG - KEGS,DUNNAGE,0.0,0.0,-6.0
66439,2017,10,REPUBLIC NATIONAL DISTRIBUTING CO,347939,FONTANAFREDDA BAROLO SILVER LABEL 750 ML,NaN,0.0,0.0,1.0
72878,2017,10,NaN,BC,BEER CREDIT,REF,0.0,0.0,-1308.0
72879,2017,10,NaN,WC,WINE CREDIT,REF,0.0,0.0,-21.0
73546,2017,11,NaN,1279,EMPTY WINE KEG - KEGS,DUNNAGE,0.0,0.0,-5.0
87410,2017,11,NaN,BC,BEER CREDIT,REF,0.0,0.0,-1755.0
87411,2017,11,NaN,WC,WINE CREDIT,REF,0.0,0.0,-375.0
88078,2017,12,NaN,1279,EMPTY WINE KEG - KEGS,DUNNAGE,0.0,0.0,-8.0
101909,2017,12,NaN,BC,BEER CREDIT,REF,0.0,0.0,-1644.0
101910,2017,12,NaN,WC,WINE CREDIT,REF,0.0,0.0,-156.0
102542,2018,1,NaN,1279,EMPTY WINE KEG - KEGS,DUNNAGE,0.0,0.0,-11.0
115254,2018,1,NaN,BC,BEER CREDIT,REF,0.0,0.0,-21.0
115255,2018,1,NaN,WC,WINE CREDIT,REF,0.0,0.0,-71.0
115874,2018,2,NaN,1279,EMPTY WINE KEG - KEGS,DUNNAGE,0.0,0.0,-3.0
128353,2018,2,NaN,BC,BEER CREDIT,REF,0.0,0.0,-35.0

In [20]:
ware_reta.dtypes

YEAR                  int64
MONTH                 int64
SUPPLIER             object
ITEM CODE            object
ITEM DESCRIPTION     object
ITEM TYPE            object
RETAIL SALES        float64
RETAIL TRANSFERS    float64
WAREHOUSE SALES     float64
dtype: object

In [22]:
ware_reta.head(60)

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
0,2017,4,ROYAL WINE CORP,100200,GAMLA CAB - 750ML,WINE,0.0,1.0,0.0
1,2017,4,SANTA MARGHERITA USA INC,100749,SANTA MARGHERITA P/GRIG ALTO - 375ML,WINE,0.0,1.0,0.0
2,2017,4,JIM BEAM BRANDS CO,10103,KNOB CREEK BOURBON 9YR - 100P - 375ML,LIQUOR,0.0,8.0,0.0
3,2017,4,HEAVEN HILL DISTILLERIES INC,10120,J W DANT BOURBON 100P - 1.75L,LIQUOR,0.0,2.0,0.0
4,2017,4,ROYAL WINE CORP,101664,RAMON CORDOVA RIOJA - 750ML,WINE,0.0,4.0,0.0
5,2017,4,REPUBLIC NATIONAL DISTRIBUTING CO,101680,MANISCHEWITZ CREAM WH CONCORD - 1.5L,WINE,0.0,1.0,0.0
6,2017,4,ROYAL WINE CORP,101753,BARKAN CLASSIC PET SYR - 750ML,WINE,0.0,1.0,0.0
7,2017,4,JIM BEAM BRANDS CO,10197,KNOB CREEK BOURBON 9YR - 100P - 1.75L,LIQUOR,0.0,32.0,0.0
8,2017,4,STE MICHELLE WINE ESTATES,101974,CH ST MICH P/GRIS - 750ML,WINE,0.0,26.0,0.0
9,2017,4,MONSIEUR TOUTON SELECTION,102083,CH DE LA CHESNAIE MUSCADET - 750ML,WINE,0.0,1.0,0.0
10,2017,4,JIM BEAM BRANDS CO,10243,OLD GRAND DAD BOURBON 100P - 750ML,LIQUOR,0.0,3.0,0.0
11,2017,4,BACCHUS IMPORTERS LTD,10246,HILLROCK DOUBLE CASK RYE - 750ML,LIQUOR,0.0,5.0,0.0
12,2017,4,MHW LTD,10266,LA CHAYA MAL - 750ML,WINE,0.0,4.0,0.0
13,2017,4,MHW LTD,10268,LA CHAYA TORRONTES - 750ML,WINE,0.0,1.0,0.0
14,2017,4,CRAFT WINE & SPIRITS OF MARYLAND LLC,10269,FEW BOURBON - 750ML,LIQUOR,0.0,1.0,0.0
15,2017,4,CRAFT WINE & SPIRITS OF MARYLAND LLC,10270,KOPPER KETTLE WHISKEY - 750ML,LIQUOR,0.0,1.0,0.0
16,2017,4,ALLAGASH BREWING COMPANY,10271,ALLAGASH SAISON 6/4 NR 12.0Z,BEER,0.0,4.0,0.0
17,2017,4,REPUBLIC NATIONAL DISTRIBUTING CO,10274,KINSEY BOURBON - 750ML,LIQUOR,0.0,1.0,0.0
18,2017,4,PERNOD RICARD USA LLC,10275,LOT 40 RYE - 750ML,LIQUOR,0.0,1.0,0.0
19,2017,4,KATCEF BROTHERS INC,10306,TROEGS SOLID SENDER PALE ALE - 4/6NR,BEER,0.0,1.0,0.0
20,2017,4,BACARDI USA INC,10332,GREY GOOSE VODKA - 375ML,LIQUOR,0.0,11.0,0.0
21,2017,4,A VINTNERS SELECTIONS,103608,VAJRA LANGHE NEBBIOLO DOC - 750ML,WINE,0.0,1.0,0.0
22,2017,4,LEGENDS LTD,10370,BALTIMORE BEER WORKS DARK USHER - 4/6NR,BEER,0.0,1.0,0.0
23,2017,4,CASTLE BRANDS USA CORP,10375,PALLINI LIMONCELLO 6/CS - 750ML,LIQUOR,0.0,2.0,0.0
24,2017,4,Default,104,FOUR BOTTLE WINE TOTE,STR_SUPPLIES,0.0,2.0,0.0
25,2017,4,DIONYSOS IMPORTS INC,104060,LES CHAILLOUX SANCERRE CHERRIE - 750ML,WINE,0.0,1.0,0.0
26,2017,4,JACKSON FAMILY ENTERPRISES INC,10413,MURPHY GOODE CHARD - 750ML,WINE,0.0,22.0,0.0
27,2017,4,BUCK DISTRIBUTING COMPANY INC,10430,STONE IPA 4/6 NR - 12OZ,BEER,0.0,44.0,0.0
28,2017,4,PUNTO VINO LLC,104302,EREDI LODALI BAROLO 6/CS - 750ML,WINE,0.0,1.0,0.0
29,2017,4,KATCEF BROTHERS INC,10431,VICTORY GOLDEN MONKEY 4/6NR - 12OZ,BEER,0.0,25.0,0.0
30,2017,4,LEGENDS LTD,10434,LAGUNITAS IPA 4/6 NR - 12OZ,BEER,0.0,58.0,0.0
31,2017,4,LEGENDS LTD,10435,LAGUNITAS SUMPIN SUMPIN 4/6 NR - 12OZ,BEER,0.0,26.0,0.0
32,2017,4,LEGENDS LTD,10436,OSKAR BLUES DALES PALE ALE 12.OZ 4/6 CAN,BEER,0.0,31.0,0.0
33,2017,4,LEGENDS LTD,10437,CRISPIN CIDER ORIGINAL 4/6 NR - 12OZ,BEER,0.0,2.0,0.0
34,2017,4,LEGENDS LTD,10438,BRECKENRIDGE VANILLA PORTER 4/6 NR - 12OZ,BEER,0.0,6.0,0.0
35,2017,4,THE WINE GROUP,10439,CONCANNON FOUNDERS CAB - 750ML,WINE,0.0,3.0,0.0
36,2017,4,THE WINE GROUP,10441,LOVE P/NOIR - 750ML,WINE,0.0,16.0,0.0
37,2017,4,PERNOD RICARD USA LLC,10442,OLMECA ALTOS TEQ - PLATA - 750ML,LIQUOR,0.0,39.0,0.0
38,2017,4,PERNOD RICARD USA LLC,10443,OLMECA ALTOS TEQ - REPOSADO - 750ML,LIQUOR,0.0,20.0,0.0
39,2017,4,PERNOD RICARD USA LLC,10444,JAMESON IRISH WHISKY CASK MATES - 750ML,LIQUOR,0.0,3.0,0.0
40,2017,4,CRAFT WINE & SPIRITS OF MARYLAND LLC,10445,BRECKENRIDGE BOURBON - 750ML,LIQUOR,0.0,3.0,0.0
41,2017,4,ELITE WINES IMPORTS,104450,SEIFRIED S/BLC - 750ML,WINE,0.0,1.0,0.0
42,2017,4,PERNOD RICARD USA LLC,10472,MALIBU RUM - PASSION FRUIT - 750ML,LIQUOR,0.0,3.0,0.0
43,2017,4,BARON FRANCOIS LTD,10480,CHATEAU LAUBADE ARMAGNAC VSOP - 750ML,LIQUOR,0.0,2.0,0.0
44,2017,4,BARON FRANCOIS LTD,10499,CHATEAU LAUBADE ARMAGNAC XO - 750ML,LIQUOR,0.0,1.0,0.0
45,2017,4,PROXIMO SPIRITS INC,10529,JOSE CUERVO GOLDEN MARGARITA - 1.75L,LIQUOR,0.0,50.0,0.0
46,2017,4,PRESTIGE BEVERAGE GROUP OF MD LLC,105490,HAKUTSURU SAKE - 720ML,WINE,0.0,2.0,0.0
47,2017,4,KATCEF BROTHERS INC,1058,TROEGS HOPBACK ALE 4/6 NR - 12OZ,BEER,0.0,5.0,0.0
48,2017,4,Default,106,SIX BOTTLE WINE TOTE (NO LOGO),STR_SUPPLIES,0.0,2.0,0.0
49,2017,4,LEGENDS LTD,10609,FIRESTONE LUPONIC DISTORTION - 4/6 CAN 12.0Z,BEER,0.0,3.0,0.0
50,2017,4,LEGENDS LTD,10610,LAGUNITAS LIL SUMPIN - 2/12 NR 12.0Z,BEER,0.0,6.0,0.0
51,2017,4,DIAGEO NORTH AMERICA INC,10634,SMIRNOFF VODKA - CHERRY - 1L,LIQUOR,0.0,6.0,0.0
52,2017,4,JIM BEAM BRANDS CO,10636,HAKUSHU WHISKY 12 YR - 750ML,LIQUOR,0.0,6.0,0.0
53,2017,4,THE WINE GROUP,10637,CUPCAKE PROSECCO - 187 3PK,WINE,0.0,2.0,0.0
54,2017,4,LEGENDS LTD,10645,OSKAR BLUES DEVIANT DALES - 4/6 CAN 12.OZ,BEER,0.0,3.0,0.0
55,2017,4,JIM BEAM BRANDS CO,10666,SAUZA HORNITOS REPOSATO - 375ML,LIQUOR,0.0,1.0,0.0
56,2017,4,JIM BEAM BRANDS CO,10667,EFFEN VODKA - BLACK CHERRY - 375ML,LIQUOR,0.0,2.0,0.0
57,2017,4,JIM BEAM BRANDS CO,10668,MAKERS MARK BOURBON - 375ML,LIQUOR,0.0,27.0,0.0
58,2017,4,PRESTIGE BEVERAGE GROUP OF MD LLC,10673,CINNABON CINNAMON CREAM LIQ - 750ML,LIQUOR,0.0,1.0,0.0
59,2017,4,MOET HENNESSY USA,106739,VEUVE CLICQUOT DEMI SEC - 375ML,WINE,0.0,1.0,0.0

In [35]:
test = ware_reta[(ware_reta['SUPPLIER']=='Default') & (ware_reta['ITEM TYPE']=='WINE')]
test[['YEAR', 'MONTH', 'SUPPLIER', 'ITEM CODE', 'ITEM DESCRIPTION','ITEM TYPE','RETAIL SALES', 'RETAIL TRANSFERS', 'WAREHOUSE SALES']]
test.head()

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
28651,2017,6,Default,60453,LUNA DI LUNA P/GRIG P/BIANCO - 1.5L,WINE,0.00,0.5,0.0
55675,2017,9,Default,60453,LUNA DI LUNA P/GRIG P/BIANCO - 1.5L,WINE,0.17,0.0,0.0
69311,2017,10,Default,60453,LUNA DI LUNA P/GRIG P/BIANCO - 1.5L,WINE,0.17,0.0,0.0

In [41]:
ware_reta.loc[(ware_reta['SUPPLIER']=='Default') & (ware_reta['ITEM TYPE']=='WINE'), 'SUPPLIER'] = 'SOUTHERN GLAZERS WINE AND SPIRITS'
test1 = ware_reta[(ware_reta['SUPPLIER']=='Default')]
test1.head()

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
24,2017,4,Default,104,FOUR BOTTLE WINE TOTE,STR_SUPPLIES,0.00,2.0,0.0
48,2017,4,Default,106,SIX BOTTLE WINE TOTE (NO LOGO),STR_SUPPLIES,0.00,2.0,0.0
111,2017,4,Default,112,CORKSCREW,REF,0.00,13.0,0.0
136,2017,4,Default,114,WINE PAPER GIFT TOTE SINGLE BOTTLE,STR_SUPPLIES,0.00,56.0,0.0
2913,2017,10,Default,59978,STORE SPECIAL BEER QUART,REF,0.25,0.0,0.0

In [52]:
#print(set(ware_reta['SUPPLIER']))
ware_reta['SUPPLIER'] = ware_reta['SUPPLIER'].str.replace('WI,INC', 'WI INC')
set(ware_reta['SUPPLIER'])

{'8 VINI INC',
 'A HARDY USA LTD',
 'A I G WINE & SPIRITS',
 'A VINTNERS SELECTIONS',
 'A&E INC',
 'A&W BORDERS LLC',
 'ADAMBA IMPORTS INTL',
 'AIKO IMPORTERS INC',
 'ALLAGASH BREWING COMPANY',
 'ALLIED IMPORTERS USA LTD',
 'ALTITUDE SPIRITS INC',
 'AMERICAN BEVERAGE CORPORATION',
 'AMERICAN BEVERAGE MARKETERS',
 'AMERICAN FIDELITY TRADING',
 'AMERICAN VINTAGE BEVERAGE INC',
 'ANHEUSER BUSCH INC',
 'ARCHER ROOSE LLC',
 'AREL GROUP WINE & SPIRITS',
 'ARIS A ZISSIS',
 'ARTISANS & VINES LLC',
 'ASAHI BEER USA INC',
 'ATLANTIC WINE & SPIRITS',
 'ATLAS BREW WORKS LLC',
 'AW DIRECT LLC',
 'AZIZ SHAFI TANNIC TONGUE',
 'BACARDI USA INC',
 'BACCHUS IMPORTERS LTD',
 'BACKUP BEVERAGE',
 'BANFI PRODUCTS CORP',
 'BANVILLE & JONES WINE MERCHANTS',
 'BARON FRANCOIS LTD',
 'BARREL ONE INC',
 'BASIGNANI WINERY',
 'BINDING BRAUEREI USA INC',
 'BLACK ANKLE VINEYARDS LLC',
 'BOND DISTRIBUTING CO',
 'BOORDY VINEYARDS',
 'BORVIN BEVERAGE',
 'BOSTON BEER CORPORATION',
 'BOUTIQUE VINEYARDS LLC',
 'BRONCO WINE COMPANY',
 'BROWN-FORMAN BEVERAGES WORLDWIDE',
 'BUCK DISTRIBUTING COMPANY INC',
 'BULLSHINE DISTILLERY LLC',
 'C MONDAVI & SONS',
 'CABERNET CORPORATION',
 'CAFFO BEVERAGES INC',
 'CALVERT BREWING COMPANY',
 'CAMPARI AMERICA LLC',
 'CANTINIERE IMPORTS & DISTRIBUTING INC',
 'CAPE STARZ WINE LLC',
 'CASA CHIRICO LLC',
 'CASTLE BRANDS USA CORP',
 'CELICAR LLC DBA TWIN VALLEY DISTILLERS',
 'CHADDSFORD WINERY LTD',
 'CHARLES JACQUIN ET CIE INC',
 'CHATEAU DIANA LLC',
 'CHEF SOUS LLC',
 'CHEVAL QUANCARD',
 'CLASSIC WINE IMPORTS INC',
 'CLASSIC WINE IMPORTS INC DBA VISION WINE',
 'CLIPPER CITY BREWING CO',
 'COASTAL BREWING COMPANY LLC',
 'COMETE WINES LLC',
 'CONSTANTINE WINES INC',
 'CONSTELLATION BRANDS',
 'COPPER CANE LLC',
 'CRAFT BREW ALLIANCE INC',
 'CRAFT WINE & SPIRITS OF MARYLAND LLC',
 'CROWN IMPORTS',
 "D'AQUINO ITALIAN IMPORTING CO INC",
 'DANGEROUS WINE GROUP LLC',
 'DC BRAU BREWING LLC',
 'DCD ENTERPRISES LLC',
 'DELICATO FAMILY VINEYARDS',
 'DELMAR BREWING COMPANY LLC',
 'DESCHUTES BREWERY INC',
 'DEUTSCH FAMILY WINE & SPIRITS',
 'DIAGEO NORTH AMERICA INC',
 'DIONYSOS IMPORTS INC',
 'DISARONNO INTERNATIONAL LLC',
 'DMV DISTRIBUTING LLC',
 'DOGFISH HEAD CRAFT BREWERY',
 'DOGFISH HEAD DISTILLERY LLC',
 'DOMAINE SELECT WINE & SPIRITS LLC',
 'DON SEBASTIANI & SONS',
 'DOPS INC',
 'DRAGON DISTILLERY LLC',
 'DREYFUS ASHBY INC',
 'DUCKHORN WINE COMPANY',
 'DUCLAW BREWERY LLC',
 'DUGGANS DISTILLERS PROD',
 'DUVEL MOORTGAT USA LTD',
 'Default',
 'E & J GALLO WINERY',
 'E M D SALES INC',
 'EASTERN LIQUOR DISTRIBUTORS INC',
 'ELITE WINES IMPORTS',
 'ELK RUN VINEYARDS',
 'EVEREST SPIRITS LLC',
 'EXCELSIOR WINE COMPANY LLC',
 'FAR NIENTE WINERY INC',
 'FAROPIAN SPIRITS LTD',
 'FERRARI CARANO WINERY',
 'FETZER VINEYARDS',
 'FIFTH GENERATION INC',
 'FIORE WINERY',
 'FIVE GRAPES LLC',
 'FLAVOR SEEKERS LLC',
 'FLYING DOG BREWERY LLLP',
 'FN CELLARS LLC',
 'FOLEY FAMILY WINES INC',
 'FOWLES WINE USA INC',
 'FRANCIS COPPOLA WINERY LLC',
 'FRANK LIN MD',
 'FREDERICK P WINNER LTD',
 'FREDERICK WILDMAN & SONS',
 'FREE RUN WINE MERCHANTS LLC',
 'FREELANCE WINES LLC',
 'FREIXENET USA',
 'FRITZ IMPORTS LLC',
 'FRONT PORCH MICRO WINERY LLC',
 'FRUIT OF THE VINES INC',
 'FX MATT BREWING CO',
 'GAMBRINUS',
 "GATOR RON'S LLC",
 'GEORGIAN HOUSE OF GREATER WASHINGTON',
 'GF WINES, LLC DBA GARY FARRELL WINERY',
 'GLOBAL OCEAN AND AIR CARGO SERVICES',
 'GOOSE RIDGE LLC',
 'GRAIL POINT BREWERY LLC',
 'GRAND ENCLOS DU CHATEAU DE CERONS',
 'GRAPES & BARLEY LLC',
 'GRAPES OF SPAIN INC',
 'GROTH VINEYARDS & WINERY',
 'HAMCO DC',
 'HARVEST IMPORTING LLC',
 'HEAVEN HILL DISTILLERIES INC',
 'HEIMBUCH ESTATE VINEYARDS AND WINERY LLC',
 'HEINEKEN USA',
 'HOME BREW MART INC',
 'HONIG VINEYARD AND WINERY',
 'IMPERO WINE DISTRIBUTORS VIRGINIA INC',
 'INFINIUM SPIRITS INC',
 'INTERBALT PRODUCTS CORP',
 'INTERNATIONAL CELLARS LLC',
 'INTERNATIONAL SPIRITS & WINES LLC',
 'J LOHR WINERY',
 'JACK POUST & COMPANY INC',
 'JACKSON FAMILY ENTERPRISES INC',
 'JIM BEAM BRANDS CO',
 'JOHN GIVEN WINES INC',
 'JORDAN VINEYARD',
 'JOS VICTORI WINES',
 'KAHN PAPER COMPANY INC',
 'KATCEF BROTHERS INC',
 'KING ESTATE WINERY',
 'KLEIN FAMILY VINTNERS',
 'KOBRAND CORPORATION',
 'KYSELA PERE ET FILS LTD',
 'LA ISLA CORPORATION',
 'LABATT USA OPERATING CO LLC',
 'LAIRD AND COMPANY',
 'LANTERNA DISTRIBUTORS INC',
 'LAPHAM SALES & MARKETING DBA LAPHAM',
 'LATITUDE BEVERAGE COMPANY',
 'LCF WINE COMPANY LLC',
 'LEGACY PARTNERS DISTRIBUTION LLC',
 'LEGENDS LTD',
 'LUNEAU USA INC',
 'LUXCO SPIRITED BRANDS',
 'LYON DISTILLING COMPANY LLC',
 'MACCHU PISCO LLC',
 'MADIDUS LLC',
 'MAISON JOMERE LTD',
 'MARK ANTHONY BRANDS INC',
 'MARQUEE SELECTIONS LLC',
 'MASS BAY BREWING CO',
 'MAST-JAEGERMEISTER US INC',
 'MEIOMI',
 'MERRYVALE VINEYARDS',
 'MEXCOR INTERNATIONAL',
 'MHW LTD',
 'MICHAEL R DOWNEY SELECTIONS INC',
 'MILLER BREWING COMPANY',
 'MOET HENNESSY USA',
 'MONDO VINO',
 'MONOCACY BREWING CO LLC',
 'MONSIEUR TOUTON SELECTION',
 'MONTEBELLO BRANDS INC',
 'NARRAGANSETT BREWING COMPANY',
 'NEW BELGIUM BREWING INC',
 'NEW PARROTT & CO',
 'NICE LEGS LLC',
 'NICHE IMPORTERS',
 'NICKOLAS IMPORTS LLC',
 'NOBLE VINTNERS INC',
 'NORTH LOCK LLC DBA PORT CITY BREWING CO',
 'NOVELTY MD INC',
 'OCEAN CITY BREWING CO LLC',
 'OENOS LLC',
 'ONE TRUE VINE',
 'OPICI FAMILY DISTRIBUTING OF MD',
 'ORGANIC VINTNERS INC',
 'OSLO ENTERPRISE',
 'PABST BREWING CO',
 'PACIFIC RIM WINEMAKERS',
 'PALM BAY IMPORTS',
 'PAMPA BEVERAGES LLC DBA TRANSNATIONAL SU',
 'PARK STREET IMPORTS LLC',
 'PATERNO IMPORTS LTD',
 'PERNOD RICARD USA LLC',
 'PIPE CREEK WINES LLC',
 'PLATA WINE PARTNERS LLC',
 'PLUME RIDGE IRREVOCABLE TRUST',
 'POTOMAC SELECTIONS INC',
 'PRECEPT BRANDS LLC',
 'PREMIUM DISTRIBUTORS OF MARYLAND',
 'PRESTIGE BEVERAGE GROUP OF MD LLC',
 'PRESTIGE WINE IMPORTS',
 'PROXIMO SPIRITS INC',
 'PUNTO VINO LLC',
 'PWSWN INC',
 'QUINTESSENTIAL LLC',
 'RAPP CAPITAL LLC',
 'RED INK IMPORTS',
 'RED MOUNTAIN DISTILLING & SPIRITS LLC',
 'RELIABLE CHURCHILL LLLP',
 'REMY COINTREAU USA',
 'REPUBLIC NATIONAL DISTRIBUTING CO',
 'REPUBLIC RESTORATIVES',
 'ROBERT GIRAUD',
 'ROBERT KACHER SELECTIONS LLC',
 'ROBERT OATLEY',
 'ROBERT OATLEY VINEYARDS INC',
 'ROOTS RUN DEEP LLC',
 'ROYAL WINE CORP',
 'RUSSIAN STANDARD VODKA (USA) INC',
 'RUTHERFORD WINE COMPANY',
 'RVWC LLC',
 'SABLE RIDGE VINEYARD LLC',
 'SAGAMORE WHISKEY LLC',
 'SALVETO IMPORTS LLC',
 'SAN ANTONIO WINERY INC',
 'SANGLIER SELECTIONS LLC',
 'SANTA MARGHERITA USA INC',
 'SAZERAC CO',
 'SCHEID VINEYARDS CALIFORNIA INC',
 'SCHMITT SOHNE INC',
 'SCHUG CARNEROS ESTATE WINERY',
 'SCOPERTA IMPORTING COMPANY INC',
 'SERRALLES USA LLC',
 'SIDNEY-FRANK IMPORTING CO',
 'SIERRA NEVADA BREWING CO',
 'SIMON N CELLARS LLC',
 'SINGHA NORTH AMERICA INC',
 'SMITH-ANDERSON ENTERPRISES INC',
 'SOKOL BLOSSER LTD',
 'SOUTHERN GLAZERS WINE AND SPIRITS',
 'SOUTHERN WINE & SPIRITS OF MARYLAND',
 'SPADA ENTERPRISES INC',
 'SPAINS BEST BEERS INC',
 'SPLINTER GROUP NAPA LLC',
 'ST KILLIAN IMPORTING CO INC',
 'ST RICE WINE INC',
 'STARR HILL BREWERY LLC',
 'STE MICHELLE WINE ESTATES',
 'STEFANO INCORPORATED',
 'STELLAR IMPORTING CO LLC',
 'STOLI GROUP (USA) LLC',
 'SUBARASHII KUDAMONO CO INC',
 'SUGARLOAF MOUNTAIN SUNLIGHT VINEYARD LLC',
 'SUGARLOAF MOUNTAIN VINEYARD LLC',
 'SURVILLE ENTERPRISES CORP',
 'SUTTER HOME WINERY INC',
 'SWEETWATER BREWING COMPANY LLC',
 'TAP26MD LLC',
 'TERRAPIN BEER COMPANY',
 'TESTA WINES OF THE WORLD LTD',
 'THE BROOKLYN BREWERY CORPORATION',
 'THE EDRINGTON GROUP USA LLC',
 'THE HESS COLLECTION',
 'THE RIVER WINE',
 'THE SANDY BOTTOM ENTERPRISES LLC',
 'THE SPANISH WINE IMPORTERS LLC',
 'THE TRITON COLLECTION',
 'THE TRITON COLLECTION INC',
 'THE VINERY LLC',
 'THE WINE GROUP',
 'THE WINE SOURCE INC',
 'THREE HENS LLC T/A TENTH HARVEST',
 'THREE STARS BREWING COMPANY LLC',
 'TI BEVERAGE GROUP LTD',
 'TRADEWINDS SPECIALTY IMPORTS LLC',
 'TREANA WINERY LLC',
 'TREASURY WINE ESTATES AMERICAS COMPANY',
 'TREFETHEN VINEYARDS',
 'TRI-VIN IMPORTS',
 'TRICANA SHIPPERS & IMPORT',
 'UNITED STATES BEVERAGE',
 'UNITED STATES DISTILLED PRODUCTS',
 'URUGUAY IMPORTS LTD',
 'USA WINE IMPORTS',
 'USA WINE WEST LLC',
 'VIGNOBLES LVDH USA INC',
 'VIN DIVINO LTD',
 'VINIFERA DISTRIBUTING OF MARYLAND INC',
 'VINTAGE POINT LLC',
 'VINTAGE VIRGINIA APPLES',
 'VINTAGE WINE ESTATES INC',
 'VINTAGE WINES INC',
 'VINTURE WINE COMPANY LLC',
 'VINTUS LLC',
 'VOLUBILIS IMPORTS INC',
 'WAGNER WINE COMPANY LLC',
 'WARSTEINER IMPORTERS',
 'WASHBURN WINE CO',
 'WEIN-BAUER INC',
 'WESTERN SPIRITS BEVERAGE COMPANY LLC',
 'WETTEN IMPORTERS INC',
 'WHITE ROCK DISTILLERS INC',
 'WI INC',
 'WILLIAM GRANT AND SONS INC',
 'WILLIAM HARRISON IMPORTS',
 'WILLIAMS CORNER WINE',
 'WILSON DANIELS LTD',
 'WINE BRIDGE IMPORTS INC',
 'WINEBOW INC',
 'YOUNG WON TRADING INC',
 'YUENGLING BREWERY',
 'Z WINE GALLERY IMPORTS LLC',
 'ZURENA LLC',
 nan}

In [58]:
print(set(ware_reta['ITEM TYPE']))

{nan, 'BEER', 'REF', 'KEGS', 'WINE', 'NON-ALCOHOL', 'STR_SUPPLIES', 'LIQUOR', 'DUNNAGE'}

In [64]:
test2 = ware_reta[(ware_reta['ITEM TYPE']!='BEER') & (ware_reta['ITEM TYPE']!= 'DUNNAGE') & (ware_reta['ITEM TYPE']!= 'LIQUOR') & (ware_reta['ITEM TYPE']!= 'NON-ALCOHOL') & (ware_reta['ITEM TYPE']!= 'KEGS') & (ware_reta['ITEM TYPE']!= 'REF') & (ware_reta['ITEM TYPE']!= 'STR_SUPPLIES') & (ware_reta['ITEM TYPE']!= 'WINE')]
test2[['YEAR', 'MONTH', 'SUPPLIER', 'ITEM CODE', 'ITEM DESCRIPTION','ITEM TYPE','RETAIL SALES', 'RETAIL TRANSFERS', 'WAREHOUSE SALES']]
test2

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
66439,2017,10,REPUBLIC NATIONAL DISTRIBUTING CO,347939,FONTANAFREDDA BAROLO SILVER LABEL 750 ML,NaN,0.0,0.0,1.0

In [69]:
ware_reta.loc[(ware_reta['ITEM CODE']=='347939') & (ware_reta['SUPPLIER']=='REPUBLIC NATIONAL DISTRIBUTING CO'), 'ITEM TYPE'] = 'WINE'
test3 = ware_reta.loc[(ware_reta['ITEM CODE']=='347939') & (ware_reta['SUPPLIER']=='REPUBLIC NATIONAL DISTRIBUTING CO')]
test3.head()

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
66439,2017,10,REPUBLIC NATIONAL DISTRIBUTING CO,347939,FONTANAFREDDA BAROLO SILVER LABEL 750 ML,WINE,0.0,0.0,1.0

In [72]:
before = len(ware_reta)
ware_reta = ware_reta.drop_duplicates()
after = len(ware_reta)
print('Number of duplicate records dropped: ', str(before - after))

Number of duplicate records dropped:  0

In [73]:
select_columns = ['YEAR', 'MONTH', 'SUPPLIER', 'ITEM CODE', 'ITEM DESCRIPTION','ITEM TYPE','RETAIL SALES', 'RETAIL TRANSFERS', 'WAREHOUSE SALES']
ware_reta = ware_reta[select_columns].drop_duplicates()
after = len(ware_reta)
print('Number of duplicate records dropped: ', str(before - after))

Number of duplicate records dropped:  0

In [74]:
import numpy as np
import pandas as pd
#Write three tables in your local database:
#A table for the cleaned data.
#A table for the aggregate per supplier.
#A table for the aggregate per item.

In [77]:
#to be continued
#ware_reta = 
ware_suppliers = ware_reta.groupby(['SUPPLIER'])['RETAIL SALES', 'RETAIL TRANSFERS', 'WAREHOUSE SALES'].sum().reset_index()
ware_suppliers.head(60)

/Users/Veeka/.pyenv/versions/3.7.7/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  This is separate from the ipykernel package so we can avoid doing imports until

,SUPPLIER,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
0,8 VINI INC,2.78,2.00,1.00
1,A HARDY USA LTD,0.40,0.00,0.00
2,A I G WINE & SPIRITS,12.52,5.92,134.00
3,A VINTNERS SELECTIONS,8640.57,8361.10,29776.67
4,A&E INC,11.52,2.00,0.00
5,A&W BORDERS LLC,0.80,1.00,0.00
6,ADAMBA IMPORTS INTL,32.20,40.49,0.00
7,AIKO IMPORTERS INC,11.24,11.00,3.00
8,ALLAGASH BREWING COMPANY,304.09,339.00,1742.92
9,ALLIED IMPORTERS USA LTD,7.63,11.00,18.00
10,ALTITUDE SPIRITS INC,5.61,4.59,0.00
11,AMERICAN BEVERAGE CORPORATION,452.40,486.09,192.00
12,AMERICAN BEVERAGE MARKETERS,1917.29,2104.59,307.00
13,AMERICAN FIDELITY TRADING,71.71,78.00,300.92
14,AMERICAN VINTAGE BEVERAGE INC,2.38,0.00,0.00
15,ANHEUSER BUSCH INC,42559.14,47322.64,493856.19
16,ARCHER ROOSE LLC,0.00,0.00,8.00
17,AREL GROUP WINE & SPIRITS,531.61,545.17,857.08
18,ARIS A ZISSIS,6.05,-0.08,0.00
19,ARTISANS & VINES LLC,48.63,39.83,2120.26
20,ASAHI BEER USA INC,256.32,298.00,1700.67
21,ATLANTIC WINE & SPIRITS,0.98,0.00,11.00
22,ATLAS BREW WORKS LLC,229.49,248.75,1285.08
23,AW DIRECT LLC,7.27,4.00,0.00
24,AZIZ SHAFI TANNIC TONGUE,1.16,2.00,145.83
25,BACARDI USA INC,28034.63,30830.21,4050.48
26,BACCHUS IMPORTERS LTD,4078.75,3753.86,8510.03
27,BACKUP BEVERAGE,20.27,37.00,1041.33
28,BANFI PRODUCTS CORP,4507.21,4790.75,2911.17
29,BANVILLE & JONES WINE MERCHANTS,3.91,0.00,0.00
30,BARON FRANCOIS LTD,2178.89,2163.58,1408.93
31,BARREL ONE INC,0.00,0.00,10.00
32,BASIGNANI WINERY,2.37,0.00,0.00
33,BINDING BRAUEREI USA INC,50.29,58.00,334.83
34,BLACK ANKLE VINEYARDS LLC,0.08,1.00,0.00
35,BOND DISTRIBUTING CO,0.89,1.00,166.66
36,BOORDY VINEYARDS,327.03,289.93,170.00
37,BORVIN BEVERAGE,0.32,0.00,0.00
38,BOSTON BEER CORPORATION,10773.25,11869.96,53420.91
39,BOUTIQUE VINEYARDS LLC,56.88,28.51,176.92
40,BRONCO WINE COMPANY,771.64,613.85,1310.83
41,BROWN-FORMAN BEVERAGES WORLDWIDE,21659.41,23666.45,5166.93
42,BUCK DISTRIBUTING COMPANY INC,2561.53,2831.00,12583.05
43,BULLSHINE DISTILLERY LLC,9.13,109.00,0.00
44,C MONDAVI & SONS,676.27,747.14,1005.49
45,CABERNET CORPORATION,175.59,185.50,650.92
46,CAFFO BEVERAGES INC,6.49,8.00,0.00
47,CALVERT BREWING COMPANY,0.00,0.00,1.00
48,CAMPARI AMERICA LLC,9350.31,9957.03,744.83
49,CANTINIERE IMPORTS & DISTRIBUTING INC,1.00,1.00,62.00
50,CAPE STARZ WINE LLC,31.55,17.00,160.00
51,CASA CHIRICO LLC,0.00,0.00,98.00
52,CASTLE BRANDS USA CORP,3689.66,3926.85,958.51
53,CELICAR LLC DBA TWIN VALLEY DISTILLERS,117.52,56.83,1.00
54,CHADDSFORD WINERY LTD,0.90,0.00,0.00
55,CHARLES JACQUIN ET CIE INC,459.74,462.92,0.00
56,CHATEAU DIANA LLC,0.64,0.00,3.00
57,CHEF SOUS LLC,3.86,1.00,0.00
58,CHEVAL QUANCARD,260.97,257.77,0.00
59,CLASSIC WINE IMPORTS INC,4.41,0.00,0.00

In [78]:
ware_itemtype = ware_reta.groupby(['ITEM TYPE'])['RETAIL SALES', 'RETAIL TRANSFERS', 'WAREHOUSE SALES'].sum().reset_index()
ware_itemtype.head(60)

/Users/Veeka/.pyenv/versions/3.7.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

      ITEM TYPE  RETAIL SALES  RETAIL TRANSFERS  WAREHOUSE SALES
0          BEER     209763.11         234924.44       2437617.32
1       DUNNAGE          0.00              0.00        -45331.00
2          KEGS          0.00              0.00         43558.00
3        LIQUOR     309847.85         334176.41         33173.32
4   NON-ALCOHOL       8109.97           9058.37          8656.72
5           REF        281.34            171.92         -6754.00
6  STR_SUPPLIES        995.98           3594.70             0.00
7          WINE     313400.42         340710.51        433010.47

In [ ]:
#I still need to import 3 tables to my local database