# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [2]:
admissions = pd.read_csv('../data/Admission_Predict.csv')
admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

Remove trailing spaces at the end of the column names if there are any.

In [3]:
admissions.columns = admissions.columns.str.replace(' ', '')
admissions

,SerialNo.,GREScore,TOEFLScore,UniversityRating,SOP,LOR,CGPA,Research,ChanceofAdmit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

Let's evaluate the dataset by looking at the `head` function.

In [4]:
admissions.head()

,SerialNo.,GREScore,TOEFLScore,UniversityRating,SOP,LOR,CGPA,Research,ChanceofAdmit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [5]:
admissions.isnull().sum()

SerialNo.           0
GREScore            0
TOEFLScore          0
UniversityRating    0
SOP                 0
LOR                 0
CGPA                0
Research            0
ChanceofAdmit       0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [6]:
admissions = admissions.set_index('SerialNo.')
admissions

,GREScore,TOEFLScore,UniversityRating,SOP,LOR,CGPA,Research,ChanceofAdmit
SerialNo.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
396,324,110,3,3.5,3.5,9.04,1,0.82
397,325,107,3,3.0,3.5,9.11,1,0.84
398,330,116,4,5.0,4.5,9.45,1,0.91
399,312,103,3,3.5,4.0,8.78,0,0.67
400,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [7]:
GREScore = admissions['GREScore'].unique()
print(GREScore)
print()
CGPA = admissions['CGPA'].unique()
print(CGPA)

[337 324 316 322 314 330 321 308 302 323 325 327 328 307 311 317 319 318
 303 312 334 336 340 298 295 310 300 338 331 320 299 304 313 332 326 329
 339 309 315 301 296 294 306 305 290 335 333 297 293]

[9.65 8.87 8.   8.67 8.21 9.34 8.2  7.9  8.6  8.4  9.   9.1  8.3  8.7
 8.8  8.5  9.5  9.7  9.8  9.6  7.5  7.2  7.3  8.1  9.4  9.2  7.8  7.7
 9.3  8.85 7.4  7.6  6.8  8.92 9.02 8.64 9.22 9.16 9.64 9.76 9.45 9.04
 8.9  8.56 8.72 8.22 7.54 7.36 8.02 9.36 8.66 8.42 8.28 8.14 8.76 7.92
 7.66 8.03 7.88 7.84 8.96 9.24 8.88 8.46 8.12 8.25 8.47 9.05 8.78 9.18
 9.46 9.38 8.48 8.68 8.34 8.45 8.62 7.46 7.28 8.84 9.56 9.48 8.36 9.32
 8.71 9.35 8.65 9.28 8.77 8.16 9.08 9.12 9.15 9.44 9.92 9.11 8.26 9.43
 9.06 8.75 8.89 8.69 7.86 9.01 8.97 8.33 8.27 7.98 8.04 9.07 9.13 9.23
 8.32 8.98 8.94 9.53 8.52 8.43 8.54 9.91 9.87 7.65 7.89 9.14 9.66 9.78
 9.42 9.26 8.79 8.23 8.53 8.07 9.31 9.17 9.19 8.37 7.68 8.15 8.73 8.83
 8.57 9.68 8.09 8.17 7.64 8.01 7.95 8.49 7.87 7.97 8.18 8.55 8.74 8.13
 8.44 9.47 8.24 7.34 7.43 7.25 8.06 7.67 9.54 9.62 7.56 9.74 9.82 7.96]

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [26]:
admissions["GRE&CGPA"] = admissions["GREScore"] + admissions["CGPA"]
new_admissions = admissions.copy()
new_admissions = admissions.set_index('GRE&CGPA')
new_admissions.drop(columns=['GREScore', 'CGPA'], inplace=True)
new_admissions.reset_index(inplace=True)
new_admissions

,GRE&CGPA,TOEFLScore,UniversityRating,SOP,LOR,Research,ChanceofAdmit,CGPA_std,GRE_std,LOR_std,deciding_column,decision
0,346.65,118,4,4.5,4.5,1,0.92,1.764818,1.762107,1.167321,1.762107,1
1,332.87,107,4,4.0,4.5,1,0.76,0.455151,0.627656,1.167321,0.455151,0
2,324.00,104,3,3.0,3.5,1,0.72,-1.005631,-0.070467,0.052933,0.052933,0
3,330.67,110,3,3.5,2.5,1,0.80,0.119339,0.453126,-1.061454,-1.061454,0
4,322.21,103,2,2.0,3.0,0,0.65,-0.653029,-0.244998,-0.504260,-0.653029,0
...,...,...,...,...,...,...,...,...,...,...,...,...
395,333.04,110,3,3.5,3.5,1,0.82,0.740592,0.627656,0.052933,0.052933,0
396,334.11,107,3,3.0,3.5,1,0.84,0.858126,0.714922,0.052933,0.858126,1
397,339.45,116,4,5.0,4.5,1,0.91,1.429006,1.151249,1.167321,1.167321,1
398,320.78,103,3,3.5,4.0,0,0.67,0.304036,-0.419528,0.610127,0.304036,0
399,342.66,117,4,5.0,4.0,1,0.95,1.781609,1.413045,0.610127,0.610127,0

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [9]:
admissions[(admissions['CGPA'] > 9) & (admissions['Research'] == 1)]

,GREScore,TOEFLScore,UniversityRating,SOP,LOR,CGPA,Research,ChanceofAdmit,GRE&CGPA
SerialNo.,,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92,346.65
6,330,115,5,4.5,3.0,9.34,1,0.90,339.34
13,328,112,4,4.0,4.5,9.10,1,0.78,337.10
23,328,116,5,5.0,5.0,9.50,1,0.94,337.50
24,334,119,5,5.0,4.5,9.70,1,0.95,343.70
...,...,...,...,...,...,...,...,...,...
395,329,111,4,4.5,4.0,9.23,1,0.89,338.23
396,324,110,3,3.5,3.5,9.04,1,0.82,333.04
397,325,107,3,3.0,3.5,9.11,1,0.84,334.11
398,330,116,4,5.0,4.5,9.45,1,0.91,339.45
400,333,117,4,5.0,4.0,9.66,1,0.95,342.66

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [10]:
admissions1 = admissions[(admissions['CGPA'] > 9) & (admissions['SOP'] < 3.5)]
admissions1.head()

,GREScore,TOEFLScore,UniversityRating,SOP,LOR,CGPA,Research,ChanceofAdmit,GRE&CGPA
SerialNo.,,,,,,,,,
33,338,118,4,3.0,4.5,9.40,1,0.91,347.40
67,327,114,3,3.0,3.0,9.02,0,0.61,336.02
148,326,114,3,3.0,3.0,9.11,1,0.83,335.11
230,324,111,4,3.0,3.0,9.01,1,0.82,333.01
397,325,107,3,3.0,3.5,9.11,1,0.84,334.11

In [11]:
np.mean(admissions1['ChanceofAdmit'])

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [12]:
def standardize(col):
    return (col - np.mean(col)) / np.std(col)
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [13]:
#admissions["CGPA_std"] = (admissions["CGPA"] - np.mean(admissions["CGPA"])) / np.std(admissions["CGPA"])
#admissions["GRE_std"] = (admissions["GRE"] - np.mean(admissions["GRE"])) / np.std(admissions["GRE"])

admissions["CGPA_std"] = standardize(admissions["CGPA"])
admissions["GRE_std"] = standardize(admissions["GREScore"])
admissions["LOR_std"] = standardize(admissions["LOR"])
admissions

,GREScore,TOEFLScore,UniversityRating,SOP,LOR,CGPA,Research,ChanceofAdmit,GRE&CGPA,CGPA_std,GRE_std,LOR_std
SerialNo.,,,,,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92,346.65,1.764818,1.762107,1.167321
2,324,107,4,4.0,4.5,8.87,1,0.76,332.87,0.455151,0.627656,1.167321
3,316,104,3,3.0,3.5,8.00,1,0.72,324.00,-1.005631,-0.070467,0.052933
4,322,110,3,3.5,2.5,8.67,1,0.80,330.67,0.119339,0.453126,-1.061454
5,314,103,2,2.0,3.0,8.21,0,0.65,322.21,-0.653029,-0.244998,-0.504260
...,...,...,...,...,...,...,...,...,...,...,...,...
396,324,110,3,3.5,3.5,9.04,1,0.82,333.04,0.740592,0.627656,0.052933
397,325,107,3,3.0,3.5,9.11,1,0.84,334.11,0.858126,0.714922,0.052933
398,330,116,4,5.0,4.5,9.45,1,0.91,339.45,1.429006,1.151249,1.167321
399,312,103,3,3.5,4.0,8.78,0,0.67,320.78,0.304036,-0.419528,0.610127
400,333,117,4,5.0,4.0,9.66,1,0.95,342.66,1.781609,1.413045,0.610127

We will generate the decision choice at random using the code below. Please run the cell.

In [14]:
from random import choices

In [24]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']
decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [16]:
admissions['deciding_column'] = admissions.lookup(admissions.index, decision_choice)
admissions.head(60)

,GREScore,TOEFLScore,UniversityRating,SOP,LOR,CGPA,Research,ChanceofAdmit,GRE&CGPA,CGPA_std,GRE_std,LOR_std,deciding_column
SerialNo.,,,,,,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92,346.65,1.764818,1.762107,1.167321,1.762107
2,324,107,4,4.0,4.5,8.87,1,0.76,332.87,0.455151,0.627656,1.167321,0.455151
3,316,104,3,3.0,3.5,8.00,1,0.72,324.00,-1.005631,-0.070467,0.052933,0.052933
4,322,110,3,3.5,2.5,8.67,1,0.80,330.67,0.119339,0.453126,-1.061454,-1.061454
5,314,103,2,2.0,3.0,8.21,0,0.65,322.21,-0.653029,-0.244998,-0.504260,-0.653029
6,330,115,5,4.5,3.0,9.34,1,0.90,339.34,1.244310,1.151249,-0.504260,-0.504260
7,321,109,3,3.0,4.0,8.20,1,0.75,329.20,-0.669819,0.365860,0.610127,0.610127
8,308,101,2,3.0,4.0,7.90,0,0.68,315.90,-1.173537,-0.768590,0.610127,-0.768590
9,302,102,1,2.0,1.5,8.00,0,0.50,310.00,-1.005631,-1.292182,-2.175842,-2.175842
10,323,108,3,3.5,3.0,8.60,0,0.45,331.60,0.001805,0.540391,-0.504260,0.540391
11,325,106,3,3.5,4.0,8.40,1,0.52,333.40,-0.334007,0.714922,0.610127,0.610127
12,327,111,4,4.0,4.5,9.00,1,0.84,336.00,0.673429,0.889453,1.167321,1.167321
13,328,112,4,4.0,4.5,9.10,1,0.78,337.10,0.841335,0.976718,1.167321,1.167321
14,307,109,3,4.0,3.0,8.00,1,0.62,315.00,-1.005631,-0.855855,-0.504260,-0.504260
15,311,104,3,3.5,2.0,8.20,1,0.61,319.20,-0.669819,-0.506794,-1.618648,-0.506794
16,314,105,3,3.5,2.5,8.30,0,0.54,322.30,-0.501913,-0.244998,-1.061454,-0.244998
17,317,107,3,4.0,3.0,8.70,0,0.66,325.70,0.169711,0.016799,-0.504260,0.169711
18,319,106,3,4.0,3.0,8.00,1,0.65,327.00,-1.005631,0.191329,-0.504260,-1.005631
19,318,110,3,4.0,3.0,8.80,0,0.63,326.80,0.337617,0.104064,-0.504260,-0.504260
20,303,102,3,3.5,3.0,8.50,0,0.62,311.50,-0.166101,-1.204917,-0.504260,-0.166101
21,312,107,3,3.0,2.0,7.90,1,0.64,319.90,-1.173537,-0.419528,-1.618648,-1.618648
22,325,114,4,3.0,2.0,8.40,0,0.70,333.40,-0.334007,0.714922,-1.618648,-1.618648
23,328,116,5,5.0,5.0,9.50,1,0.94,337.50,1.512959,0.976718,1.724515,1.512959
24,334,119,5,5.0,4.5,9.70,1,0.95,343.70,1.848771,1.500310,1.167321,1.500310
25,336,119,5,4.0,3.5,9.80,1,0.97,345.80,2.016677,1.674841,0.052933,0.052933
26,340,120,5,4.5,4.5,9.60,1,0.94,349.60,1.680865,2.023903,1.167321,2.023903
27,322,109,5,4.5,3.5,8.80,0,0.76,330.80,0.337617,0.453126,0.052933,0.052933
28,298,98,2,1.5,2.5,7.50,1,0.44,305.50,-1.845161,-1.641244,-1.061454,-1.061454
29,295,93,1,2.0,2.0,7.20,0,0.46,302.20,-2.348879,-1.903040,-1.618648,-1.618648
30,310,99,2,1.5,2.0,7.30,0,0.54,317.30,-2.180973,-0.594059,-1.618648,-0.594059
31,300,97,2,3.0,3.0,8.10,1,0.65,308.10,-0.837725,-1.466713,-0.504260,-0.504260
32,327,103,3,4.0,4.0,8.30,1,0.74,335.30,-0.501913,0.889453,0.610127,0.610127
33,338,118,4,3.0,4.5,9.40,1,0.91,347.40,1.345053,1.849372,1.167321,1.849372
34,340,114,5,4.0,4.0,9.60,1,0.90,349.60,1.680865,2.023903,0.610127,2.023903
35,331,112,5,4.0,5.0,9.80,1,0.94,340.80,2.016677,1.238514,1.724515,1.724515
36,320,110,5,5.0,5.0,9.20,1,0.88,329.20,1.009241,0.278595,1.724515,1.009241
37,299,106,2,4.0,4.0,8.40,0,0.64,307.40,-0.334007,-1.553979,0.610127,0.610127
38,300,105,1,1.0,2.0,7.80,0,0.58,307.80,-1.341443,-1.466713,-1.618648,-1.466713
39,304,105,1,3.0,1.5,7.50,0,0.52,311.50,-1.845161,-1.117652,-2.175842,-1.845161
40,307,108,2,4.0,3.5,7.70,0,0.48,314.70,-1.509349,-0.855855,0.052933,-1.509349
41,308,110,3,3.5,3.0,8.00,1,0.46,316.00,-1.005631,-0.768590,-0.504260,-0.504260
42,316,105,2,2.5,2.5,8.20,1,0.49,324.20,-0.669819,-0.070467,-1.061454,-0.070467
43,313,107,2,2.5,2.0,8.50,1,0.53,321.50,-0.166101,-0.332263,-1.618648,-0.166101
44,332,117,4,4.5,4.0,9.10,0,0.87,341.10,0.841335,1.325780,0.610127,1.325780
45,326,113,5,4.5,4.0,9.40,1,0.91,335.40,1.345053,0.802187,0.610127,1.345053
46,322,110,5,5.0,4.0,9.10,1,0.88,331.10,0.841335,0.453126,0.610127,0.453126
47,329,114,5,4.0,5.0,9.30,1,0.86,338.30,1.177147,1.063983,1.724515,1.724515
48,339,119,5,4.5,4.0,9.70,0,0.89,348.70,1.848771,1.936637,0.610127,1.936637
49,321,110,3,3.5,5.0,8.85,1,0.82,329.85,0.421570,0.365860,1.724515,0.365860
50,327,111,4,3.0,4.0,8.40,1,0.78,335.40,-0.334007,0.889453,0.610127,0.610127
51,313,98,3,2.5,4.5,8.30,1,0.76,321.30,-0.501913,-0.332263,1.167321,-0.332263
52,312,100,2,1.5,3.5,7.90,1,0.56,319.90,-1.173537,-0.419528,0.052933,-1.173537
53,334,116,4,4.0,3.0,8.00,1,0.78,342.00,-1.005631,1.500310,-0.504260,-1.005631
54,324,112,4,4.0,2.5,8.10,1,0.72,332.10,-0.837725,0.627656,-1.061454,-0.837725
55,322,110,3,3.0,3.5,8.00,0,0.70,330.00,-1.005631,0.453126,0.052933,-1.005631
56,320,103,3,3.0,3.0,7.70,0,0.64,327.70,-1.509349,0.278595,-0.504260,-0.504260
57,316,102,3,2.0,3.0,7.40,0,0.64,323.40,-2.013067,-0.070467,-0.504260,-2.013067
58,298,99,2,4.0,2.0,7.60,0,0.46,305.60,-1.677255,-1.641244,-1.618648,-1.677255
59,300,99,1,3.0,2.0,6.80,1,0.36,306.80,-3.020504,-1.466713,-1.618648,-1.466713
60,311,104,2,2.0,2.0,8.30,0,0.42,319.30,-0.501913,-0.506794,-1.618648,-0.506794

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [23]:
decision = []
for score in admissions.deciding_column:
    if score > 0.8:
        decision.append(1)
    else:
        decision.append(0)
admissions ['decision'] = decision
admissions

,GREScore,TOEFLScore,UniversityRating,SOP,LOR,CGPA,Research,ChanceofAdmit,GRE&CGPA,CGPA_std,GRE_std,LOR_std,deciding_column,decision
SerialNo.,,,,,,,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92,346.65,1.764818,1.762107,1.167321,1.762107,1
2,324,107,4,4.0,4.5,8.87,1,0.76,332.87,0.455151,0.627656,1.167321,0.455151,0
3,316,104,3,3.0,3.5,8.00,1,0.72,324.00,-1.005631,-0.070467,0.052933,0.052933,0
4,322,110,3,3.5,2.5,8.67,1,0.80,330.67,0.119339,0.453126,-1.061454,-1.061454,0
5,314,103,2,2.0,3.0,8.21,0,0.65,322.21,-0.653029,-0.244998,-0.504260,-0.653029,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,324,110,3,3.5,3.5,9.04,1,0.82,333.04,0.740592,0.627656,0.052933,0.052933,0
397,325,107,3,3.0,3.5,9.11,1,0.84,334.11,0.858126,0.714922,0.052933,0.858126,1
398,330,116,4,5.0,4.5,9.45,1,0.91,339.45,1.429006,1.151249,1.167321,1.167321,1
399,312,103,3,3.5,4.0,8.78,0,0.67,320.78,0.304036,-0.419528,0.610127,0.304036,0
400,333,117,4,5.0,4.0,9.66,1,0.95,342.66,1.781609,1.413045,0.610127,0.610127,0

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [29]:
# your code here
np.sum(admissions['decision'])

91

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [19]:
# your code here

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [20]:
# your code here