# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('Admission_Predict.csv')

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         400 non-null    int64
 1   GRE Score          400 non-null    int64
 2   TOEFL Score        400 non-null    int64
 3   University Rating  400 non-null    int64
 4   SOP                400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 28.2 KB

Remove trailing spaces at the end of the column names if there are any.

Let's evaluate the dataset by looking at the `head` function.

In [3]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [4]:
df.isna().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [5]:
df.set_index('Serial No.', inplace=True)

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [6]:
# No they are not.
df['GRE Score'].nunique()
df['CGPA'].nunique()

168

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [7]:
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [8]:
dfadmin = df[(df['CGPA']>9) & (df['SOP']<3.5)]

In [9]:
dfadmin['Chance of Admit '].mean()

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [43]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """

    return (df[col]-df[col].mean())/df[col].std()

In [44]:
df['CGPA_std'] = standardize('CGPA')

In [29]:
df['GRE_std'] = standardize('GRE Score')

In [49]:
df['LOR_std'] = standardize('LOR ')

In [50]:
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
Serial No.,,,,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92,1.762611,1.759903,1.165861
2,324,107,4,4.0,4.5,8.87,1,0.76,0.454582,0.626871,1.165861
3,316,104,3,3.0,3.5,8.00,1,0.72,-1.004373,-0.070379,0.052867
4,322,110,3,3.5,2.5,8.67,1,0.80,0.119190,0.452559,-1.060127
5,314,103,2,2.0,3.0,8.21,0,0.65,-0.652212,-0.244691,-0.503630

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [58]:
(df['CGPA']-df['CGPA'].mean()) / df['CGPA'].std() == df['CGPA_std']

Serial No.
1      True
2      True
3      True
4      True
5      True
       ...
396    True
397    True
398    True
399    True
400    True
Length: 400, dtype: bool

In [14]:
# your code here

We will generate the decision choice at random using the code below. Please run the cell.

In [15]:
# Libraries
from random import choices

In [16]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=df.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [17]:
df['deciding_column'] = decision_choice

Create a column called `decision`.
Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [18]:
df.columns = ['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR', 'CGPA',
       'Research', 'Chance of Admit', 'CGPA_std', 'GRE_std', 'LOR_std',
       'deciding_column']

In [19]:
#Create a column called decision.
#Assign 1 to this column if the value of deciding_column is greater than 0.8

In [20]:
def func(x):
    df['decision'] = df[x].apply(lambda a: 1 if a > 0.8 else 0)

In [21]:
df['deciding_column'].apply(func)

Serial No.
1      None
2      None
3      None
4      None
5      None
       ...
396    None
397    None
398    None
399    None
400    None
Name: deciding_column, Length: 400, dtype: object

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [22]:
df['decision'].value_counts()

0    320
1     80
Name: decision, dtype: int64

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [23]:
df.columns = df.columns.str.replace(' ', '_')

In [24]:
df.columns = map(str.lower, df.columns)

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [46]:
df['adjusted_gre']= df[df['university_rating']>=4]['gre_score'].add(10)

In [47]:
pd.cut(df['adjusted_gre'], 4)

Serial No.
1      (337.5, 350.0]
2      (325.0, 337.5]
3                 NaN
4                 NaN
5                 NaN
            ...
396               NaN
397               NaN
398    (337.5, 350.0]
399               NaN
400    (337.5, 350.0]
Name: adjusted_gre, Length: 400, dtype: category
Categories (4, interval[float64]): [(299.95, 312.5] < (312.5, 325.0] < (325.0, 337.5] < (337.5, 350.0]]