# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# Libraries
import numpy as np
import pandas as pd

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [2]:
# your code here
admissions = pd.read_csv(r"..\data\Admission_Predict.csv")
admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

Remove trailing spaces at the end of the column names if there are any.

In [3]:
# your code here
col_names = [x.strip() for x in list(admissions.columns)]
admissions.columns = col_names

Let's evaluate the dataset by looking at the `head` function.

In [4]:
# your code here
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [5]:
# your code here
admissions.isna().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [6]:
# your code here
admissions["serial nb"] = admissions["Serial No."] 
admissions = admissions.set_index("Serial No.")

admissions

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,serial nb
Serial No.,,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92,1
2,324,107,4,4.0,4.5,8.87,1,0.76,2
3,316,104,3,3.0,3.5,8.00,1,0.72,3
4,322,110,3,3.5,2.5,8.67,1,0.80,4
5,314,103,2,2.0,3.0,8.21,0,0.65,5
...,...,...,...,...,...,...,...,...,...
396,324,110,3,3.5,3.5,9.04,1,0.82,396
397,325,107,3,3.0,3.5,9.11,1,0.84,397
398,330,116,4,5.0,4.5,9.45,1,0.91,398
399,312,103,3,3.5,4.0,8.78,0,0.67,399
400,333,117,4,5.0,4.0,9.66,1,0.95,400

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [7]:
# your code here
admissions.groupby(["GRE Score","CGPA"]).first()
#it is not unique

                TOEFL Score  University Rating  SOP  LOR  Research  \
GRE Score CGPA
290       7.46          104                  4  2.0  2.5         0
          7.56          100                  1  1.5  2.0         0
293       7.80           97                  2  2.0  4.0         1
294       7.36           93                  1  1.5  2.0         0
          7.64           95                  1  1.5  1.5         0
...                     ...                ...  ...  ...       ...
340       9.60          120                  5  4.5  4.5         1
          9.66          112                  4  5.0  4.5         1
          9.74          113                  4  5.0  5.0         1
          9.91          120                  5  4.5  4.5         1
          9.92          120                  4  4.5  4.0         1

                Chance of Admit  serial nb
GRE Score CGPA
290       7.46             0.45        118
          7.56             0.47        378
293       7.80             0.64        169
294       7.36             0.46         80
          7.64             0.49        273
...                         ...        ...
340       9.60             0.94         26
          9.66             0.94        285
          9.74             0.96        385
          9.91             0.97        203
          9.92             0.97        144

[385 rows x 7 columns]

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [8]:
# your code here
admissions.reset_index(inplace=True)
admissions.drop("serial nb", axis=1, inplace=True)
admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [9]:
# your code here
admissions.loc[(admissions["CGPA"]>9)& (admissions["Research"]==1)]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
5,6,330,115,5,4.5,3.0,9.34,1,0.90
12,13,328,112,4,4.0,4.5,9.10,1,0.78
22,23,328,116,5,5.0,5.0,9.50,1,0.94
23,24,334,119,5,5.0,4.5,9.70,1,0.95
...,...,...,...,...,...,...,...,...,...
394,395,329,111,4,4.5,4.0,9.23,1,0.89
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
399,400,333,117,4,5.0,4.0,9.66,1,0.95

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [10]:
# your code here
admissions.loc[(admissions["CGPA"]>9)& (admissions["SOP"]>3.5)].agg({"Chance of Admit":"mean"})

Chance of Admit    0.894184
dtype: float64

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [12]:
# your code here
admissions[["CGPA_std"]] = admissions[["CGPA"]].apply(lambda col: (col - np.mean(col))/np.std(col))
admissions[["GRE_std"]] = admissions[["GRE Score"]].apply(lambda col: (col - np.mean(col))/np.std(col))
admissions[["LOR_std"]] = admissions[["LOR"]].apply(lambda col: (col - np.mean(col))/np.std(col))

In [13]:
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.764818,1.762107,1.167321
1,2,324,107,4,4.0,4.5,8.87,1,0.76,0.455151,0.627656,1.167321
2,3,316,104,3,3.0,3.5,8.00,1,0.72,-1.005631,-0.070467,0.052933
3,4,322,110,3,3.5,2.5,8.67,1,0.80,0.119339,0.453126,-1.061454
4,5,314,103,2,2.0,3.0,8.21,0,0.65,-0.653029,-0.244998,-0.504260

We will generate the decision choice at random using the code below. Please run the cell.

In [14]:
# Libraries
from random import choices

In [15]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [16]:
# your code here
admissions["deciding_column"]= decision_choice

In [17]:
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.764818,1.762107,1.167321,CGPA_std
1,2,324,107,4,4.0,4.5,8.87,1,0.76,0.455151,0.627656,1.167321,GRE_std
2,3,316,104,3,3.0,3.5,8.00,1,0.72,-1.005631,-0.070467,0.052933,LOR_std
3,4,322,110,3,3.5,2.5,8.67,1,0.80,0.119339,0.453126,-1.061454,GRE_std
4,5,314,103,2,2.0,3.0,8.21,0,0.65,-0.653029,-0.244998,-0.504260,GRE_std

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [18]:
# your code here
criteria_GRE = np.where((admissions['GRE_std'] > 0.8),1,0)
criteria_CGPA = np.where((admissions['CGPA_std'] > 0.8),1,0)
criteria_LOR = np.where((admissions['LOR_std'] > 0.8),1,0)

admissions["decision"] = np.where(admissions['deciding_column'] == "GRE_std",criteria_GRE, \
                                  np.where(admissions['deciding_column'] == "CGPA_std", criteria_CGPA,
                                           np.where(admissions['deciding_column'] == "LOR_std", criteria_LOR, 0)))

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [19]:
len(admissions.loc[admissions["decision"]==1])

88

In [20]:
admissions.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance of Admit', 'CGPA_std', 'GRE_std',
       'LOR_std', 'deciding_column', 'decision'],
      dtype='object')

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [21]:
# your code here
import re
col_names = [re.sub(r'\W+',"",re.sub(r" ","_", x)).lower().strip() for x in list(admissions.columns)]
admissions.columns = col_names

col_names

['serial_no',
 'gre_score',
 'toefl_score',
 'university_rating',
 'sop',
 'lor',
 'cgpa',
 'research',
 'chance_of_admit',
 'cgpa_std',
 'gre_std',
 'lor_std',
 'deciding_column',
 'decision']

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [29]:
# your code here
admissions["adjusted_gre"] = np.where(admissions['university_rating'] >= 4 ,admissions['gre_score']+10,admissions['gre_score'])

In [31]:
admissions["bins"] = pd.cut(admissions["adjusted_gre"], bins = 4)

In [32]:
admissions

,serial_no,gre_score,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_column,decision,adjusted_gre,bins
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.764818,1.762107,1.167321,CGPA_std,1,347,"(335.0, 350.0]"
1,2,324,107,4,4.0,4.5,8.87,1,0.76,0.455151,0.627656,1.167321,GRE_std,0,334,"(320.0, 335.0]"
2,3,316,104,3,3.0,3.5,8.00,1,0.72,-1.005631,-0.070467,0.052933,LOR_std,0,316,"(305.0, 320.0]"
3,4,322,110,3,3.5,2.5,8.67,1,0.80,0.119339,0.453126,-1.061454,GRE_std,0,322,"(320.0, 335.0]"
4,5,314,103,2,2.0,3.0,8.21,0,0.65,-0.653029,-0.244998,-0.504260,GRE_std,0,314,"(305.0, 320.0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82,0.740592,0.627656,0.052933,GRE_std,0,324,"(320.0, 335.0]"
396,397,325,107,3,3.0,3.5,9.11,1,0.84,0.858126,0.714922,0.052933,CGPA_std,1,325,"(320.0, 335.0]"
397,398,330,116,4,5.0,4.5,9.45,1,0.91,1.429006,1.151249,1.167321,CGPA_std,1,340,"(335.0, 350.0]"
398,399,312,103,3,3.5,4.0,8.78,0,0.67,0.304036,-0.419528,0.610127,LOR_std,0,312,"(305.0, 320.0]"
399,400,333,117,4,5.0,4.0,9.66,1,0.95,1.781609,1.413045,0.610127,GRE_std,1,343,"(335.0, 350.0]"