In [1]:
import pandas as pd
import numpy as np

In [2]:
four_ocean = pd.read_csv('../data/4ocean.csv')
four_ocean.shape

(3229, 15)

In [3]:
five_gyres = pd.read_csv('../data/5gyres.csv')
five_gyres.shape

(3238, 15)

In [4]:
aplastic_planet = pd.read_csv('../data/aplastic_planet.csv')
aplastic_planet.shape

(3215, 15)

In [5]:
DebrisTracker = pd.read_csv('../data/DebrisTracker.csv')
DebrisTracker.shape

(3192, 15)

In [6]:
globalalert = pd.read_csv('../data/globalalert.csv')
globalalert.shape

(3185, 15)

In [7]:
JackieSavitz = pd.read_csv('../data/JackieSavitz.csv')
JackieSavitz.shape

(3227, 15)

In [8]:
LifeWoutPlastic = pd.read_csv('../data/LifeWoutPlastic.csv')
LifeWoutPlastic.shape

(2962, 15)

In [9]:
merijntinga = pd.read_csv('../data/merijntinga.csv')
merijntinga.shape

(2291, 15)

In [10]:
MissionBlue = pd.read_csv('../data/MissionBlue.csv')
MissionBlue.shape

(3201, 15)

In [11]:
NewPlasticsEcon = pd.read_csv('../data/NewPlasticsEcon.csv')
NewPlasticsEcon.shape

(2069, 15)

In [12]:
oceana = pd.read_csv('../data/oceana.csv')
oceana.shape

(3218, 15)

In [13]:
oceanfdn = pd.read_csv('../data/oceanfdn.csv')
oceanfdn.shape

(3231, 15)

In [14]:
oceanunite = pd.read_csv('../data/oceanunite.csv')
oceanunite.shape

(3225, 15)

In [15]:
Oceanwarrior = pd.read_csv('../data/Oceanwarrior.csv')
Oceanwarrior.shape

(3206, 15)

In [16]:
OurOcean = pd.read_csv('../data/OurOcean.csv')
OurOcean.shape

(3236, 15)

In [17]:
PlasticBank = pd.read_csv('../data/PlasticBank.csv')
PlasticBank.shape

(3219, 15)

In [18]:
PlasticFreeJuly = pd.read_csv('../data/PlasticFreeJuly.csv')
PlasticFreeJuly.shape

(2813, 15)

In [19]:
PlasticOceans = pd.read_csv('../data/PlasticOceans.csv')
PlasticOceans.shape

(3218, 15)

In [20]:
PlasticOceansUS = pd.read_csv('../data/PlasticOceansUS.csv')
PlasticOceansUS.shape

(3215, 15)

In [21]:
plasticpdise = pd.read_csv('../data/plasticpdise.csv')
plasticpdise.shape

(1761, 15)

In [22]:
PlasticPollutes = pd.read_csv('../data/PlasticPollutes.csv')
PlasticPollutes.shape

(3203, 15)

In [23]:
PlasticsBeyond = pd.read_csv('../data/PlasticsBeyond.csv')
PlasticsBeyond.shape

(3221, 15)

In [24]:
plasticsoupfoun = pd.read_csv('../data/plasticsoupfoun.csv')
plasticsoupfoun.shape

(3233, 15)

In [25]:
RethinkPlastic = pd.read_csv('../data/RethinkPlastic.csv')
RethinkPlastic.shape

(2033, 15)

In [26]:
sascampaigns = pd.read_csv('../data/sascampaigns.csv')
sascampaigns.shape

(3205, 15)

In [27]:
SylviaEarle = pd.read_csv('../data/SylviaEarle.csv')
SylviaEarle.shape

(2932, 15)

In [28]:
TBPInnovate = pd.read_csv('../data/TBPInnovate.csv')
TBPInnovate.shape

(2324, 15)

In [29]:
TheOceanCleanup = pd.read_csv('../data/TheOceanCleanup.csv')
TheOceanCleanup.shape

(1872, 15)

In [30]:
ThePlasticWhale = pd.read_csv('../data/ThePlasticWhale.csv')
ThePlasticWhale.shape

(3235, 15)

In [31]:
files = [four_ocean, five_gyres, aplastic_planet, DebrisTracker, globalalert, JackieSavitz, 
         LifeWoutPlastic, merijntinga, MissionBlue, NewPlasticsEcon, oceana, oceanfdn, oceanunite, Oceanwarrior, 
         OurOcean, PlasticBank, PlasticFreeJuly, PlasticOceans, PlasticOceansUS, plasticpdise, 
         PlasticPollutes, PlasticsBeyond, plasticsoupfoun, RethinkPlastic, sascampaigns, SylviaEarle, TBPInnovate, 
         TheOceanCleanup, ThePlasticWhale]

twitter = pd.concat(files)
twitter.reset_index(drop=True, inplace=True)
twitter.drop(columns=['Unnamed: 0'], axis=1, inplace=True)
twitter.head()

,tweet_id,name,screen_name,retweet_count,text,created_at,favourite_count,hashtags,status_count,location,source_device,retweet_text,quote_text,quote_screen_name
0,1.280249e+18,4ocean,4ocean,0,@emigyaru You're helping to remove a pound a t...,2020-07-06 21:14:06,0,[],23814,NaN,Clarabridge Engage,None,None,None
1,1.280242e+18,4ocean,4ocean,0,@YankeeStephy We're stoked to hear this! We ho...,2020-07-06 20:45:49,0,[],23814,NaN,Clarabridge Engage,None,None,None
2,1.280211e+18,4ocean,4ocean,1,@lindalousnyder It looks like a great day to c...,2020-07-06 18:44:31,1,[],23814,NaN,Clarabridge Engage,None,None,None
3,1.280205e+18,4ocean,4ocean,0,@GatesKWilson @gates_middle @Surfrider Wow thi...,2020-07-06 18:21:57,1,[],23814,NaN,Clarabridge Engage,None,None,None
4,1.280205e+18,4ocean,4ocean,0,@ImpactEverythng Way to make an impact! We're ...,2020-07-06 18:18:48,0,"[{'text': 'plasticfreejuly', 'indices': [75, 9...",23814,NaN,Clarabridge Engage,None,None,None

In [32]:
twitter.dtypes

tweet_id             float64
name                  object
screen_name           object
retweet_count          int64
text                  object
created_at            object
favourite_count        int64
hashtags              object
status_count           int64
location              object
source_device         object
retweet_text          object
quote_text            object
quote_screen_name     object
dtype: object

In [33]:
twitter.isnull().sum()

tweet_id                 0
name                     0
screen_name              0
retweet_count            0
text                     0
created_at               0
favourite_count          0
hashtags                 0
status_count             0
location             84090
source_device            0
retweet_text             0
quote_text               0
quote_screen_name        0
dtype: int64

In [34]:
#twitter.isnull().any(axis=1)
#twitter[twitter.isnull().any(axis=1)]
#twitter[twitter['created_at'].isna()]

In [35]:
import datetime
import re

year_first = re.compile("\d{4}")

def convertDate(date):
    if year_first.match(date):
        return datetime.datetime.strptime(date, "%Y-%m-%d %H:%M:%S")
    else:
        return datetime.datetime.strptime(date, "%m/%d/%y %H:%M")
    
def extractYearAndMonth(date):
    year = str(date.year)
    month = date.month
    if month < 10:
        month = '0' + str(month)
    else:
        month = str(month)
    return year + '-' + month

def extractYear(date):
    return str(date.year)

def extractQuarter(date):
    quarter = str(date.year) + 'Q'
    if date.month < 4:
        quarter += '1'
    elif date.month < 7:
        quarter += '2'
    elif date.month < 10:
        quarter += '3'
    else:
        quarter += '4'
    return quarter

twitter['created_datetime'] = twitter['created_at'].apply(lambda date: convertDate(date))
twitter['year_month'] = twitter['created_datetime'].apply(lambda date: extractYearAndMonth(date))
twitter['year'] = twitter['created_datetime'].apply(lambda date: extractYear(date))
twitter['quarter'] = twitter['created_datetime'].apply(lambda date: extractQuarter(date))

twitter['absolute_reach'] = twitter['favourite_count'] / 2 + twitter['retweet_count']
twitter.head()

,tweet_id,name,screen_name,retweet_count,text,created_at,favourite_count,hashtags,status_count,location,source_device,retweet_text,quote_text,quote_screen_name,created_datetime,year_month,year,quarter,absolute_reach
0,1.280249e+18,4ocean,4ocean,0,@emigyaru You're helping to remove a pound a t...,2020-07-06 21:14:06,0,[],23814,NaN,Clarabridge Engage,None,None,None,2020-07-06 21:14:06,2020-07,2020,2020Q3,0.0
1,1.280242e+18,4ocean,4ocean,0,@YankeeStephy We're stoked to hear this! We ho...,2020-07-06 20:45:49,0,[],23814,NaN,Clarabridge Engage,None,None,None,2020-07-06 20:45:49,2020-07,2020,2020Q3,0.0
2,1.280211e+18,4ocean,4ocean,1,@lindalousnyder It looks like a great day to c...,2020-07-06 18:44:31,1,[],23814,NaN,Clarabridge Engage,None,None,None,2020-07-06 18:44:31,2020-07,2020,2020Q3,1.5
3,1.280205e+18,4ocean,4ocean,0,@GatesKWilson @gates_middle @Surfrider Wow thi...,2020-07-06 18:21:57,1,[],23814,NaN,Clarabridge Engage,None,None,None,2020-07-06 18:21:57,2020-07,2020,2020Q3,0.5
4,1.280205e+18,4ocean,4ocean,0,@ImpactEverythng Way to make an impact! We're ...,2020-07-06 18:18:48,0,"[{'text': 'plasticfreejuly', 'indices': [75, 9...",23814,NaN,Clarabridge Engage,None,None,None,2020-07-06 18:18:48,2020-07,2020,2020Q3,0.0

In [36]:
o2 = twitter[twitter['screen_name'] == 'oceana'] 
o2['quarter'].unique()

oc = twitter[twitter['screen_name'] == 'OurOcean'] 
oc['quarter'].unique()

fo = twitter[twitter['screen_name'] == '4ocean'] 
fo['quarter'].unique()

pb = twitter[twitter['screen_name'] == 'PlasticBank'] 
pb['quarter'].unique()

toc = twitter[twitter['screen_name'] == 'TheOceanCleanup'] 
toc['quarter'].unique()

mb = twitter[twitter['screen_name'] == 'MissionBlue'] 
mb['quarter'].unique()

se = twitter[twitter['screen_name'] == 'SylviaEarle'] 
se['quarter'].unique()

pbind = twitter[twitter['screen_name'] == 'PlasticBankIND'] 
pbind['quarter'].unique()

ofdn = twitter[twitter['screen_name'] == 'oceanfdn'] 
ofdn['quarter'].unique()

sas = twitter[twitter['screen_name'] == 'sascampaigns'] 
sas['quarter'].unique()

pp = twitter[twitter['screen_name'] == 'PlasticPollutes'] 
pp['quarter'].unique()

app = twitter[twitter['screen_name'] == 'aplastic_planet'] 
app['quarter'].unique()

plo = twitter[twitter['screen_name'] == 'PlasticOceans'] 
plo['quarter'].unique()

fg = twitter[twitter['screen_name'] == '5gyres'] 
fg['quarter'].unique()

ow = twitter[twitter['screen_name'] == 'Oceanwarrior'] 
ow['quarter'].unique()

psf = twitter[twitter['screen_name'] == 'plasticsoupfoun'] 
psf['quarter'].unique()

npec = twitter[twitter['screen_name'] == 'NewPlasticsEcon'] 
npec['quarter'].unique()

lwp = twitter[twitter['screen_name'] == 'LifeWoutPlastic'] 
lwp['quarter'].unique()

pfj = twitter[twitter['screen_name'] == 'PlasticFreeJuly'] 
pfj['quarter'].unique()

ou = twitter[twitter['screen_name'] == 'oceanunite'] 
ou['quarter'].unique()

ga = twitter[twitter['screen_name'] == 'globalalert'] 
ga['quarter'].unique()

rp = twitter[twitter['screen_name'] == 'RethinkPlastic'] 
rp['quarter'].unique()

js = twitter[twitter['screen_name'] == 'JackieSavitz'] 
js['quarter'].unique()

bbc = twitter[twitter['screen_name'] == 'bigbluecleanup'] 
bbc['quarter'].unique()

dt = twitter[twitter['screen_name'] == 'DebrisTracker'] 
dt['quarter'].unique()

tpw = twitter[twitter['screen_name'] == 'ThePlasticWhale'] 
tpw['quarter'].unique()

plpd = twitter[twitter['screen_name'] == 'plasticpdise'] 
plpd['quarter'].unique()

tbpi = twitter[twitter['screen_name'] == 'TBPInnovate'] 
tbpi['quarter'].unique()

pous = twitter[twitter['screen_name'] == 'PlasticOceansUS'] 
pous['quarter'].unique()

mert = twitter[twitter['screen_name'] == 'merijntinga'] 
mert['quarter'].unique()

plby = twitter[twitter['screen_name'] == 'PlasticsBeyond'] 
plby['quarter'].unique()

array(['2020Q3', '2020Q2', '2020Q1', '2019Q4', '2019Q3', '2019Q2'],
      dtype=object)

In [37]:
#trying to calculated estimated followers over time (per month) per account by taking avg retweets past month 
#and divide by avg retweets current month multiply by current month followers count
#calculated average number of retweets per month per account
avg_retweets_py = twitter.groupby(['screen_name','year'])['retweet_count'].mean()
avg_retweets_py

screen_name      year
4ocean           2020     62.474450
5gyres           2016      3.993007
                 2017      6.728209
                 2018     15.950605
                 2019    155.181982
                            ...
plasticsoupfoun  2018     76.615322
                 2019     21.969609
                 2020     18.896259
sascampaigns     2019    182.657594
                 2020     62.409487
Name: retweet_count, Length: 160, dtype: float64

In [38]:
twitter_hist = pd.read_csv('../data/twitter_history.csv')
twitter_hist.drop(columns=['Name'], inplace=True)
twitter_hist.set_index(['twitter_name'], inplace=True)
twitter_hist

,2020Q3,2020Q2,2020Q1,2019Q4,2019Q3,2019Q2,2019Q1,2018Q4,2018Q3,2018Q2,...,2012Q1,2011Q4,2011Q3,2011Q2,2011Q1,2010Q4,2010Q3,2010Q2,2010Q1,2009Q4
twitter_name,,,,,,,,,,,,,,,,,,,,,
oceana,"381,800","371,000","365,833","358,000","341,000",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OurOcean,"342,700","340,000","336,550","334,000","328,000","320,000","314,000","313,000","313,000",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4ocean,"243,700","249,000","252,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PlasticBank,"172,400","174,000","175,200","176,000","177,000","173,000","173,000","174,000","174,000","181,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TheOceanCleanup,"146,600","146,000","136,110","116,000","105,000","97,000","94,000","43,347","43,347","43,347",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MissionBlue,"124,100","122,000","120,282","119,821","115,000","114,386","111,000","109,000","107,000","107,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SylviaEarle,"133,600","131,000","129,927","128,000","125,000","124,000","120,000","119,000","117,000","109,000",...,"17,249","17,249","17,249","17,249","17,249","17,249",NaN,NaN,NaN,NaN
oceanfdn,"53,400","53,000","53,000","48,100","48,100","48,100","48,100","44,000","44,000","44,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sascampaigns,"52,700","51,600","51,600","50,300","47,500",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PlasticPollutes,"47,200","47,100","44,500","44,500","42,300","42,300","39,200","39,200","39,200","34,800",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
aplastic_planet,"36,700","36,600","36,600","29,600","29,600","21,400",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PlasticOceans,"26,200","26,200","26,200","26,200","26,200","22,900","22,900","22,900","22,900","22,900",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5gyres,"24,300","24,300","24,300","24,300","24,300","22,300","22,300","22,300","21,000","21,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Oceanwarrior,"23,600","23,038","22,475","21,913","21,350","20,788","20,225","19,663","19,100","18,538",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
plasticsoupfoun,"19,900","16,200","16,200","16,200","16,200","15,600","15,600","15,600","15,600","15,600",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NewPlasticsEcon,"15,300",NaN,NaN,NaN,NaN,"14,300","14,300","12,000","9,469","9,469",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
LifeWoutPlastic,"15,300","14,800","14,272","13,744","13,216","12,688","12,160","11,632","11,103","10,575",...,"1,685","1,685","1,685","1,685","1,685","1,685","1,685","1,685","1,685","1,685"
PlasticFreeJuly,"11,600","10,600","10,500","10,400","10,100","9,844","7,946","6,861","5,776","4,691",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
oceanunite,"9,523","9,127","8,616","8,371","8,022","7,672","7,323","6,973","6,973",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
globalalert,"9,287","9,374","9,460","9,547","9,634","9,720","9,807","9,894","9,980","10,067",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RethinkPlastic,"6,925","6,857","6,223","5,589","4,955","4,848","4,741","4,634","4,527","4,420",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
JackieSavitz,"6,802","6,721","6,328","6,313","6,038","5,762","5,682","5,602","5,522","5,442",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DebrisTracker,"5,493","5,373","5,253","5,004","4,881","4,734","4,587","4,440","4,293","4,146",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ThePlasticWhale,"3,265","3,214","3,162","3,071","2,980","2,888","2,797","2,719","2,640","2,562",...,606,527,449,NaN,NaN,NaN,NaN,NaN,NaN,NaN
plasticpdise,"2,692","2,885","3,078","3,271","3,464","3,658","3,851","4,044","4,237","4,430",...,406,406,406,406,NaN,NaN,NaN,NaN,NaN,NaN
TBPInnovate,"2,286","2,241","2,197","2,152","2,107","2,063","2,018","1,973","1,929","1,884",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PlasticOceansUS,"2,236","2,078","1,994","1,678","1,562","1,188","1,017",939,939,939,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
merijntinga,"2,092","2,092","2,092","2,092","2,092","2,092","2,092","2,092","2,092","2,092",...,"2,092","2,092","2,092","2,092","2,092",NaN,NaN,NaN,NaN,NaN
PlasticsBeyond,"2,001","2,001","2,001","2,001","2,001","2,001",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
estimated_followers=[]
relative_reach=[]
for index,row in twitter.iterrows():
    estimated_followers_tweet = twitter_hist.loc[row['screen_name'], row['quarter']]
    try:
        estimated_followers_tweet = int(estimated_followers_tweet.replace(",",""))
        relative_reach_tweet = 1000000 * row['absolute_reach'] / estimated_followers_tweet
    except:
        estimated_followers_tweet = float('NaN')
        relative_reach_tweet = float('NaN')

    estimated_followers.append(estimated_followers_tweet)
    relative_reach.append(relative_reach_tweet)

twitter['estimated_followers']=estimated_followers
twitter['relative_reach']=relative_reach

twitter

,tweet_id,name,screen_name,retweet_count,text,created_at,favourite_count,hashtags,status_count,location,...,retweet_text,quote_text,quote_screen_name,created_datetime,year_month,year,quarter,absolute_reach,estimated_followers,relative_reach
0,1.280249e+18,4ocean,4ocean,0,@emigyaru You're helping to remove a pound a t...,2020-07-06 21:14:06,0,[],23814,NaN,...,None,None,None,2020-07-06 21:14:06,2020-07,2020,2020Q3,0.0,243700,0.000000
1,1.280242e+18,4ocean,4ocean,0,@YankeeStephy We're stoked to hear this! We ho...,2020-07-06 20:45:49,0,[],23814,NaN,...,None,None,None,2020-07-06 20:45:49,2020-07,2020,2020Q3,0.0,243700,0.000000
2,1.280211e+18,4ocean,4ocean,1,@lindalousnyder It looks like a great day to c...,2020-07-06 18:44:31,1,[],23814,NaN,...,None,None,None,2020-07-06 18:44:31,2020-07,2020,2020Q3,1.5,243700,6.155109
3,1.280205e+18,4ocean,4ocean,0,@GatesKWilson @gates_middle @Surfrider Wow thi...,2020-07-06 18:21:57,1,[],23814,NaN,...,None,None,None,2020-07-06 18:21:57,2020-07,2020,2020Q3,0.5,243700,2.051703
4,1.280205e+18,4ocean,4ocean,0,@ImpactEverythng Way to make an impact! We're ...,2020-07-06 18:18:48,0,"[{'text': 'plasticfreejuly', 'indices': [75, 9...",23814,NaN,...,None,None,None,2020-07-06 18:18:48,2020-07,2020,2020Q3,0.0,243700,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85404,9.597110e+16,Plastic Whale,ThePlasticWhale,1,Doodt plastic afval walvissen? http://yhoo.it/...,7/26/11 21:37,1,"[{'text': 'plasticsoep', 'indices': [53, 65]},...",3858,NaN,...,None,None,None,2011-07-26 21:37:00,2011-07,2011,2011Q3,1.5,449,3340.757238
85405,9.593540e+16,Plastic Whale,ThePlasticWhale,0,"@DanielleHutter Aha. Nou, ze hebben mij aangeb...",7/26/11 19:15,0,[],3858,NaN,...,None,None,None,2011-07-26 19:15:00,2011-07,2011,2011Q3,0.0,449,0.000000
85406,9.593130e+16,Plastic Whale,ThePlasticWhale,4,RT @CleanBinProject: Plastic Bag Wars - even R...,7/26/11 18:59,0,[],3858,NaN,...,Plastic Bag Wars - even Rolling Stone is takin...,None,None,2011-07-26 18:59:00,2011-07,2011,2011Q3,4.0,449,8908.685969
85407,9.589500e+16,Plastic Whale,ThePlasticWhale,0,@DanielleHutter Welke vraag?,7/26/11 16:35,0,[],3858,NaN,...,None,None,None,2011-07-26 16:35:00,2011-07,2011,2011Q3,0.0,449,0.000000
85408,9.578290e+16,Plastic Whale,ThePlasticWhale,0,Ligt Facebook er nou uit of ligt dat aan mij(n...,7/26/11 9:09,0,[],3858,NaN,...,None,None,None,2011-07-26 09:09:00,2011-07,2011,2011Q3,0.0,449,0.000000

In [40]:
sample = [500, 1000, 2000, 4000, 8000, 16000, 32000, 64000, 8000]
for index in sample:
    row = twitter.loc[index]
    print(index, row.screen_name, row.quarter, row.estimated_followers, row.absolute_reach, row.relative_reach)

500 4ocean 2020Q2 249000 0.5 2.0080321285140563
1000 4ocean 2020Q2 249000 0.5 2.0080321285140563
2000 4ocean 2020Q1 252000 0.5 1.9841269841269842
4000 5gyres 2018Q4 22300 20.5 919.2825112107623
8000 aplastic_planet 2020Q1 36600 62.5 1707.6502732240438
16000 globalalert 2017Q1 10500 0.0 0.0
32000 oceana 2019Q4 358000 27.0 75.41899441340782
64000 PlasticsBeyond 2020Q2 2001 322.0 160919.54022988505
8000 aplastic_planet 2020Q1 36600 62.5 1707.6502732240438

In [41]:
twitter.isnull().sum()

tweet_id                   0
name                       0
screen_name                0
retweet_count              0
text                       0
created_at                 0
favourite_count            0
hashtags                   0
status_count               0
location               84090
source_device              0
retweet_text               0
quote_text                 0
quote_screen_name          0
created_datetime           0
year_month                 0
year                       0
quarter                    0
absolute_reach             0
estimated_followers        0
relative_reach             0
dtype: int64

In [42]:
missing = twitter[twitter['estimated_followers'].isna()]
missing

Empty DataFrame
Columns: [tweet_id, name, screen_name, retweet_count, text, created_at, favourite_count, hashtags, status_count, location, source_device, retweet_text, quote_text, quote_screen_name, created_datetime, year_month, year, quarter, absolute_reach, estimated_followers, relative_reach]
Index: []

[0 rows x 21 columns]

In [43]:
twitter.head()

,tweet_id,name,screen_name,retweet_count,text,created_at,favourite_count,hashtags,status_count,location,...,retweet_text,quote_text,quote_screen_name,created_datetime,year_month,year,quarter,absolute_reach,estimated_followers,relative_reach
0,1.280249e+18,4ocean,4ocean,0,@emigyaru You're helping to remove a pound a t...,2020-07-06 21:14:06,0,[],23814,NaN,...,None,None,None,2020-07-06 21:14:06,2020-07,2020,2020Q3,0.0,243700,0.000000
1,1.280242e+18,4ocean,4ocean,0,@YankeeStephy We're stoked to hear this! We ho...,2020-07-06 20:45:49,0,[],23814,NaN,...,None,None,None,2020-07-06 20:45:49,2020-07,2020,2020Q3,0.0,243700,0.000000
2,1.280211e+18,4ocean,4ocean,1,@lindalousnyder It looks like a great day to c...,2020-07-06 18:44:31,1,[],23814,NaN,...,None,None,None,2020-07-06 18:44:31,2020-07,2020,2020Q3,1.5,243700,6.155109
3,1.280205e+18,4ocean,4ocean,0,@GatesKWilson @gates_middle @Surfrider Wow thi...,2020-07-06 18:21:57,1,[],23814,NaN,...,None,None,None,2020-07-06 18:21:57,2020-07,2020,2020Q3,0.5,243700,2.051703
4,1.280205e+18,4ocean,4ocean,0,@ImpactEverythng Way to make an impact! We're ...,2020-07-06 18:18:48,0,"[{'text': 'plasticfreejuly', 'indices': [75, 9...",23814,NaN,...,None,None,None,2020-07-06 18:18:48,2020-07,2020,2020Q3,0.0,243700,0.000000

In [44]:
cols = ['tweet_id', 'created_at', 'status_count', 'location', 'source_device', 'retweet_text', 'quote_text', 'quote_screen_name']
twitter_mod = twitter.drop(columns=cols)
twitter_mod

,name,screen_name,retweet_count,text,favourite_count,hashtags,created_datetime,year_month,year,quarter,absolute_reach,estimated_followers,relative_reach
0,4ocean,4ocean,0,@emigyaru You're helping to remove a pound a t...,0,[],2020-07-06 21:14:06,2020-07,2020,2020Q3,0.0,243700,0.000000
1,4ocean,4ocean,0,@YankeeStephy We're stoked to hear this! We ho...,0,[],2020-07-06 20:45:49,2020-07,2020,2020Q3,0.0,243700,0.000000
2,4ocean,4ocean,1,@lindalousnyder It looks like a great day to c...,1,[],2020-07-06 18:44:31,2020-07,2020,2020Q3,1.5,243700,6.155109
3,4ocean,4ocean,0,@GatesKWilson @gates_middle @Surfrider Wow thi...,1,[],2020-07-06 18:21:57,2020-07,2020,2020Q3,0.5,243700,2.051703
4,4ocean,4ocean,0,@ImpactEverythng Way to make an impact! We're ...,0,"[{'text': 'plasticfreejuly', 'indices': [75, 9...",2020-07-06 18:18:48,2020-07,2020,2020Q3,0.0,243700,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
85404,Plastic Whale,ThePlasticWhale,1,Doodt plastic afval walvissen? http://yhoo.it/...,1,"[{'text': 'plasticsoep', 'indices': [53, 65]},...",2011-07-26 21:37:00,2011-07,2011,2011Q3,1.5,449,3340.757238
85405,Plastic Whale,ThePlasticWhale,0,"@DanielleHutter Aha. Nou, ze hebben mij aangeb...",0,[],2011-07-26 19:15:00,2011-07,2011,2011Q3,0.0,449,0.000000
85406,Plastic Whale,ThePlasticWhale,4,RT @CleanBinProject: Plastic Bag Wars - even R...,0,[],2011-07-26 18:59:00,2011-07,2011,2011Q3,4.0,449,8908.685969
85407,Plastic Whale,ThePlasticWhale,0,@DanielleHutter Welke vraag?,0,[],2011-07-26 16:35:00,2011-07,2011,2011Q3,0.0,449,0.000000
85408,Plastic Whale,ThePlasticWhale,0,Ligt Facebook er nou uit of ligt dat aan mij(n...,0,[],2011-07-26 09:09:00,2011-07,2011,2011Q3,0.0,449,0.000000

In [45]:
twitter_mod.to_csv('twitter_modified.csv')

twitter_mod['screen_name'].unique()

array(['4ocean', '5gyres', 'aplastic_planet', 'DebrisTracker',
       'globalalert', 'JackieSavitz', 'LifeWoutPlastic', 'merijntinga',
       'MissionBlue', 'NewPlasticsEcon', 'oceana', 'oceanfdn',
       'oceanunite', 'Oceanwarrior', 'OurOcean', 'PlasticBank',
       'PlasticFreeJuly', 'PlasticOceans', 'PlasticOceansUS',
       'plasticpdise', 'PlasticPollutes', 'PlasticsBeyond',
       'plasticsoupfoun', 'RethinkPlastic', 'sascampaigns', 'SylviaEarle',
       'TBPInnovate', 'TheOceanCleanup', 'ThePlasticWhale'], dtype=object)